<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="PluginAfterLayoutProcessor"
                type="CJ\AmastyCheckoutCore\Plugin\AfterLayoutProcessor"
                sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Controller\Cart\Index">
        <plugin name="remove_shipping_charge_cart_page"
                type="CJ\AmastyCheckoutCore\Plugin\Magento\Checkout\Controller\Cart\Index"
                sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="custom_checkout_config" xsi:type="object">CJ\AmastyCheckoutCore\Model\CheckoutConfig</item>
            </argument>
        </arguments>
    </type>
</config>
