<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogInventory\Model\Quote\Item\QuantityValidator\QuoteItemQtyList" type="CJ\CatalogInventory\Override\Model\Quote\Item\QuantityValidator\QuoteItemQtyList" />
</config>
