// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@product-grid-items-per-row-layout-default: 2;

@product-grid-items-per-row-layout-1-screen-s: 3;
@product-grid-items-per-row-layout-1-screen-m: 4;
@product-grid-items-per-row-layout-1-screen-l: 5;

@product-grid-items-per-row-layout-2-left-screen-s: 3;
@product-grid-items-per-row-layout-2-left-screen-m: 4;
@product-grid-items-per-row-layout-2-left-screen-l: '';

@product-grid-items-per-row-layout-2-right-screen-s: 3;
@product-grid-items-per-row-layout-2-right-screen-m: 4;
@product-grid-items-per-row-layout-2-right-screen-l: '';

@product-grid-items-per-row-layout-3-screen-s: 3;
@product-grid-items-per-row-layout-3-screen-m: '';
@product-grid-items-per-row-layout-3-screen-l: '';

@product-grid-items-padding: 0 @indent__base @indent__base;
@product-grid-items-margin: 0 0 @indent__s;

@product-name-text-decoration: none;
@product-name-text-decoration-hover: @link__hover__text-decoration;

@toolbar-mode-icon-font-size: 16px;
@toolbar-background: transparent;
@toolbar-element-background: @color-gray94;
@toolbar-element__color: @color-gray37;
@product-h1-margin-bottom-desktop: @indent__base;

@import 'module/_listings.less';
@import 'module/_toolbar.less';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Category view
    //  ---------------------------------------------

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ': ';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                .price {
                    .lib-font-size(11);
                }

                &:before {
                    content: ' +' attr(data-label) ': ';
                }
            }
        }
    }

    .product-add-form {
        border-top: 1px solid @secondary__color;
    }

    .qty-selector {
        .lib-button(
            @_button-icon-use: true,
            @_button-padding: 0,
            @_button-background: transparent,
            @_button-border: 1px solid @secondary__color,
            @_button-font-content: @icon-expand,
            @_button-icon-font-size: 24px,
            @_button-line-height: 33px,
            @_button-icon-font-text-hide: true,
            @_button-icon-font-line-height: 33px
        );
        float: left;
        width: 35px;
    }

    .qty-decrease {
        .lib-icon-font-symbol(
            @_icon-font-content: @icon-collapse,
            @_icon-font-position: before
        );

        &:before {
            color: #a3a3a3;
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        &:extend(.abs-product-link all);
    }

    .category-image {
        .image {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }

    .category-image,
    .category-description {
        margin-bottom: @indent__l;

        [data-content-type='row'][data-appearance='contained'] {
            max-width: 100%;

            [data-element='inner'] {
                padding: 0 !important;
            }
        }
    }

    //
    //  Product images general container
    //  ---------------------------------------------

    .product-image-container {
        display: inline-block;
        max-width: 100%;
    }

    .product-image-wrapper {
        display: block;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .product-image-photo {
        bottom: 0;
        display: block;
        height: auto;
        left: 0;
        margin: auto;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }

    //
    //  Product view
    //  ---------------------------------------------

    .product.media {
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .notice {
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
            margin: @indent__s 0;
        }

        .product.thumbs {
            margin: @indent__base 0 @indent__l;
        }

        .items.thumbs {
            .lib-list-inline();

            .active {
                display: block;
                line-height: 1;
            }
        }
    }

    .product.info.detailed {
        clear: both;
        margin-bottom: 30px;

        .additional-attributes {
            width: auto;
            .lib-table-resize(
            @_th-padding-left: 0,
            @_th-padding-right: @indent__l,
            @_th-padding-bottom: @indent__s,
            @_td-padding-bottom: @indent__s
            );
        }
    }

    .page-title-wrapper.product {
        .page-title {
            font-weight: @font-weight__regular;
            line-height: 36px;
            letter-spacing: -0.4px;
            margin-bottom: 8px;
        }

        .hash-tag {
            margin-bottom: @indent__s;
        }
    }

    .hash-tag {
        .value {
            .lib-font-size(16);
            box-shadow: inset 0 -10px 0 #d1e2fc;
            display: inline-block;

            &:last-child {
                margin-left: 26px;
            }
        }
    }

    .product-info-main {
        .stock {
            &.available,
            &.unavailable {
                display: inline-block;
                font-weight: @font-weight__bold;
                margin-right: @indent__base;
                text-transform: uppercase;
                vertical-align: top;
            }
        }

        .product {
            &.attribute {
                &.sku {
                    display: inline-block;
                    vertical-align: top;
                    .lib-css(color, @text__color__muted);

                    > .value {
                        display: inline-block;
                        vertical-align: top;
                        word-break: break-all;
                    }

                    .type {
                        margin-right: @indent__xs;
                    }
                }
            }

            &.alert {
                margin: @indent__s 0;
            }
        }

        .product-reviews-summary .reviews-actions {
            .lib-font-size(@font-size__base);
        }
    }

    .product-options-wrapper {
        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__bold);
                .lib-css(margin, 0 0 @indent__xs);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                        @_font-size: @form-field-label-asterisk__font-size,
                        @_color: @form-field-label-asterisk__color,
                        @_font-family: @form-field-label-asterisk__font-family,
                        @_font-weight: @form-field-label-asterisk__font-weight,
                        @_line-height: @form-field-label-asterisk__line-height,
                        @_font-style: @form-field-label-asterisk__font-style
                        );
                        .lib-css(margin, @form-field-label-asterisk__margin);
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
            }

            .price-notice {
                &:extend(.abs-adjustment-incl-excl-tax all);
            }
        }
    }

    .product-info-main,
    .product-options-bottom {
        .product-social-links {
            position: relative;
            text-align: right;
        }

        .price-box {
            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .price {
                    .lib-font-size(20);
                    line-height: @indent__l;
                }
            }

            .price-wrapper .price {
                .lib-font-size(20);
            }

            .price {
                white-space: nowrap;
            }
        }

        .field.qty {
            display: inline-block;
            margin-bottom: 0;
        }

        .laneige-size {
            .lib-font-size(16);
            color: @primary__color__darker;
            display: inline-block;
            letter-spacing: -0.4px;
            margin-right: @indent__s;
            vertical-align: top;
        }

        .product-info-price {
            display: inline-block;
            float: right;
            line-height: 35px;
        }

        .special-price {
            .price-container {
                .lib-font-size(14);
            }

            .price-label + .price-wrapper {
                display: inline-block;
            }
        }

        .old-price,
        .special-price {
            .price-label {
                &:after {
                    content: ': ';
                }
            }
        }

        .box-tocart {
            .field.qty {
                margin-bottom: 0;
            }

            .input-text.qty {
                border-left: none;
                border-right: none;
                float: left;
                height: 35px;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                width: 35px;
            }

            .product-info-price + .actions {
                padding-top: 15px;
            }

            .actions {
                text-align: center;

                button {
                    &:extend(.abs-button-l all);
                    text-transform: uppercase;
                }
            }
        }

        .product-addto-links {
            display: inline-block;
            padding-right: 8px;
            margin: 0;
            vertical-align: middle;
        }

        .action.towishlist {
            .lib-link-as-button();
            .lib-button(
                @_button-color: @primary__color__lighter,
                @_button-icon-use: true,
                @_button-padding: 0,
                @_button-background: transparent,
                @_button-border: none,
                @_button-background-hover: transparent,
                @_button-color-hover: #ff4c4c,
                @_button-border-hover: none,
                @_button-background-active: transparent,
                @_button-color-active: #ff4c4c,
                @_button-border-active: none,
                @_button-font-content: @icon-wishlist-empty,
                @_button-icon-font-size: 24px,
                @_button-line-height: @indent__xl,
                @_button-icon-font-text-hide: true,
                @_button-icon-font-line-height: @indent__xl
            );

            &:hover,
            &:focus,
            &:active {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-wishlist-full,
                    @_icon-font-position: before
                );
            }
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        .lib-css(background, @sidebar__background-color);
        margin: @indent__s 0;
        padding: @indent__s (.75 * @indent__base);

        .price-container {
            display: inline-block;
        }

        .price-including-tax,
        .price-excluding-tax,
        .weee {
            display: inline-block;

            .price {
                .lib-font-size(14);
                font-weight: @font-weight__bold;
            }
        }
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    .block.upsell,
    .block.related {
        h2 {
            font-size: 26px;
            margin-bottom: @indent__xl;
            text-align: center;
        }

        .action.select {
            margin: 0 @indent__xs;
        }
    }

    //
    //  Sidebar product view
    //  ---------------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
            }

            .product-item-info {
                position: relative;
                width: auto;

                .product-item-photo {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
            }

            .product-item-details {
                margin: 0 0 0 85px;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                .lib-font-size(12);
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }
        }

        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                line-height: unset;
                position: absolute;
                right: 0;
                top: -1px;
                width: auto;
            }
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  ---------------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  ---------------------------------------------

        .product-items-names {
            .product-item {
                display: flex;
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
            }
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .category-view {
            h2[data-content-type='heading'] {
                padding: 82px 0;
            }

            &  ~ .page-main {
                .page-title-wrapper {
                    display: none;
                }
            }
        }

        .page-title-wrapper {
            text-align: center;
        }

        .column.main {
            min-height: inherit;
        }
    }

    .product.info.detailed {
        .additional-attribute {
            border-bottom: 1px solid #eaeaea;
        }

        .attribute-title {
            .lib-font-size(18);
            border-top: 1px solid #eaeaea;
            cursor: pointer;
            color: @primary__color__darker;
            padding: 16px 20px 16px 24px;

            span {
                .lib-icon-font(
                        @icon-expand,
                    @_icon-font: @icon-font,
                    @_icon-font-size: 20px,
                    @_icon-font-line-height: 20px,
                    @_icon-font-color: @primary__color__lighter,
                    @_icon-font-color-hover: @primary__color__lighter,
                    @_icon-font-color-active: @primary__color__lighter,
                    @_icon-font-margin: 0,
                    @_icon-font-vertical-align: middle,
                    @_icon-font-position: after,
                    @_icon-font-display: none
                );
                display: block;
                position: relative;

                &:after {
                    position: absolute;
                    right: 0;
                }
            }

            &.active {
                span {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-collapse,
                        @_icon-font-position: after
                    );
                }
            }
        }

        .attribute-content {
            display: none;

            &.active {
                display: block;
            }

            [data-content-type='row'][data-appearance='contained'] [data-element='inner'] {
                margin-bottom: 0 !important;

                p {
                    .lib-font-size(14);
                    color: @primary__color__darker;
                    line-height: 22px;
                    letter-spacing: 0.4px;
                }
            }
        }
    }

    .fotorama__dot {
        background-color: rgba(0, 0, 0, 0.5) !important;
        height: 6px !important;
        width: 6px !important;
    }

    .fotorama__nav--dots .fotorama__nav__frame {
        width: 22px !important;
    }

    .fotorama__active .fotorama__dot {
        background-color: transparent !important;
        border-width: 2px !important;
        height: 8px !important;
        top: @indent__s !important;
        width: 8px !important;
    }

    .tab-contents {
        .data.item.content[aria-labelledby=tab-label-description-title] {
            .content-title {
                display: none;
            }
        }

        .content-title {
            letter-spacing: -0.4px;
            margin-bottom: @indent__xl;
            text-align: center;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .product-options-wrapper {
        .options-toggle {
            .lib-icon-font(
                    @icon-expand,
                @_icon-font: @icon-font,
                @_icon-font-size: 20px,
                @_icon-font-line-height: 26px,
                @_icon-font-color: @primary__color__lighter,
                @_icon-font-color-hover: @primary__color__lighter,
                @_icon-font-color-active: @primary__color__lighter,
                @_icon-font-margin: 0,
                @_icon-font-vertical-align: middle,
                @_icon-font-position: after,
                @_icon-font-display: block
            );
            .lib-font-size(16);
            color: @primary__color__lighter;
            position: absolute;
            right: @layout__width-xs-indent;

            &:after {
                position: relative;
                top: -2px;
            }

            &.active {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-collapse,
                    @_icon-font-position: after
                );

                & + .fieldset {
                    .swatch-attribute-options {
                        display: block;
                        height: auto;
                    }
                }
            }
        }
    }

    .page-title-wrapper.product {
        text-align: center;

        .page-title {
            .lib-font-size(26);
        }

        .product-reviews-summary {
            margin: 0 auto;
        }
    }

    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        .page-title-wrapper.product {
            .lib-vendor-prefix-order(-2);
        }

        .product.media {
            .lib-vendor-prefix-order(-1);
            margin-top: @indent__base;
        }
    }

    .product-info-main,
    .product-options-bottom {
        .product-social-links {
            position: relative;
            top: -147px;
        }

        .box-tocart {
            margin: @indent__s 0;

            .field.qty {
                margin: 0;

                input,
                button,
                button:before {
                    line-height: @indent__l !important;
                    height: 32px;
                }
            }

            .laneige-size {
                line-height: @indent__l;
            }

            .actions {
                clear: both;

                &:not(.sticky) {
                    margin-left: -@layout__width-xs-indent;
                    margin-right: -@layout__width-xs-indent;
                    padding-top: 95px;
                }

                &.sticky {
                    bottom: 0;
                    left: 0;
                    position: fixed;
                    right: 0;
                    z-index: 4;
                }

                button {
                    display: inline-block;
                    float: left;
                    width: 50%;
                }

                .tocart {
                    .lib-button-primary(
                        @_button-padding: 22px 0
                    );

                    &.disabled {
                        width: 100% !important;
                    }
                }

                .tocheckout {
                    .lib-button-l(
                        @_button-l-padding: 22px 0
                    );
                    &:extend(.abs-revert-secondary-blue-color-mobile all);
                }
            }

            .price-box {
                .lib-vendor-prefix-flex-direction(row);
                line-height: @indent__l;

                .special-price {
                    margin-top: 0;
                    margin-left: @indent__xs;
                }
            }
        }

        .product {
            &.attribute {
                &.overview {
                    margin: 0;

                    &:before {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .block.related {
        .action.select {
            display: block;
            margin: @indent__xs 0;
        }
    }

    .compare,
    .product-addto-links .action.tocompare,
    .product-item-actions .actions-secondary > .action.tocompare,
    [class*='block-compare'] {
        display: none;
    }

    .product-info-top-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
    }

    .tab-contents {
        padding-top: 24px;

        .content-title {
            .lib-font-size(26);
            line-height: 38px;
            margin-bottom: @indent__xl;
        }
    }

    .product.info.detailed {
        .data.item.content[aria-labelledby=tab-label-reviews-title],
        [data-content-type=row][data-appearance=contained] [data-element=inner] {
            padding-left: @layout__width-xs-indent !important;
            padding-right: @layout__width-xs-indent !important;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product.media {
        .fotorama__arr__arr {
            top: 41% !important;
        }
    }

    .product-options-wrapper {
        .options-toggle {
            display: none;
        }
    }
    .product-info-main,
    .product-options-bottom {
        .box-tocart {
            margin: @indent__base 0 29px 0;
            overflow: hidden;

            .actions {
                button {
                    width: 48%;

                    &:nth-child(odd) {
                        float: left;
                        clear: left;
                    }

                    &:nth-child(even) {
                        float: right;
                    }
                }
            }
        }

        .product {
            &.attribute {
                &.overview {
                    margin: 18px 0 @indent__l;
                }
            }
        }

        .laneige-size {
            line-height: 35px;
        }
    }

    .page-title-wrapper.product {
        .page-title {
            .lib-font-size(28);
        }

        .hash-tag {
            padding-left: 8px;
        }
    }

    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: left;
                    left: auto;
                    margin: 0 @indent__s @indent__s 0;
                    position: relative;
                    top: auto;
                }
            }

            .product-item-details {
                margin: 0;
            }

            .product-item-actions {
                clear: left;
            }
        }
    }

    .product-add-form {
        &:extend(.abs-revert-field-type-desktop all);
    }

    .catalog-category-view.page-layout-1column {
        .category-view {
            h2[data-content-type='heading'] {
                padding: 137px 0;
            }
        }
    }

    .fotorama__stage__frame {
        .fotorama__img {
            left: 55% !important;
            top: 41% !important;
        }
    }

    .fotorama__arr--prev {
        left: 8% !important;
    }

    .tab-contents {
        .content-title {
            .lib-font-size(28);
            line-height: 36px;
        }
    }

    .product.info.detailed {
        .attribute-content {
            [data-content-type=row][data-appearance=contained] [data-element=inner] {
                padding-left: 24px !important;
                padding-right: 24px !important;
            }
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: none;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-details {
                margin-left: 85px;
            }
        }
    }

    .catalog-product-view:not(.page-product-configurable) {
        .product.info.detailed {
            margin-top: -3.5%;
        }
    }
}

//
//  Category page layout
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .category-image,
    .category-description {
        margin-bottom: @indent__xl;
    }

    .product-info-main {
        clear: right;
        float: right;
    }

    .product.media {
        margin-bottom: @indent__m;
    }

    .page-layout-1column {
        .page-title-wrapper.product {
            clear: right;
            float: right;
        }

        .page-title-wrapper.product,
        .product-info-main {
            width: 42.36111111111%;
        }
        .product.media {
            width: 47%;
            max-width: 550px;
        }

        &.catalog-product-view main.page-main {
            max-width: 100% !important;
            padding: 0 !important;
        }

        .product-info-top-wrapper {
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: @layout__max-width;
            padding-left: @layout-indent__width;
            padding-right: @layout-indent__width;
            width: auto;
        }

        .tab-contents {
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: 1040px;
            padding-left: @layout-indent__width;
            padding-right: @layout-indent__width;
            padding-top: 13px;
            width: auto;
        }
    }

    .block.upsell,
    .block.related {
        h2 {
            font-size: 28px;
            margin-bottom: @indent__s;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 50%;
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Compare Products Page
    //  ---------------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
    }

    .table-comparison {
        table-layout: fixed;

        .cell.label.remove,
        .cell.label.product {
            span {
                &:extend(.abs-visually-hidden all);
            }
        }

        .cell.label,
        td:last-child {
            border-right: @table__border-width @table__border-style @table__border-color;
        }

        .cell {
            padding: 15px;
            width: 140px;

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }

            &.product.info,
            &.product.label {
                border-bottom: @table__border-width @table__border-style @table__border-color;
            }

            &.label {
                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            &.attribute {
                .lib-font-size(13);
                img {
                    height: auto;
                    max-width: 100%;
                }
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
        }

        .product-addto-links {
            margin-top: 15px;

            .action.split,
            .action.toggle {
                .lib-button-s();
            }

            .action.toggle {
                padding: 0;
            }
        }

        .cell.remove {
            padding-bottom: 0;
            padding-top: 0;
            text-align: right;

            .action.delete {
                &:extend(.abs-remove-button-for-blocks all);
            }
        }

        .product-item-actions {
            > .actions-primary {
                + .actions-secondary {
                    margin-top: @indent__s;
                }
            }
        }

        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @page__background-color);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-title all);
        }

        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                left: -6px;
                position: absolute;
                top: 0;
            }

            &.compare {
                &:extend(.abs-revert-secondary-color all);
            }
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            margin: 17px 0 0;
        }
    }
}
