<?xml version="1.0"?>
<!--
/**
* @author Eguana Team
* @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
* Created by PhpStorm
* User: yasir
* Date: 6/12/20
* Time: 2:48 AM
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="hidebutton" type="Eguana\EcommerceStatus\Plugin\RemoveAddToButton" sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\Controller\Cart\Index">
        <plugin name="redirectFromCart" type="Eguana\EcommerceStatus\Plugin\RedirectFromCart" sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="redirectFromCheckout" type="Eguana\EcommerceStatus\Plugin\RedirectFromCheckout" sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Controller\Order\History">
        <plugin name="redirectFromOrderHistory" type="Eguana\EcommerceStatus\Plugin\RedirectFromOrderHistory" sortOrder="1"/>
    </type>
    <type name="Magento\Wishlist\Model\Wishlist">
        <plugin name="hideWishlistCartButton" type="Eguana\EcommerceStatus\Plugin\Wishlist" sortOrder="1"/>
    </type>
    <preference for="Magento\Wishlist\Block\Customer\Wishlist\Button" type="Eguana\EcommerceStatus\Block\Customer\Wishlist\Button" />
</config>
