<?xml version="1.0"?>
<!--
/**
* @author Eguana Team
* @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
* Created by PhpStorm
* User: umer
* Date: 16/9/20
* Time: 8:39 PM
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Helper\Data">
        <plugin name="show_price_for_out_of_stock_configurable_product" type="Eguana\CustomCatalog\Plugin\Helper\Data"/>
    </type>
    <type name="Magento\ConfigurableProduct\Model\ConfigurableAttributeData">
        <plugin name="add_out_of_stock_for_configurable_product" type="Eguana\CustomCatalog\Plugin\Model\ConfigurableAttributeData"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Pricing\Renderer\SalableResolver">
        <plugin name="show_out_of_stock_configurable_product_price" type="Eguana\CustomCatalog\Plugin\Model\Product\Pricing\Renderer\SalableResolver"/>
    </type>
    <type name="Magento\ConfigurableProduct\Pricing\Price\ConfigurablePriceResolver">
        <plugin name="show_out_of_stock_child_configurable_product_price" type="Eguana\CustomCatalog\Plugin\Pricing\Price\ConfigurablePriceResolver"/>
    </type>
</config>
