& when (@media-common = true) {
   #discount-coupon-form {
       .label {
           display: none;
       }

       .coupon .actions-toolbar {
           display: flex;
           justify-content: space-between;
       }
   }

    .modal-header {
        background: #FF9224;
        font-style: normal;
        font-weight: bold;
        margin: 0px;
        text-transform: uppercase;
        font-size: 28px;
        line-height: 33px;
        color: #FFFFFF;
        padding: 0;
    }

    h1.modal-title{
        font-size: 28px;
        line-height: 33px;
        color: #FFFFFF;
        padding-top: 15px;
        padding-bottom: 11px;
        padding-left: 30px;
        padding-right: 10px;
        border-bottom: 0;
        font-weight: bold;
    }

    .block-discount {
        position: relative;
        float: right;
        top: 95px;
        width: 33.33333333%;
        padding: 30px;
        box-sizing: border-box;
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {

    .sidebar-additional {
        padding-left: 2.5%;
    }
}
