.catalog-category-view .column.main {
    min-height: auto;
}
.design-html-view {
    #maincontent {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    button {
        cursor: pointer;
        -webkit-appearance: none;
        overflow: visible;
        box-sizing: content-box;
        border: 0;
        background: 0;
        font-weight: normal;
        padding: 0.4em 1em;
        &:hover , &:active , &:focus {
            background: 0;
            border: 0;
            color: initial;
            outline: 0 !important;
        }
    }
}
.modal-popup .modal-footer {
    display: flex;
    margin: 0 -10px;
    button {
        margin: 0 10px;
    }
}
.action-secondary {
    border: 1px solid #222;
    color: #222;
}

@media only all and (max-width: 1075px) {
    .l-wrap {
        padding: 0 4.8%;
    }
}
@media only all and (max-width: 1023px) {
    .l-wrap {
        padding: 0 30px;
    }
}
@media only all and (max-width: 767px) {
    .design-html-view #maincontent {
        padding: 0;
    }
    .l-wrap {
        padding: 0 15px;
    }
    .l-full {
        padding-left: 0;
        padding-right: 0;
    }

}
#search_wrapper {
    position: absolute;
    right: 0;
    top: 67px;
    background: #fff;
    z-index: 100;
    border: 1px solid #fff;
    width: 100%;
    box-sizing: border-box;
    display: none;
    padding: 25px 40px 25px;
    color: #222;
    #search_history_list {
        text-align: left;
        li {
            display: block;
            margin-right: 0;
            .search_history_item {
                padding: 0;
                cursor: pointer;
                display: block;
                font-size: 14px;
                &::after {
                    content: "\e616";
                    font-family: 'icons';
                    font-size: 8px;
                    margin-left: 5px;
                    float: right;
                    margin-top: 5px;
                }
            }
        }
    }
    .search_history_top {
        text-align: left;
        padding: 0 0 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
        h2 {
            font-size: 16px;
            font-family: 'Theinhardt','NotoSans', arial;
            margin: 0;
        }
        .delete_all_search {
            font-size: 14px;
            border-bottom: 1px solid #767676;
            position: absolute;
            bottom: 35px;
        }
    }
    .search-autocomplete {
        position: static !important;
        margin: 0;
        max-width: 100%;
        clear: both;
        ul li:not(:empty) {
            border: 0;
        }
        .highlighted {
            color: #b17c5c;
        }
    }
    #search_history {
        width: 50%;
        padding-right: 20px;
        box-sizing: border-box;
        position: static;
        padding-bottom: 35px;
        float: left;
    }
    #search_trending {
        width: 50%;
        padding-left: 20px;
        box-sizing: border-box;
        position: relative;
        float: left;
        #search_trending_list {
            text-align: left;
            font-size: 14px;
            .rank {
                color: #cd7e3e;
                font-weight: 300;
            }
            .normal::after {
                float: right;
                content: "\e60f";
                font-family: 'icons';
                font-size: 9px;
            }
            .down::after {
                content: "";
                border: 5px solid #767676;
                display: inline-block;
                padding: 0;
                border-left-color: transparent;
                border-right-color: transparent;
                border-bottom: 0;
                float: right;
                margin-top: 5px;
            }
            .up::after {
                content: "";
                border: 5px solid #cd7e3e;
                display: inline-block;
                padding: 0;
                border-left-color: transparent;
                border-right-color: transparent;
                border-top: 0;
                float: right;
                margin-top: 5px;
            }
        }
    }
}
/* MOdal POPUP COOKIE*/

#popup-modal.popup_cookie {
    background: #fff;
    position: static;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
.popup_cookie p {
    font-size: 18px;
}
@media only screen and (max-width: 767px) {
    .modal-inner-wrap.modal_cookie {
        top: initial;
        bottom: 0;
        margin: 0 auto;
        min-height: auto !important;
        width: 100%;
    }
}

/* Filter */
.block-content.filter-content {
    .filter-options-name-mb {
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 500;
        margin: 0 0 10px;
        display: none;
    }
}

/* Discount */
.products-grid .product-item .discount-label {
    font-size: 18px;
    color: #c00;
    font-weight: 500;
}
.products .products.list.items .action.towishlist, .products.list.items .action.towishlist {
    border: 0 !important;
    background: none !important;
    position: absolute;
    right: 10px;
    top: 3px;
    z-index: 10;
}
.product-items .action.towishlist:not(.updated):hover, .products.list.items .action.towishlist:not(.updated):hover {
    background: none;
    border: 0;
    color: #333;
}

/* Wishlist Page */
.block-wishlist-account {
    .product-items {
        overflow: hidden;
        margin: 0 -5px;
        .product-item {
            float: left;
            width: 25%;
            padding: 0 5px;
            .product-item-photo {
                width: 100%;
                display: block;
                .product-image-container {
                    width: 100% !important;
                }
                .product-image-wrapper {
                    padding-bottom: 100% !important;
                }
            }
        }
        .btn-viewmore {
            display: block;
            padding-bottom: 100%;
            width: 100%;
            position: relative;
            background: rgba(0, 0, 0, 0.6);
            span {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                z-index: 10;
                color: #fff;
                text-transform: uppercase;
                font-size: 11px;
            }
        }
    }
}


/* Home Page */
.cms-index-index {
    h2 {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 25px;
        line-height: 1.2;
        text-transform: capitalize;
    }
    h3 {
        font-size: 24px;
        font-weight: 500;
        margin-top: 24px;
        line-height: 1.33;
    }
    #maincontent {
        padding: 0;
        .column.main {
            padding-bottom: 0;
        }
    }
    .widget.block.block-static-block {
        margin-bottom: 0;
        .margin140 {
            margin-bottom: 140px;
        }
        .swiper-button-next::before, .swiper-button-prev::before {
            font-size: 26px;
        }
    }
    @media(min-width:768px) {
        [data-content-type="row"][data-appearance="contained"] {
            max-width: 1380px;
        }
    }
}
.btn-viewmore::after {
    content: "\e80b";
    font-family: 'fontello';
    font-size: 12px;
    margin-left: 2px;
    font-weight: 700;
    position: relative;
    top: -1px;
}
.pagebuilder-column .product-new-arrivals[data-content-type="products"] .block.widget .products-grid .widget-product-grid.product-items .product-item {
    width: 50%;
    padding: 0 10px;
}
.banner-newarrivals {
    position: relative;
}
.banner-posstion-left {
    position: absolute;
    left: 56px;
    top: 64px;
    z-index: 10;
    max-width: 480px;
    h2 {
        margin-bottom: 5px;
        span {
            color: #cd7e3e;
        }
    }
    h3 {
        font-size: 32px;
    }
    p {
        font-size: 16px;
        color: #222;
        margin-bottom: 15px;
    }
    .btn-shop {
        border: 1px solid #222;
        font-size: 14px;
        display: inline-block;
        padding: 6px 20px 5px;
        text-transform: uppercase;
        color: #222;
        font-weight: 500;
        margin-top: 40px;
    }
    .btn-viewmore {
        font-size: 16px;
        font-weight: 500;
        color: #222;
        margin-top: 40px;
        display: inline-block;
    }
}
.home-spa {
    h2 {
        margin-bottom: 8px;
    }
    .sub-title {
        margin-bottom: 20px;
    }
    .pagebuilder-column-group {
        margin: 0 -15px;
        .pagebuilder-column {
            padding: 0 15px;
        }
        img {
            width: 100%;
        }
    }
    .home-spa-detail {
        background: #f6f4ee;
        padding: 24px;
        font-size: 14px;
        color: #222;
        .btn-viewmore {
            margin-top: 15px;
            display: inline-block;
            color: #222;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}

.home-membership {
    h2 {
        margin-bottom: 8px;
    }
    .membership-items {
        text-align: center;
        margin-top: 25px;
        .membership-item {
            padding: 0 60px;
            display: inline-block;
            box-sizing: border-box;
            h3 {
                font-size: 18px;
            }
            .membership-item-name {
                text-align: center;
                font-size: 18px;
                font-weight: normal;
                margin-top: 16px;
            }
        }
        .slick-prev, .slick-next {
            background: transparent;
            height: 40px;
            top: -50px;
            transform: inherit;
            width: 20px;
            &:hover {
                background: transparent;
                border: none;
                &::before {
                    color: #222;
                }
            }
            &::before {
                color: #222;
                font-size: 26px;
                opacity: 1;
            }
        }
        .slick-prev {
            left: -20px;
        }
        .slick-next {
            right: -20px;
        }
    }
    .btn-view .pagebuilder-button-secondary {
        background: none;
        padding-left: 50px;
        padding-right: 50px;
    }
    .btn-joinus .pagebuilder-button-secondary {
        padding-left: 50px;
        padding-right: 50px;
    }
}
.home-video-media {
    position: relative;
    .media {
        .icon-play {
            left: inherit;
            width: 64px;
            height: 64px;
            font-size: 42px;
            right: 316px;
            font-size: 64px;
            &.icon-play-black {
                color: rgba(0, 0, 0, 0.8);
            }
        }
        &:hover {
            .icon-play {
                &.icon-play-black {
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }
    .home-video-content.playing .banner-posstion-left{
        display: none;
    }
    .video-player + .video-iframe {
        display: none;
    }
    iframe {
        width: 100%;
        height: 345px;
    }
    .banner-posstion-left {
        max-width: 610px;
        p {
            margin-bottom: 0;
        }
        h3 {
            margin-top: 7px;
        }
        &.banner-color-white {
            p {
                color: #fff;
                margin-bottom: 8px;
            }
            h3 {
                color: #fff;
                margin-top: 0;
            }
            .btn-viewmore {
                color: #fff;
                margin-top: 50px;
            }
        }
    }
}

.main-hero-slider {
    .wrap-progress {
        display: inline-block;
        .inner-progress {
            position: relative;
            z-index: 0;
            display: inline-block;
        }
        .progress {
            display: inline-block;
            width: 286px;
            height: 4px;
            overflow: hidden;
            background-color: #666666;
        }
        .progress_ing {
            display: block;
            width: 0;
            height: 4px;
            background-color: #fff;
            transition: width .4s ease-in-out;
        }
    }
}
.hero-pagebuilder-slider {
    .slick-dots {
        display: none !important;
    }
    .slick-pause {
        float: right;
        padding: 0 0 0 10px;
        &::after {
            color: #666;
        }
    }
    .slick-prev {
        left: 10%;
    }
    .slick-next {
        right: 10%;
    }
    .slick-arrow {
        background: rgba(255, 255, 255, 0.5);
        width: 64px;
        height: 64px;
        &::before {
            color: #666;
        }
    }
    .slick-button {
        left: 56.5%;
        width: auto;
        padding-left: 30px;
        bottom: 80px;
        & :hover {
            background: none;
        }
    }
    .pagebuilder-slide-wrapper [data-element="content"] {
        h2 {
            text-transform: none;
            line-height: 1.13;
        }
        h1 {
            line-height: 1.13;
        }
    }
}

.home-products-slider {
    .block.widget.block-products-list.grid .swiper-button-prev, .block.widget.block-products-list.grid .swiper-button-next {
        display: inline-block;
    }
    .block.widget .swiper-wrapper .swiper-slide {
        padding: 0 10px;
    }
    .block-content {
        position: relative;
        margin: 0 -10px;
    }
    .swiper-button-prev {
        left: -25px;
        top: 170px;
        text-align: center;
    }
    .swiper-button-next {
        right: -25px;
        top: 170px;
        text-align: center;
    }
}

.abs-actions-addto-gridlist:hover::before, .products-grid .product-item .product-item-details .actions-primary .tocart:hover::before, .tocompare:hover::before, .wishlist.split.button .action.split:hover::before, .product-addto-links .wishlist.split.button > .action.split:hover::before, .table-comparison .wishlist.split.button > .action.split:hover::before, .product-items .wishlist.split.button > .action.split:hover::before, .product-info-main .action.towishlist:not(.updated):hover::before, .product-items .action.towishlist:not(.updated):hover::before, .products.list.items .action.towishlist:not(.updated):hover::before, .table-comparison .action.towishlist:not(.updated):hover::before, .product-addto-links .action.towishlist:not(.updated):hover::before, .cart.table-wrapper .action.towishlist:hover::before {
    color: #cd7e3e;
}
