<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: bilalyounas
 * Date: 30/9/20
 * Time: 06:48 PM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Eguana\CustomerBulletin\Controller\AbstractController\TicketLoaderInterface" type="Eguana\CustomerBulletin\Controller\AbstractController\TicketLoader" />
    <preference for="Eguana\CustomerBulletin\Controller\AbstractController\TicketViewAuthorizationInterface" type="Eguana\CustomerBulletin\Controller\AbstractController\TicketViewAuthorization" />
</config>
