<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="vlogic" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
            <class>separator-top</class>
            <label>V-Logic</label>
            <tab>cj_extensions_tab</tab>
            <resource>CJ_VLogicOrder::configuration</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1">
                <label>General Configuration</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="sandbox_api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1">
                <label>Setting API</label>
                <field id="host" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Host</label>
                </field>
                <field id="storer_code" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Storer Code</label>
                </field>
                <field id="username" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>User Name</label>
                </field>
                <field id="password" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Password</label>
                </field>
                <field id="create_order" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Create Order</label>
                    <comment>URI for create order</comment>
                </field>
                <field id="shipment_activity_rul" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipment Activity URL</label>
                </field>
                <field id="test_connection" translate="Test Connection" type="button" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Test Connection</label>
                    <frontend_model>CJ\VLogicOrder\Block\System\Config\TestConnection</frontend_model>
                </field>
            </group>

            <group id="additional" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1">
                <label>Additional</label>
                <field id="incoterms" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Incoterms</label>
                </field>
                <field id="storer_site_code" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>StorerSiteCode</label>
                </field>
                <field id="recipient_code" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>RecipientCode</label>
                </field>
                <field id="fulfillment_type" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>FulfillmentType</label>
                </field>
            </group>
            <group id="shipment_activity_vlogic_cron" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Shipment Activity VLogic Cron</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="frequency" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>CJ\VLogicOrder\Model\Config\Cron\ShipmentActivityVLogic</backend_model>
                </field>
                <field id="time" translate="label" type="time" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start Time</label>
                </field>
                <field id="run_cron" translate="Run Now" type="button" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Run Now</label>
                    <frontend_model>CJ\VLogicOrder\Block\System\Config\ShipmentActivityVLogicRun</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
