<?xml version="1.0"?>
<!--
  ~ @author Eguana Commerce
  ~ @copyright Copyright (c) 2020 Eguana {https://eguanacommerce.com}
  ~  Created by PhpStorm
  ~  User: Sonia Park
  ~  Date: 3/13/20, 7:49 AM
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Amore_GaTagging">
        <sequence>
            <module name="Amore_Base"/>
            <module name="Magento_GoogleTagManager"/>
        </sequence>
    </module>
</config>
