<!--
/**
* Copyright © 2015 Amasty. All rights reserved.
 */
-->
<div class="payment-option _collapsible opc-payment-additional discount-code _active" >
    <div class="payment-option-title field choice" data-role="title">
        <span class="action" id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko text: $t('Apply Discount Code')--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <form class="form form-discount" id="discount-form" data-bind="blockLoader: isLoading">
            <div class="payment-option-inner">
                <div class="field">
                    <div class="control">
                        <input class="input-text"
                               type="text"
                               id="discount-code-fake"
                               name="discount_code_fake"
                               data-validate="{'required-entry':true}"
                               data-bind=" value: fakeCouponCode, attr:{placeholder: $t('Enter promo code')} " />

                        <input class="input-text"
                               type="hidden"
                               id="discount-code"
                               name="discount_code"
                               data-bind="value: couponCode, attr:{placeholder: $t('Enter promo code')} " />
                    </div>
                </div>
            </div>

            <div class="actions-toolbar">
                <div class="primary">
                    <button class="action action-view" type="button" data-bind="'value': $t('view my coupon'), click: showPopup">
                        <span><!-- ko text: $t('view my coupon')--><!-- /ko --></span>
                    </button>
                </div>
                <div class="primary">
                    <button class="action action-apply" type="submit" data-bind="'value': $t('Apply'), click: apply">
                        <span><!-- ko text: $t('Apply')--><!-- /ko --></span>
                    </button>
                </div>
            </div>
            <!-- ko foreach: getRegion('captcha') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </form>
        <!-- ko if : couponCode().length > 0 -->
        <span class="payment-option-title field choice"> <!--ko text:$t('Applied Coupons')--><!--/ko--></span>
        <!-- /ko -->
        <!-- ko foreach: { data: couponCode().split(','), as: 'code' }  -->
        <!-- ko if : code.length > 0 -->
        <div>
            <!--ko text: code--><!--/ko-->
            <a href="#" data-bind="click: $parent.removeSelected.bind($parent),'value': code">
                <!-- ko text: $t('Remove')--><!-- /ko -->
            </a>
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- ko if: isEnableCouponPopup -->
    <div id="modal" style="display: none;">
        <div class="modal-body-content">
            <div class="coupon-popup coupon-container">
                <div class="coupon-wrap">
                    <div class="other-promo">
                        <div class="coupon-content">
                            <div class="coupon-applied" data-bind="foreach:couponList">
                                <!-- start card -->
                                <div class="discount-card">
                                    <div class="discount-bar"></div>
                                    <div class="discount-card-content">
                                        <div class="discount-label">
                                            <div class="discount-title">
                                                <div class="landscape">
                                                    <img data-bind="attr: { src: require.toUrl('')+'images/logo.svg' }">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="discount-border-center"></div>
                                        <div class="discount-content">
                                            <div class="discount-title-percent" data-bind="text: $data['name']" >
                                            </div>
                                            <div class="discount-percent">
                                                <span data-bind="i18n: 'Total discount for activities:'" ></span> <span style="color: red" data-bind="text: $data['simple_action_string']" ></span>
                                            </div>
                                            <div class="discount-percent">
                                                <span data-bind="i18n: 'Expiration date:'" ></span> <span style="color: red" data-bind="text: $data['to_date']" ></span>
                                            </div>
                                            <div class="discount-description" data-bind="text: $data['description']">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="discount-border-right"></div>
                                    <div class="discount-card-button" data-bind="attr: { id : $data['code']},  click : $parent.applyCouponPopup">
                                        <!-- ko i18n: 'Apply'--><!-- /ko -->
                                    </div>
                                </div>
                                <!-- and card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>


