// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-dashboard-info {
        .box-actions {
            display: inline-block;
        }
    }

    .pip-box-actions {
        margin-left: @indent__s;
        position: relative;
    }
}