<div class="magenest-popup-step">
    <div class="popup-step-1">
        <div class="popup-bg"></div>
        <div class="popup-content">
            <div class="popup-title">Hey Good Looking!</div>
            <div class="popup-description">
                Here is your <strong>10% Discount</strong> to get yourself something new:
            </div>
            <form method="POST" id="popup-action-form">
                <div class="popup-action">
                    <input class="popup-newsletter" type="email" name="email" placeholder="Enter your e-mail"
                           data-validate="{required:true, 'validate-email':true}">
                    <div class="popup-sex">
                        <input name="gender" class="popup-newsletter" type="radio" value="men" data-validate="{'validate-one-required-by-name':true}">Men
                        <input name="gender" class="popup-newsletter" type="radio" value="women" data-validate="{'validate-one-required-by-name':true}">Women
                        <input name="gender" class="popup-newsletter" type="radio" value="women" data-validate="{'validate-one-required-by-name':true}">Not Specified
                    </div>
                    <button id="popup-submit-button" title="Subscribe">
                        <strong>Get your coupon</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
