<div class="magenest-popup-step">
    <div class="popup-step-1">
        <div class="popup-content">
            <div class="popup-title">Get a $20 voucher</div>
            <div class="popup-description">
                For your first rental and get access to the latest arrivals and news.
            </div>
            <form method="POST" id="popup-action-form">
                <div class="popup-action">
                    <input class="popup-newsletter" type="email" name="email" placeholder="Enter your e-mail"
                           data-validate="{required:true, 'validate-email':true}">
                    <button id="popup-submit-button" title="Subscribe">
                        <strong>Get your free $20 voucher</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
