<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: raheel
 * Date: 12/10/20
 * Time: 07:18 PM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="event_reservation" translate="label" type="text" sortOrder="1010" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Event Reservation</label>
            <tab>eguana_extensions_tab</tab>
            <resource>Eguana_EventReservation::config_eventreservation</resource>
            <group id="configuration" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Feature</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sender_email_identity" translate="label" sortOrder="2" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="privacy_policy_text" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Privacy policy</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="resend_email_sms_time" translate="label comment" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Resend Email And Sms Interval</label>
                    <validate>required-entry validate-digits validate-not-negative-number validate-digits-range digits-range-1-100</validate>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                    <comment>Add time in minutes after that time resend button will be enable.</comment>
                </field>
            </group>
            <group id="email" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Template Configuration</label>
                <field id="staff_email_auto" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send Email To Staff Automatically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/configuration/enabled">1</field>
                    </depends>
                </field>
                <field id="staff_email" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Staff Email</label>
                    <validate>validate-email</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Email\Address</backend_model>
                    <depends>
                        <field id="*/configuration/enabled">1</field>
                    </depends>
                </field>
                <field id="staff_email_pending" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Pending</label>
                    <comment>Select email template for unconfirmed events</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="*/*/staff_email_auto">1</field>
                    </depends>
                </field>
                <field id="staff_email_confirmed" translate="label comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Confirmed</label>
                    <comment>Select email template for confirmed events</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="*/*/staff_email_auto">1</field>
                    </depends>
                </field>
                <field id="staff_email_canceled" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Canceled</label>
                    <comment>Select email template for canceled events</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="*/*/staff_email_auto">1</field>
                    </depends>
                </field>
                <field id="customer_email_auto" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send Email To Customer Automatically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/configuration/enabled">1</field>
                    </depends>
                </field>
                <field id="customer_email_pending" translate="label comment" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Pending</label>
                    <comment>Select email template for unconfirmed events</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="*/*/customer_email_auto">1</field>
                    </depends>
                </field>
                <field id="customer_email_confirmed" translate="label comment" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Confirmed</label>
                    <comment>Select email template for confirmed events</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="*/*/customer_email_auto">1</field>
                    </depends>
                </field>
                <field id="customer_email_canceled" translate="label comment" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Canceled</label>
                    <comment>Select email template for canceled events</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="*/*/customer_email_auto">1</field>
                    </depends>
                </field>
            </group>
            <group id="sms" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>SMS Template Configuration</label>
                <field id="customer_sms_auto" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send SMS To Customer Automatically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="reservation_template" translate="label" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Reservation SMS</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="*/*/customer_sms_auto">1</field>
                    </depends>
                </field>
                <depends>
                    <field id="*/configuration/enabled">1</field>
                </depends>
            </group>
            <group id="shortener" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Url Shortener Credentials</label>
                <field id="api_endpoint" translate="label comment" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Endpoint</label>
                </field>
                <field id="access_token" translate="label comment" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Access Token</label>
                </field>
            </group>
        </section>
    </system>
</config>
