// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .order-links {
        .item {
            border: 1px solid @border-color__base;
            box-sizing: border-box;
            display: inline-block;
            color: @primary__color;
            font-weight: @font-weight__regular;
            line-height: 24px;
            margin: 0;
            text-align: center;

            > * {
                display: block;
                padding: 7px 0;

                &:hover,
                &:focus,
                &:active,
                &:visited {
                    color: @primary__color;
                }
            }

            &.current {
                background-color: @sidebar__background-color;
                font-weight: @font-weight__bold;
            }
        }
    }

    .order-info {
        color: @primary__color;
        margin-bottom: @indent__xl;

        .order-actions-toolbar {
            display: inline-block;
            float: right;
            line-height: 26px;

            a {
                .lib-link(
                    @_link-color: @theme__color__primary-alt,
                    @_link-text-decoration: none,
                    @_link-color-visited: @theme__color__primary-alt,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @theme__color__primary-alt,
                    @_link-text-decoration-hover: none,
                    @_link-color-active: @theme__color__primary-alt,
                    @_link-text-decoration-active: none
                );
            }
        }

        .order-id {
            display: inline-block;
            margin-right: 78px;
        }

        .order-date {
            display: inline-block;
            line-height: 26px;
        }
    }

    .order-actions-toolbar {
        padding-right: 7px;

        .action {
            margin: 0 0 0 @indent__l;
        }
    }

    .block.details[class*="e-invoices"],
    .block-order-details-view {
        .box {
            &:not(:first-child) {
                padding-top: 16px;
            }

            &.box-order-shipping-method .box-content {
                font-weight: @font-weight__bold;
            }
        }

        .box-content {
            line-height: 24px;

            > *:not(address) {
                .lib-font-size(16);
            }

            .box-subtitle {
                margin-top: @indent__s;
            }
        }

        .box-order-shipping-method .box-content {
            .lib-font-size(16);
        }
    }

    .order-details-items {
        background-color: @sidebar__background-color;
        border: 1px solid @border-color__base;
        margin-bottom: 100px;
        padding: @indent__xs 50px @indent__l;

        > .actions-toolbar .secondary {
            display: none;
        }

        .block.details[class*="e-invoices"] {
            margin: @indent__xl 0 @indent__base 0 !important;
        }

        .order-actions {
            padding-right: 7px;
            text-align: right;

            .action {
                display: inline-block;
                margin-left: @indent__l;
            }
        }

        .order-title {
            border-bottom: 1px solid @primary__color;
            line-height: 24px;
            padding: @indent__base 0 16px 0;

            > strong {
                display: inline-block;

                &:after {
                    content: ':';
                    padding: 0 @indent__xs;
                }
            }

            .action {
                .lib-link(
                    @_link-color: @theme__color__primary-alt,
                    @_link-text-decoration: none,
                    @_link-color-visited: @theme__color__primary-alt,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @theme__color__primary-alt,
                    @_link-text-decoration-hover: none,
                    @_link-color-active: @theme__color__primary-alt,
                    @_link-text-decoration-active: none
                );
            }
        }

        .items-qty {
            &:extend(.abs-reset-list all);

            .item {
                white-space: nowrap;
            }

            .title {
                &:after {
                    content: ': ';
                }
            }
        }

        &.creditmemo {
            margin-bottom: 0;

            .col.name {
                width: 40%;
            }

            .col:not(.name) {
                width: 12%;
            }

            & + .block-order-details-view {
                display: none;
            }
        }

        &.invoice {
            .col.qty {
                width: 10%;
            }
        }

        &.invoice,
        &.ordered {
            .col.name {
                width: 40%;
            }

            .col.price {
                width: 30%;
            }
        }

        &.rma {
            .toolbar-amount {
                display: block !important;
                margin-top: 8px !important;
                padding-bottom: 0 !important;
            }

            .pages {
                margin-top: 16px !important;
            }
        }

        .table-wrapper {
            th {
                border-bottom-color: @primary__color !important;
            }

            thead,
            tbody {
                th, td {
                    vertical-align: top;

                    > *:not(.action) {
                        span,
                        strong {
                            .lib-font-size(14) !important;
                            color: @primary__color;
                            line-height: 24px;
                        }
                    }
                }
            }
        }

        .table-order-items {
            .product-item-name {
                margin: 0;
            }
        }

        .item-options {
            &:extend(.abs-product-options-list all);

            &.links {
                dt {
                    display: inline-block;

                    &:after {
                        content: ': ';
                    }
                }

                dd {
                    margin: 0;
                }
            }
        }
    }

    .order-pager-wrapper {
        .toolbar-amount {
            padding-top: 3px;
        }

        .pages-items {
            .item {
                &:first-child,
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .order-status {
        &:extend(.abs-status all);
    }

    .page-title-wrapper {
        .order-date {
            margin: 0 0 @indent__base;
        }
    }

    .account,
    [class^='sales-guest-'],
    .sales-guest-view {
        .page-title-wrapper {
            .page-title {
                margin-right: @indent__m;
            }
        }
    }

    .form-orders-search {
        .field {
            &.email,
            &.zip {
                margin-bottom: 0;
            }
        }
    }

    .block-reorder {
        .block-title {
            &:extend(.abs-block-title all);
        }

        .product-item {
            .checkbox {
                position: relative;
                top: 2px;
                vertical-align: baseline;
            }

            .label {
                &:extend(.abs-visually-hidden all);
            }

            .field.item {
                display: inline-block;
            }
        }

        .product-item-name {
            display: inline-block;
        }

        .actions-toolbar {
            margin: 17px 0;
            max-width: 178px;
        }

        .sidebar-main & .subtitle,
        .sidebar-additional & .subtitle {
            &:extend(.abs-no-display all);
        }
    }

    .block-order-details {
        &-comments {
            margin: 0 0 40px;

            .comment-date {
                font-weight: @font-weight__semibold;
            }

            .comment-content {
                line-height: 1.6;
                margin: 0 0 20px;
            }
        }

        &-view {
            .box-content {
                .payment-method {
                    margin: 0;

                    .title {
                        font-weight: @font-weight__bold;
                        margin: 0;
                        line-height: 24px;
                    }

                    .content {
                        margin: 0;

                        > strong {
                            font-weight: @font-weight__bold;

                            &:after {
                                content: ': ';
                            }
                        }
                    }
                }
            }
        }
    }

    .order-tracking {
        margin: 8px 0 0 0;

        .tracking-title {
            display: inline-block;
        }

        .tracking-content {
            display: inline-block;
            margin: 0 0 0 5px;
        }
    }

    .sales-guest-form {
        .column.main {
            .fieldset {
                margin-bottom: 0;
            }

            .actions-toolbar {
                .action {
                    &:extend(.abs-button-l all);
                }
            }
        }
    }

    //
    //  Guest order view page
    //  ---------------------------------------------

    [class^='magento_rma-guest-'],
    [class^='sales-guest-'],
    .sales-guest-view {
        .column.main {
            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .account {
        .order-details-items {
            .table-order-items {
                .product-item-name,
                .price-including-tax,
                .price-excluding-tax,
                .items-qty {
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }

    .order-details-items {
        thead {
            display: block;

            tr,
            td {
                display: block;
            }
        }
    }

    .table-wrapper {
        .table.table-order-items {
            tfoot {
                td.order-pager-wrapper {
                    width: 100%;
                }
            }
        }
    }
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: left;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .order-tracking .tracking-content {
        margin: 0;
    }

    a.print {
        display: none !important;
    }

    .order-actions {
        .action:not(.print) {
            margin-bottom: @indent__base;
        }
    }

    .block-order-details-view {
        margin-bottom: 0 !important;
    }

    .order-links {
        .item {
            border-bottom: none;
            width: 100%;
        }
    }

    .order-details-items {
        padding: 0 @indent__base;

        .col {
            width: auto !important;
        }

        &.shipments {
            padding-bottom: 32px;
        }

        &.rma {
            padding-bottom: 48px;

            .col.actions {
                margin-right: 7px;
                text-align: right !important;

                &:before {
                    display: none !important;
                }
            }

            .pages {
                margin-top: 0 !important;
            }
        }

        .order-title {
            padding: @indent__m 0 24px 0;
        }
    }

    .order-info {
        margin-bottom: 50px;
        padding-top: 24px;

        .order-id {
            display: block;
            margin: 0 0 8px 0;

            strong {
                display: inline-block;
                width: 31%;
            }
        }

        .order-date {
            display: block;

            strong {
                display: inline-block;
                width: 31%;
            }
        }

        .order-actions-toolbar {
            display: block;
            float: none;
            padding-top: @indent__base;
            text-align: right;
        }
    }

    .order-pager-wrapper {
        .toolbar-amount {
            left: inherit;
            position: relative;
            text-align: center;
            top: inherit;
        }

        .pages {
            text-align: center;
        }

        .action.previous,
        .action.next {
            margin: 0;
        }
    }

    .sales-guest-form {
        .form-orders-search > .actions-toolbar {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;

            .action {
                &:extend(.abs-button-l-mobile all);
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .sales-guest-form {
        .column.main {
            .actions-toolbar {
                margin-top: 80px;

                .action {
                    width: 380px;
                }
            }
        }
    }

    .block.order.invalidate-e-invoices {
        .box-title {
            width: 40% !important;
        }

        .box-content {
            width: 60% !important;
        }
    }

    .order-details-items {
        .item-options {
            margin-top: @indent__s;
        }
    }

    .order-links {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-box-align(stretch);
        position: relative;
        top: 1px;
        width: 100%;

        .item {
            border-left: none;
            width: 20%;

            &.current {
                border-bottom-color: @sidebar__background-color;
            }

            &:first-child {
                border-left: 1px solid @border-color__base;
            }
        }
    }

    .order-info {
        padding-top: 16px;
    }

    .table-order-items tfoot {
        .subtotal,
        .amount {
            text-align: right;
        }

        &.creditmemo {
            .col {
                &.qty,
                &.discount,
                &.subtotal {
                    text-align: center;
                }

                &.total {
                    text-align: right;
                }
            }
        }
    }

    .order-pager-wrapper {
        .order-pager-wrapper-top {
            padding-left: 0;
            padding-right: 0;
        }

        .pages {
            float: right;
        }
    }

    .order-actions-toolbar {
        .action.print {
            display: block;
            float: right;
        }
    }

    .page-title-wrapper {
        .order-date {
            @order-status-indent: ceil(@h1__margin-bottom__desktop/2);
            .lib-css(margin-top, -@order-status-indent);
        }
    }
}
