<?xml version="1.0"?>
<!--
/*
 *  @author Eguana Commerce David
 *  @copyright Copyright 2020 (c) Eguana Commerce
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="eguana_einvoice" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Ecpay E-Invoice</label>
            <tab>eguana_extensions_tab</tab>
            <resource>Eguana_EInvoice::eInvoice</resource>
            <group id="ecpay_einvoice_issue" translate="label" type="text" sortOrder="270" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>E-Invoice Issue Cron</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="frequency" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Eguana\EInvoice\Model\Config\Backend\EInvoice\Cronjob</backend_model>
                </field>
                <field id="time" translate="label" type="time" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Start Time</label>
                </field>
            </group>
        </section>
    </system>
</config>
