//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .e-invoice {
        .control {
            margin-bottom: @indent__s;

            .fieldset {
                margin-top: @indent__s;
                
                > .field.note {
                    text-align: left;
                }
            }
        }
    }
}

