<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sapt_general>
            <main_popup>
                <enabled>1</enabled>
            </main_popup>
        </sapt_general>
    </default>
</config>
