<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyright Copyright (c) 2020 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: Abbas
 * Date: 05/18/20
 * Time: 11:32 AM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customerregistraion>
            <general>
                <code_expiration_time_in_minutes>2:00</code_expiration_time_in_minutes>
                <minimum_mobile_number_digits>10</minimum_mobile_number_digits>
                <maximum_mobile_number_digits>11</maximum_mobile_number_digits>
            </general>
        </customerregistraion>
    </default>
</config>
