<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * Created by PhpStorm
 * User: Abbas
 * Date: 05/18/20
 * Time: 11:32 AM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customerregistraion>
            <general>
                <code_expiration_time_in_minutes>2:00</code_expiration_time_in_minutes>
                <minimum_mobile_number_digits>10</minimum_mobile_number_digits>
                <maximum_mobile_number_digits>11</maximum_mobile_number_digits>
                <ba_code_enable>0</ba_code_enable>
            </general>
            <pos>
                <sales_organization_code>TW10</sales_organization_code>
                <sales_office_code>TW10</sales_office_code>
            </pos>
        </customerregistraion>
    </default>
</config>
