<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * Created by PhpStorm
 * User: Abbas
 * Date: 05/18/20
 * Time: 11:32 AM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amore\CustomerRegistration\Api\POSIntegrationInterface" type="Amore\CustomerRegistration\Model\POSIntegration" />
    <preference for="Amore\CustomerRegistration\Api\Data\ResponseInterface" type="Amore\CustomerRegistration\Model\Response" />
    <preference for="Amore\CustomerRegistration\Api\Data\DataResponseInterface" type="Amore\CustomerRegistration\Model\DataResponse" />
    <preference for="Magento\Customer\Model\ResourceModel\Customer" type="Amore\CustomerRegistration\Model\ResourceModel\Customer\Customer" />
    <type name="Amore\CustomerRegistration\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Amore\CustomerRegistration\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">posLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Amore\CustomerRegistration\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
