<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * Created by PhpStorm
 * User: Abbas
 * Date: 06/09/20
 * Time: 11:32 AM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after_data_object">
        <observer instance="Amore\CustomerRegistration\Observer\Customer\SaveSuccess" name="customer_save_succes"/>
    </event>
    <event name="customer_delete_after">
        <observer instance="Amore\CustomerRegistration\Observer\Customer\DeleteSuccess" name="customer_delete_succes"/>
    </event>
    <event name="customer_address_save_after">
        <observer name="customer_address_after_save_pos_observer" instance="Amore\CustomerRegistration\Observer\Customer\AfterAddressSaveObserver" />
    </event>
    <event name="customer_register_success">
        <observer name="set_session_customer_register_success" instance="Amore\CustomerRegistration\Observer\Customer\RegisterSuccessObserver" />
    </event>
</config>
