<?xml version="1.0"?>
<!--
/**
* @author Eguana Team
* @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
* Created by PhpStorm
* User: umer
* Date: 9/12/20
* Time: 7:05 PM
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after_data_object">
        <observer instance="Eguana\SocialLogin\Observer\Customer\SaveSuccess" name="customer_save_success_add_line_data"/>
    </event>
</config>
