// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________
@magazine_banner-background-color: #f7f7f7;
@magazine_gray-color: #787878;
@magazine_slider__max-width: 1320px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .magazine-index-index,
    .magazine-detail-index {
        .page-title {
            font-weight: @font-weight__regular !important;
        }
    }

    .block.magazine-image {
        .block-title {
            margin-top: @indent__base;

            strong {
                color: @color-black;
                display: block;
                margin-bottom: 12px;
            }
        }
    }

    .magazine-photo-banner {
        .banner-text {
            strong {
                display: block;
                letter-spacing: 1.4px;
            }

            span {
                display: block;
                letter-spacing: -0.4px;
            }
        }
    }

    .list-image-box {
        list-style-type: none;
        padding: 0;

        img {
            display: block;
            width: 100%;
        }

        li {
            border-bottom: 1px solid @border-color__base;
        }

        .magazine-item {
            span {
                color: @magazine_gray-color;
                display: block;
                line-height: 24px;
                margin-bottom: @indent__base;
            }
        }
    }

    .magazine-video-banner {
        border-bottom: 1px solid @border-color__base;
        padding-bottom: 60px;
        text-align: center;

        a {
            display: block;
            position: relative;

            &:after {
                content: '';
                background: transparent url('../Eguana_Magazine/images/play.svg') no-repeat;
                position: absolute;
                top: 50%;
                left: 50%;
            }

            img {
                display: block;
                margin: 0 auto;
            }
        }
    }

    .other-magazine {
        line-height: 36px;
        letter-spacing: -0.4px;
        text-align: center;
    }

    .magazine-slider {
        .slick-slide img {
            width: 100%;
        }

        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .magazine-image {
        margin-top: 70px;

        .block-title strong {
            .lib-font-size(20);
            line-height: @indent__l;
        }
    }

    .magazine-detail {
        margin-top: @indent__xs;
    }

    .magazine-photo-banner {
        margin-left: -@layout__width-xs-indent;
        margin-right: -@layout__width-xs-indent;

        img {
            display: block;
            width: 100%;
        }

        .banner-text {
            padding: 35px @indent__base 110px;

            strong {
                .lib-font-size(26);
                line-height: 36px;
                margin-bottom: 8px;
            }

            span {
                .lib-font-size(22);
                color: @primary__color;
                line-height: 33px;
            }
        }
    }

    .list-image-box {
        li {
            margin-bottom: 60px;
        }

        .magazine-item {
            span {
                .lib-font-size(16);
                letter-spacing: 0.4px;
            }
        }
    }

    .magazine-video-banner {
        a {
            &:after {
                background-size: 32px;
                width: 32px;
                height: 32px;
                margin-top: -16px;
                margin-left: -16px;
            }
        }
    }

    .other-magazine {
        .lib-font-size(26);
        padding: 60px 0 @indent__xl;
    }

    .magazine-slider {
        box-sizing: border-box;
        margin-left: -@layout__width-xs-indent;
        margin-right: -@layout__width-xs-indent;
        padding: 0 60px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .magazine-index-index,
    .magazine-detail-index {
        .page-title {
            line-height: 56px !important;
        }
    }

    .magazine-detail {
        margin-top: 50px;
    }

    .magazine-index-index {
        main.page-main {
            max-width: 100%;
            padding: 0;
        }

        .magazine-image > div {
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            width: auto;

            &:not(.magazine-slider) {
                max-width: @layout__max-width;
                padding-left: @layout-indent__width;
                padding-right: @layout-indent__width;
            }
        }

        .magazine-slider {
            max-width: @magazine_slider__max-width;
            padding-left: 70px;
            padding-right: 70px;
        }
    }

    .magazine-image {
        margin-top: 70px;

        .block-title strong {
            .lib-font-size(16);
            line-height: 24px;
        }
    }

    .magazine-photo-banner {
        background-color: @magazine_banner-background-color;
        margin-bottom: @indent__base;

        a {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align (center);
            -webkit-justify-content: space-between;
            justify-content: space-between;
        }

        .banner-text {
            .lib-vendor-prefix-order(0);
            box-sizing: border-box;
            color: @color-black;
            padding-left: 8.5%;
            padding-right: @indent__l;
            width: 41%;

            strong  {
                .lib-font-size(42);
                line-height: 56px;
                margin-bottom: 70px;
            }

            span {
                .lib-font-size(28);
                line-height: 36px;
            }
        }

        img {
            .lib-vendor-prefix-order(1);
        }
    }

    .list-image-box {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-box-align (stretch);
        margin-left: -@indent__s;
        margin-right: -@indent__s;
        margin-bottom: 60px;
        overflow: hidden;

        li {
            box-sizing: border-box;
            margin: 0 @indent__s;
            width: 100%/3;
        }
    }

    .magazine-video-banner {
        a {
            &:after {
                width: 80px;
                height: 80px;
                margin-top: -@indent__xl;
                margin-left: -@indent__xl;
            }
        }
    }

    .other-magazine {
        .lib-font-size(28);
        padding: 60px 0;
    }

    .magazine-slider {
        .slick-list {
            margin-left: -@indent__base;
        }

        .slick-slide {
            margin-left: @indent__base;
        }
    }
}