// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________
@magazine_banner-background-color: #f7f7f7;
@magazine_gray-color: #787878;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .magazine-index-index .page-title {
        font-weight: @font-weight__regular;
    }

    .magazine-photo-banner {
        .banner-text {
            strong {
                display: block;
                letter-spacing: 1.4px;
            }

            span {
                display: block;
                letter-spacing: -0.4px;
            }
        }
    }

    .list-image-box {
        list-style-type: none;
        padding: 0;

        img {
            display: block;
            width: 100%;
        }

        li {
            border-bottom: 1px solid @border-color__base;
        }

        .magazine-item {
            .block-title {
                margin-top: @indent__base;
            }

            strong {
                color: @color-black;
                display: block;
                margin-bottom: 12px;
            }

            span {
                color: @magazine_gray-color;
                display: block;
                line-height: 24px;
                margin-bottom: @indent__base;
            }
        }
    }

    .magazine-video-banner {
        border-bottom: 1px solid @border-color__base;
        padding-bottom: 60px;
        text-align: center;

        a {
            position: relative;

            &:after {
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                transform: translate(0 , 50%);
            }

            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .magazine-image {
        margin-top: 70px;
    }

    .magazine-photo-banner {
        margin-left: -@layout__width-xs-indent;
        margin-right: -@layout__width-xs-indent;

        img {
            display: block;
            width: 100%;
        }

        .banner-text {
            padding: 35px @indent__base 110px;

            strong {
                .lib-font-size(26);
                line-height: 36px;
                margin-bottom: 8px;
            }

            span {
                .lib-font-size(22);
                color: @primary__color;
                line-height: 33px;
            }
        }
    }

    .list-image-box {
        li {
            margin-bottom: 60px;
        }

        .magazine-item {
            strong {
                .lib-font-size(20);
                line-height: @indent__l;
            }

            span {
                .lib-font-size(16);
                letter-spacing: 0.4px;
            }
        }
    }

    .magazine-video-banner {
        a {
            .lib-icon-font(
                @icon-play,
                @_icon-font-color: @color-white,
                @_icon-font-size: 32px,
                @_icon-font-line-height: 32px,
                @_icon-font-position: after,
                @_icon-font-display: block
            );

            &:after {
                margin-top: -32px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .magazine-image {
        margin-top: 70px;
    }

    .magazine-photo-banner {
        background-color: @magazine_banner-background-color;
        margin-bottom: @indent__base;

        a {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align (center);
            -webkit-justify-content: space-between;
            justify-content: space-between;
        }

        .banner-text {
            .lib-vendor-prefix-order(0);
            box-sizing: border-box;
            color: @color-black;
            padding-left: 8.5%;
            padding-right: @indent__l;
            width: 41%;

            strong  {
                .lib-font-size(42);
                line-height: 56px;
                margin-bottom: 70px;
            }

            span {
                .lib-font-size(28);
                line-height: 36px;
            }
        }

        img {
            .lib-vendor-prefix-order(1);
        }
    }

    .list-image-box {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-box-align (stretch);
        margin-left: -@indent__s;
        margin-right: -@indent__s;
        margin-bottom: 60px;
        overflow: hidden;

        li {
            box-sizing: border-box;
            margin: 0 @indent__s;
            width: 100%/3;
        }

        .magazine-item {
            strong {
                .lib-font-size(16);
                line-height: 24px;
            }
        }
    }

    .magazine-video-banner {
        a {
            .lib-icon-font(
                @icon-play,
                @_icon-font-color: @color-white,
                @_icon-font-size: 80px,
                @_icon-font-line-height: 80px,
                @_icon-font-position: after,
                @_icon-font-display: block
            );

            &:after {
                margin-top: -80px;
            }
        }
    }
}