.list-image-box {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.magazine-item-box{
    width: 30%;
    padding: 10px;
}
.magazine-photo-banner {
    text-align: center;
}
.list-video-box {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.magazine-slider-item{
    width: 30%;
    padding: 10px;
    margin:0 -25px
}
.other-magazine {
    text-align: center;
}

.magazine-video-banner{
    text-align: center;
}

.page-main > .page-title-wrapper .page-title {
    text-align: left !important;
}
