<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2021 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: adeel
 * Date: 1/7/21
 * Time: 5:57 PM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Quote\Model\Quote\Item" type="Amore\GcrmDataExport\Crontab\Quote\Model\Quote\ItemCron" />
    <preference for="Magento\ScheduledImportExport\Model\Scheduled\Operation"
                type="Amore\GcrmDataExport\Model\Scheduled\Operation"/>
    <type name="Magento\ScheduledImportExport\Model\Scheduled\Operation\Data">
    <plugin name="amore_gcrmdataexport_add_server_type"
            type="Amore\GcrmDataExport\Plugin\ServerTypeOptionPlugin"/>
</config>
