<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\Rgrid\Model\DuplicateRuleProcessor"
                type="CJ\Rgrid\Model\DuplicateRuleProcessor"/>
</config>
