<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Eguana\CustomerRefund\Api\RefundOnlineManagementInterface"
                type="Eguana\CustomerRefund\Model\RefundOnlineManagement"/>
    <preference for="Eguana\CustomerRefund\Api\RefundOfflineManagementInterface"
                type="Eguana\CustomerRefund\Model\RefundOfflineManagement"/>
    <preference for="Eguana\CustomerRefund\Api\Data\BankInfoDataInterface"
                type="Eguana\CustomerRefund\Model\BankInfo"/>
    <preference for="Eguana\CustomerRefund\Api\BankInfoRepositoryInterface"
                type="Eguana\CustomerRefund\Model\BankInfoRepository"/>
    <preference for="Eguana\CustomerRefund\Api\Data\BankInfoSearchResultInterface"
                type="Eguana\CustomerRefund\Model\BankInfoSearchResult"/>
    <preference for="Eguana\CustomerRefund\Api\BankinfoManagementInterface"
                type="Eguana\CustomerRefund\Model\BankinfoManagement"/>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="eguana_customerrefund/bankinfo/encryption_key" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Eguana\CustomerRefund\Api\BankInfoRepositoryInterface">
        <plugin name="eguana_customerrefund_bankinfo_decrypt"
                type="Eguana\CustomerRefund\Plugin\BankInfoRepositoryPlugin" sortOrder="10"/>
    </type>
</config>
