// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

.container {
    margin: 0 auto;
    max-width: 1430px;
    padding: 0 20px;
    box-sizing: border-box;
}
.membership_section {
    background: #F6FAFF;
    padding: 48px 0 53px;
    margin-bottom: 80px;
}
.box_member {
    display: flex;
    padding-right: 20px;
}
.member_info {
    width: 50%;
    border-right: 0px solid #d9d5cc;
    padding: 0 30px;
    h3 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        // margin-bottom: 24px;
        text-transform: capitalize;
    }
    p {
        color: @secondary__color;
        font-size: 16px;
    }
    .rank {
        display: flex;
        align-items: flex-end;
        margin: 5px 0 0;
        h2 {
            font-size: 48px;
            color: #4477BE;
            font-weight: 700;
            line-height: 40px;
        }
        .view_all {
            margin-left: 20px;
            font-size: 14px;
            text-transform: uppercase;
            color: #222222;
            font-weight: 700;
            position: relative;
            padding-right: 15px;
            text-decoration: none;
            &:after {
                font-size: 12px;
                content: "\e905";
                color: #222222;
                font-family: 'icons';
                font-weight: 600;
                margin: 0 0 0 10px;
            }
        }
    }
}
.member_point, .member_coupon, .member_review {
    width: 30%;
    padding: 0 40px;
    border-right: 0px solid #d9d5cc;
    .label {
        font-size: 14px;
        color: #222222;
        padding: 0 0 0 45px;
        line-height: 32px;
        background-repeat: no-repeat;
        background-size: auto;
        position: relative;
        display: inline-block;
    }
    .count {
        text-align: left;
        margin: 0px 0 0;
        font-size: 20px;
        line-height: 40px;
        color: #222222;
        font-weight: 500;
        span {
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            margin-left: 10px;
        }
    }
}
.member_point .label {
    background-image: url(../images/icon_point.png);
    background-position: center left;
}
.member_coupon .label {
    background-image: url(../images/icon_coupon.png);
    background-position: center left;
    &:after {
        content: "";
        height: 6px;
        width: 6px;
        background: #959595;
        position: absolute;
        border-radius: 50%;
        top: 3px;
        right: -8px;
    }
    &.has-coupon:after {
        background: #D63B60;
    }
}
.member_review .label {
    // background-image: url(../images/icon_review.png);
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAClSURBVHgB5ZLRDcIwDETrwgDNBk4maCcAJgEmoSt0A5gANgAWSRiBDcJdlF+K+a6lk+0oT/fhk8ZYqrpFo84vlBihk4gcMD6hTc55tzJCI3RLKR2dcwOeu9biBIcB6kMIVzpC71nIe5/Qte499gx4/AdS7kuDSgD4iZ2HLY8id+gSY/wKrhklALzLRKCCsxCr5YEhznuowzz9gopjdWMGGalHY6wPJjxZvYNNC3cAAAAASUVORK5CYII=");
    background-position: center left;
}
.customercoupon-coupon-index {
    .block.account-nav .title {
        margin:  0;
        padding-top: 4px;
    }
    .block-title{
        font-size: 24px;
        line-height: 32px;
        padding-bottom:12px;
        border-bottom: 1px solid #ddd;
        position:relative;
        margin-bottom: 32px;
        &.text-small{
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 24px;
        }
    }
    .table-wrapper{
        .data.table.mobile {
            display: none;
        }
        table > thead > tr > th,
        .table > thead > tr > th{
            font-size: 16px;
            line-height: 24px;
            background:#fafafa;
            padding:16px 5px;
            width: 20%;
            font-family: Theinhardt;
            font-size: 16px;
            font-weight: 700;
            text-transform:capitalize;
        }
        table > tbody > tr,
        .table > tbody > tr {
            > td{
                font-size: 16px;
                line-height: 24px;
                color: #222;
                text-transform: capitalize;
                padding:16px 5px;
                .coupon-button{
                    button{
                        border:none;
                        color:#767676;
                        padding:0;
                        text-decoration:underline;
                        font-size: 14px;
                        line-height: 21px;
                        text-transform: capitalize;
                        text-underline-offset:2px;
                    }
                }
            }
         }
    }
    &.page-layout-2columns-left .coupon-button{
        padding: 0 !important;
        margin: 0 !important;
    }
    &.account .column.main .table-wrapper {
        margin-bottom: 80px;
    }
    .columns .column.main{
        padding-bottom:0;
    }
}
.membership-wrapper {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 80px;
    position:relative;
    .action{
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        position: absolute;
        top: -67px;
        right: 0;
        font-weight: 700;
        font-family: Theinhardt;
        &:after{
            content: "\e905";
            font-family: 'icons';
            right: 18px;
            font-size: 11px;
        }
    }
    .item {
        display: table-row;
        column-gap: 46px;
        .count,
        .label{
            display:table-cell;
        }
        .label{
            padding-right:46px;
            font-weight:500;
        }
        .count{
            font-weight: 700;
            span{
                font-weight: 500;
                color:#767676;
            }
        }
    }
}
.customer-account-index .block .box-information {
    .box-content p {
        line-height: 24px;
    }
}
.block-dashboard-addresses .box-actions .action.edit,
.block-dashboard-info .box-actions a.action {
    text-underline-offset: 2px;
}
.account.customer-account-dashboard table.table-order-items .col.item .order-grandtotal .price {
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    margin: 7px 0;
    display: inline-block;
}
.block-dashboard-orders .block-content .table-wrapper.orders-recent {
    thead th{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .total-items {
        font-weight: bold;
        margin-top: 2px;
        color: #a59470;
    }
}
.block.block-dashboard-info .box-actions {
    margin-top: 10px;
}
.customer-account-index {
    .modal-popup.confirm {
        .action-close{
            padding: 18px 20px;
            &:before{
                color: #222;
            }
        }
        .modal-header {
            padding: 40px 40px 0;
        }
        .modal-inner-wrap {
            max-width: 760px;
        }
        .modal-title{
            font-size: 26px;
            line-height: 32px;
            text-align: center;
            margin-bottom: 32px;
            padding-bottom: 0;
            border: none;
        }
        .modal-content{
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            padding-left: 40px;
            padding-right: 40px
        }
        .modal-footer {
            padding: 39px 40px 40px;
            margin: 0;
            justify-content: center;
            button {
                box-sizing:border-box;
                max-width: 160px;
                width: 100%;
            }
        }
    }
    .block-dashboard-info,
    .block-dashboard-addresses {
        margin: 0 0 69px;
    }
    .block-dashboard-beauty-profile{
        .block-title{
            margin-bottom: 32px !important;
        }
        .block-content{
            ul{
                margin-top: -5px;
                li{
                    display: inline-block;
                    font-size: 16px;
                    line-height: 22px;
                    padding-right:12px;
                    margin: 5px 12px 5px 0;
                    position: relative;
                    font-weight: 500;
                    &:last-child{
                        padding-right:0;
                        margin-right: 0;
                        &:before{
                            content: none;
                        }
                    }
                    &:before{
                        content: "";
                        height: 16px;
                        width: 1px;
                        background: #ddd;
                        position:absolute;
                        right: 0;
                        top:50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}
.pip-box-actions.box-actions{
    margin-left: 0;
    margin-top: 12px;
    display: inline-block;
    a{
        font-size: 16px;
        line-height: 21px;
        text-decoration: underline;
        text-underline-offset:2px;
        font-weight:500;
    }
}
@media (min-width: 769px){
    .customer-account-index main {
        padding-bottom: 110px;
    }
}

.form-edit-account{
    .field-name-prefix{
        display: none;
    }
    .fieldset.password,
    .fieldset.info{
        > .legend{
            font-size: 32px;
            padding-bottom: 32px;
            margin-bottom: 40px;
            border-color: #ddd;
        }
        .fieldset > .field > .label,
        .fieldset > .fields > .field > .label{
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 8px;
            color:#222;
            font-weight: 500;
            height:22px;
        }
        input[type="email"],
        input[type="password"],
        input[type="text"]{
            border:1px solid #ddd;
            padding: 10px 16px;
            font-size: 14px;
            color: #767676;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.account .column.main .fieldset > .field{
    &.customer-name-prefix{
        max-width: 100%;
        width: 100%;
        margin-bottom: 0;
    }
    ._has-datepicker ~ .ui-datepicker-trigger:before{
        line-height: 40px;
        font-size: 24px;
    }

    &.field-dob {
        margin-bottom: 24px;
        width:100%;
        label{
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 8px;
            color:#222;
            font-weight: 500;
            height:22px;
            width: 100%;
        }
        .customer-dob{
            display: flex;
            flex-wrap: wrap;
            span{

            }
            .mage-error{
                margin-top: 4px;
            }
        }
        select{
            color: #222;
            font-size: 14px;
        }
        .sYear{
            width: ~"calc(50% - 10px)";
            margin-right: 10px;
        }
        .sMonth{
            width:~"calc(25% - 20px)";
            margin-right:10px;
            margin-left:10px;
        }
        .sDay{
            width:~"calc(25% - 10px)";
            margin-left: 10px;
        }
    }
    &.dob{
        margin-bottom: 24px;
        .customer-dob{
            span{
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}
.customer-account-edit #dob{
    display: none;
}
#validate_name_char_hidden{
    margin-top: 10px;
}
.customer-account-edit.account {
    .column.main {
        .fieldset > .field,
        .actions-toolbar:not(.order-actions-toolbar){
            width: 100% !important;
        }
        .fieldset {
            > .field.email,
            > .field.password{
                max-width: 540px;
                width: 100%;
                .password-strength-meter{
                    margin-top: 10px;
                }
            }
        }
        .actions-toolbar:not(.order-actions-toolbar) {
            width: 100%;
            justify-content: center;
            padding-top: 80px;
            border-top: 1px solid #ddd;
            .secondary,
            .action{
                line-height: 40px !important;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 232px;
                span{
                    display: block;
                    margin-top: -1px;
                }
            }
            .secondary:hover{
                background:#222;
                color:#fff;
                a{
                    color: #fff !important;
                }
            }
        }
    }
    .fieldset > .fields > .field{
        margin-bottom: 24px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    .form-edit-account {
        .field.verification-code,
        .field.mobile {
            input{
                border:1px solid #ddd;
                padding: 10px 16px;
                font-size: 14px;
                color: #767676;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            a{
                line-height: 40px;
                font-size: 16px;
                height: 40px;
                background: #222;
                border:1px solid #222 !important;
                &:hover,&:focus{
                    background:none;
                    border:1px solid;
                    color:222 !important;
                }
            }
        }
        .field.mobile {
            .control{
                display: grid;
                grid-template-columns:1fr 1fr;
                column-gap: 20px;
                select{
                    width: 100% !important;
                }
                input{
                    width: 100%;
                }
            }
        }
        .field.gender{
            margin-bottom: 24px !important;
            *{
                display: inline-block;
            }
            input[type="radio"] {
                position: relative;
            }
            label{
                font-size: 16px;
                line-height: 22px;
                color:#222;
                font-weight: 500;
                height:22px;
                margin-right:40px;
            }
            label[for="gender"]{
                 display: block;
                 margin-right:0;
                 margin-bottom: 8px;
            }
        }
    }
    .fieldset{
        &.mobilenumber {
            margin-top: 69px;
            > .field{
                margin-bottom: 24px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &.password{
            margin-bottom: 16px;
            margin-top: 69px;
            > .field{
                margin-bottom: 24px;
            }
        }
        &.beauty-profile{
            padding-top: 40px;
            border-top:1px solid #ddd;
            > .fields{
                > label{
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 700;
                    font-family: 'Theinhardt';
                    display: block;
                    margin-bottom: 4px;
                }
                > span{
                    font-size: 14px;
                    line-height: 19px;
                    width: 100%;
                    color: #767676;
                    margin-bottom: 24px;
                    display: block;
                }
                > .control{
                    display: flex;
                }
            }
            .field.field-beauty-profile{
                font-size: 16px;
                line-height: 22px;
                display: flex;
                align-items: center;
                margin-right: 24px;
                position: relative;
                &:last-child{
                    margin-right: 0;
                }
                .control{
                    display: flex;
                    input[type="checkbox"]{
                        margin-right: 10px;
                    }
                }
            }
        }
        &.subscription{
            padding-top: 40px;
            border-top:1px solid #ddd;
            > .fields{
                > label{
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 700;
                    font-family: 'Theinhardt';
                    display: block;
                    margin-bottom: 4px;
                }
                > span{
                    font-size: 14px;
                    line-height: 19px;
                    width: 100%;
                    color: #767676;
                    margin-bottom: 24px;
                    display: block;
                }
                > .control{
                    display: flex;
                }
            }
        }
    }
    ._keyfocus *:focus,
    input:not([disabled]):focus,
    textarea:not([disabled]):focus,
    select:not([disabled]):focus{
        box-shadow: none;
    }
    .fieldset > .field:not(.choice):not(.gender) > .label{
        text-align: left;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 8px;
        color: #222;
        font-weight: 500;
        height: 22px;
        width: 100%;
    }
    .fieldset-fullname {
        .fields{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
        }
    }
}
.customer-account-changepass{
    .customer-name-prefix{
        height: 0;
        width: 0;
        margin-bottom: 0 !important;
        overflow: hidden;
    }
    .fieldset {
        > .field{
            margin-bottom: 24px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        > .field > .label,
        > .fields > .field > .label{
            color: #222;
            font-size: 16px;
            line-height: 22px;
        }
        > .field:not(.choice):not(.gender) > .label {
            height: 22px;
            float: left;
            margin-bottom: 8px;
            width: auto;
        }
    }
    .password-strength-meter {
        background: none;
        height: auto;
        line-height: 16px;
        padding: 4px 0 0;
        color: #767676;
        font-size: 12px;
    }
    &.account .column.main {
        .fieldset > .field{
            width: 100%;
            max-width:100%;
        }
        .actions-toolbar:not(.order-actions-toolbar){
            display: flex;
            width: 100%;
            justify-content: center;
            padding-top: 80px;
            border-top: 1px solid #ddd;
            margin-top: 10px;
            float: left;
        }
        .page-title-wrapper .page-title{
            padding-bottom: 32px;
            margin-bottom: 40px;
            border-bottom:1px solid #ddd;
        }
    }
    .secondary:hover,
    .secondary:focus{
        background: #222;
        color: #fff;
        a{
            color: #fff;
        }
    }
}
@media(min-width: 767px){
    .table-wrapper {
        .data.table.mobile {
            display: table;
        }
    }
    .form-edit-account {
        .field.mobile input{
            width: 100%;
        }
    }
}
@media(max-width: 767px){
    body.account{
        &.customercoupon-coupon-index,
        &.customer-account-changepass,
        &.customer-account-index {
            .page-title {
                font-size: 21px;
                line-height: 28px;
                margin: 24px 0 28px !important;
            }
        }
        &.wishlist-index-index{
            &.page-title {
                margin-bottom: 31px !important;
            }
        }
        &.customer-account-changepass {
            .column.main {
                .page-title-wrapper .page-title{
                    border-bottom: none;
                    padding-bottom:0;
                }
                .actions-toolbar:not(.order-actions-toolbar){
                    padding-top: 0;
                    border-top: none;
                }
            }

        }
        &.customer-account-edit .column.main .actions-toolbar:not(.order-actions-toolbar){
            padding-top:0;
            border-top: none;
        }
        .column.main .actions-toolbar:not(.order-actions-toolbar) {
            .secondary{
                height: 40px;
                line-height: 40px;
            }
            .action{
                font-size: 14px !important;
                height: 40px;
                line-height: 40px !important;
            }
        }
    }
    .account .column.main {
        .block:not(.widget) {
            .box-title {
                > *{
                    font-size: 14px;
                    line-height: 18.5px;
                }
                > span{
                    font-weight:700;
                }
            }
            strong.box-title  > *{
                font-weight:700;
            }
            .block-title {
                font-size: 16px !important;
                line-height: 21px;
                margin-bottom: 20px;
                padding-bottom: 8px;
                border-bottom: 1px solid #ddd;
                > .action span{
                    font-size: 12px;
                    line-height: 15.5px;
                }
            }
        }
    }
    .customer-account-index.account {
        .block {
            .block-title {
                padding-bottom: 8px !important;
                margin-bottom: 20px !important;
                strong{
                    font-size: 16px;
                    line-height: 21px;
                }
            }
            &.block-dashboard-addresses .box-actions .action.edit,
            &.block-dashboard-info .box-actions a.action,
            &.block-dashboard-addresses .box-content address strong,
            &.block-dashboard-addresses .box-content address,
            .block-content .box-content,
            .box-information .box-content p{
                font-size: 13px;
                line-height: 17px;
            }
            &.block-dashboard-addresses .block-title .action.edit span{
                font-size: 12px !important;
                line-height: 15.5px !important;
            }
            &.block-dashboard-beauty-profile .block-title{
                margin-bottom: 20px !important;
            }
        }
        .block-reviews-dashboard,
        .block-dashboard-info,
        .block-dashboard-addresses{
            padding: 0 15px 46px;
            margin: 0 ~"-15px" 40px;
            border-bottom: 6px solid #eee;
        }
        .block-dashboard-beauty-profile .block-content ul li{
            font-size: 13px;
            line-height: 17px;
        }
        .column.main {
            .block.block-reviews-dashboard .block-title > .action.view{
                top: 2px;
                &:after{
                    vertical-align: top;
                }
            }
             .block:not(.widget).block-reviews-dashboard .block-title{
                border-bottom:none;
            }
        }
    }
    .pip-box-actions.box-actions{
        margin-top: 5px;
        a{
            font-size: 12px;
            line-height: 15.5px;
        }
    }
    .customer-account-edit.account,
    .customer-account-changepass {
        .fieldset {
            > .field:not(.choice):not(.gender) > .label,
            > .field > .label,
            > .fields > .field > .label {
                font-size: 14px;
                line-height: 18.5px;
                margin-bottom: 6px;
            }
        }
    }
    .customer-account-edit.account {
        .fieldset-fullname .fields{
            display: block;
            margin-bottom: 28px;
        }
        fieldset.password{
            margin-top: 40px;
        }
        .form-edit-account {
            .field.mobile {
                .control{
                    display: block;
                    > *{
                        margin-bottom: 8px;
                    }
                }
            }
            .field.gender {
                label{
                    font-size: 13px;
                    line-height: 17px;
                }
                label[for="gender"]{
                    font-size: 14px;
                    line-height: 18.5px;
                    margin-bottom: 6px;
                }
            }
        }

        .fieldset.beauty-profile {
            padding-top:28px;
            > .fields {
                > .control {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 30px;
                }
                > label {
                    font-size: 14px;
                    line-height: 18.5px;
                }
                > span{
                    font-size: 13px;
                    line-height: 19px;
                    margin-bottom: 20px;
                }
            }
            .field.field-beauty-profile{
                font-size: 13px;
                line-height: 17px;
            }
        }
    }
    .fieldset > .field.choice> .label{
        font-size: 13px !important;
        line-height: 17px !important;
    }
    .form-edit-account {
        .fieldset{
            > .fields > .field > .label,
            > .field > .label{
                font-size: 14px;
                line-height: 18.5px;
                margin-bottom: 6px;
            }
            &.info,
            &.password {
                input[type="email"],
                input[type="password"],
                input[type="text"]{
                    font-size: 13px;
                }
                > .legend{
                    font-size: 21px;
                    padding-bottom: 0;
                    margin-bottom: 28px;
                    border: none;
                    span{
                        font-size: 21px;
                    }
                }
            }
        }
        .actions-toolbar{
            > .primary,
            > .secondary {
                margin-bottom: 0;
            }
        }
    }

    .my-page-review .titles {
        border-bottom:1px solid #ddd;
        .item.title {
            margin-right: 16px;
            margin-bottom: -1px;
            a {
                font-size: 14px;
                line-height: 18.5px;
            }
        }
    }
    .unwritten-reviews table.table-reviews .product-name{
        margin-bottom: 0;
    }
    table.table-reviews{
        .col.actions{
            width: 100%;
            a{
                width: 154px !important;
                font-size: 12px;
                text-align: center;
                height: 36px;
                margin:16px 0 0;
            }
        }
        .col.item .product-name a{
            font-size: 14px;
            line-height: 18.5px;
        }
        .product-thumbnail-wrapper {
            width: 90px;
            height: 90px;
        }
        tbody{
            tr{
                position:relative;
                min-height: 90px;
                padding: 20px 0 20px 102px;
                td{
                    text-align: left !important;
                    padding: 0 !important;
                    *{
                        width: 100% !important;
                    }
                    .writing-period{
                        font-size: 13px;
                        line-height: 17px;
                    }
                    &.thumbnail{
                        padding-top:0 !important;
                        width: 90px !important;
                        height: 90px;
                        position:absolute;
                        left: 0;
                        top: 20px;
                        *{
                            float: left !important;
                            text-align: left !important;
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
    .customercoupon-coupon-index {
        .block-title{
            font-size: 16px;
            line-height: 21px;
            padding-bottom: 8px;
            border: none;
            margin-bottom: 0 !important;
            &.block-membership{
                border-bottom:1px solid #ddd;
            }
        }
        .membership-wrapper{
            display: flex;
            flex-direction:column-reverse;
            border-top: 1px solid #ddd;
            padding-top: 20px;
            margin-bottom: 40px;
            .action {
                position: static;
                top: 0;
                width: 100%;
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: 13px;
                line-height: 17px;
                padding: 0 0 16px;
                &:after{
                    font-size: 9px;
                }
            }
            .items {
                border-bottom:1px solid #ddd;
                padding-bottom:20px;
                margin-bottom: 16px;
                display: table;
            }
            .item {
                .label,
                .count{
                    margin-bottom: 12px;
                }
                .label{
                    padding-right:30px;
                    font-size: 13px;
                    line-height: 17px;
                }
                .count{
                    text-align: right;
                    font-size: 14px;
                    line-height: 18.5px;
                    span{
                        display: block;
                        font-size: 12px;
                    }
                }
                &:last-child{
                    .label,
                    .count{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .column.main .table-wrapper{
            margin-bottom: 40px !important;
        }
        .table-wrapper{
            table{
                &.mobile{
                    overflow: scroll !important;
                    display: table !important;
                    tbody{
                        display: table-row-group !important ;
                        tr{
                            display: table-row !important;
                            &:first-child{
                                border-top: 1px solid #ddd;
                            }
                            td{
                                font-size: 13px;
                                line-height: 17px;
                                padding: 12px 16px !important;
                                display: table-cell !important;
                                min-width: 160px !important;
                                border-right:1px solid #ddd;
                                text-align: left !important;
                                &.col-title{
                                    padding: 12px !important;
                                    font-weight: 700;
                                    line-height: 19px;
                                    min-width: 107px !important;
                                    border-right:none;
                                    background:#fafafa;
                                }
                                .coupon-button{
                                    width: 100% !important;
                                    float: left !important;
                                    button{
                                        font-size: 13px;
                                        line-height: 17px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    body.account .column.main .top-wishlist .actions-toolbar:not(.order-actions-toolbar) .action{
        font-size: 13px !important;
        margin-top: -4px;
    }
    .wishlist-index-index {
        &.account .column.main .form-wishlist-items .empty{
            font-size: 16px;
            margin-top: 70px;
            margin-bottom: 30px;
        }
        .modal-popup {
            .modal-header{
                padding-top:34px;
                padding-bottom:0 !important;
            }
            .action-close{
                padding:0 5px;
            }
            &.modal-share-content {
                .toggle_shares p{
                    padding-bottom: 20px;
                }
                .modal-content {
                    padding-bottom: 32px !important;
                }
             }
        }
        .top-wishlist{
            font-size: 13px;
            line-height: 17px;
            margin-bottom: 15px;
        }
        .info_shares{
            font-size: 12px;
            .modal-share-button{
                background-size:33px;
                margin-right: 58px;
            }
        }
        .products-grid.wishlist {
            .product-item {
                margin-bottom: 12px;
                padding-bottom: 28px;
                padding-top: 0;
                &:first-child{
                    border-top:none;
                }
                &:last-child{
                    border-bottom:1px solid #ddd;
                }
                .box-tocart .product-item-actions .actions-primary{
                    margin:0;
                }
                .price-box{
                    margin-top:0;
                }
                .product-item-name {
                    padding-top: 14px;
                    a{
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
                .tocart {
                    height: 32px;
                    font-size: 12px;
                    line-height: 16px;
                    width: 120px;
                    margin-top: 10px !important;
                }
                .product-item-actions > a.btn-remove:before{
                    font-size: 12px;
                }
            }
            .product-item-info{
                min-height: 90px;
                padding-left:90px;
                padding-right:20px;
                > *:not(.product-item-photo):not(.product-item-inner) {
                    margin-left: 12px;
                    width: 100%;
                    margin-bottom: 6px;
                }
            }
            .product-item-photo{
                width: 90px;
                height: 90px;
                transform: none;
                top: 0;
            }
            .product-image-container{
                max-width: 90px;
            }
            .product-item-inner {
                padding-left:12px;
                justify-content: flex-start;
                position: static;
                top: 0;
                transform: none;
                > .product-item-actions{
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
    .wishlist-popup-login.modal-popup {
        .modal-inner-wrap{
            max-width: 296px;
            width: 100%;
        }
        .modal-content {
            padding-bottom:32px !important;
            .msg{
                padding-top:48px;
                background-size:40px;
                line-height: 27px;
            }
            .action.secondary {
                height: 32px;
                line-height: 31px;
                max-width: 120px;
                margin: 20px auto 0;
                font-size: 12px;
            }
            .action.signup-link {
                font-size: 13px;
                line-height: 17px;
                margin: 20px 0 0;
                color: #767676;
            }
        }
        .modal-header .action-close{
            top: 10px;
            right: 14px;
        }
        &:not(.confirm):not(.agreements-modal) .modal-header{
            padding-bottom:12px;
        }
    }
    .member_point, .member_review{
        width: calc(100% / 2) !important;
        background-color: #f6faff !important;
        padding: 20px !important;
        text-align: left !important;
        border: none;
        position: relative;
    }
    .member_info {
        width: 50% !important;
        border: none;
        padding: 20px !important;
    }
    .box_member .member_review .label {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAClSURBVHgB5ZLRDcIwDETrwgDNBk4maCcAJgEmoSt0A5gANgAWSRiBDcJdlF+K+a6lk+0oT/fhk8ZYqrpFo84vlBihk4gcMD6hTc55tzJCI3RLKR2dcwOeu9biBIcB6kMIVzpC71nIe5/Qte499gx4/AdS7kuDSgD4iZ2HLY8id+gSY/wKrhklALzLRKCCsxCr5YEhznuowzz9gopjdWMGGalHY6wPJjxZvYNNC3cAAAAASUVORK5CYII=") !important;
        background-position: center left !important;
    }
    .box_member .member_info h3 {
        margin-bottom: 5px !important;
    }
    .box_member .member_info p {
        margin-bottom: 5px !important;
    }
    .box_member .member_point .count{
        margin-top: 0px !important;
        margin-bottom: 5px !important;
    }
    .box_member .member_point p {
        margin-bottom: 5px !important;
    }
    .box_member .member_review .count {
        margin-top: 0px !important;
        margin-bottom: 5px !important;
    }
    .member_review .title, .member_point .title {
        margin-bottom: 5px !important;
    }
}
.member_review, .member_point{
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: flex-end;
    .point{
        font-size: 13px !important;
        background-size: 14px !important;
    }
    .count{
        font-size: 20px !important;
        text-align: left !important;
        font-weight: bold !important;
    }
    .label{
        padding: 0px 0 0 20px !important;
    }
    .title{
        font-size: 12px;
    }
    .date{
        font-size: 12px;
        margin-bottom: 5px;
    }
    .link{
        font-size: 13px;
        font-weight: bold;
    }
    .link::after{
        width: 17px;
        height: 17px;
        display: inline-block;
        content: '';
        background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IjIwcHhfQ2F0ZWdvcnlfJmd0OyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCI+CiAgICA8cGF0aCBkYXRhLW5hbWU9IlBhdGggODQ1MjU3IiBkPSJNNiAwIDAgNmw2IDYiIHRyYW5zZm9ybT0icm90YXRlKDE4MCA2Ljc1IDguMjUpIiBzdHlsZT0ic3Ryb2tlOiMyMjI7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLXdpZHRoOjEuNXB4O2ZpbGw6bm9uZTtzdHJva2UtbWl0ZXJsaW1pdDoxMCIvPgo8L3N2Zz4K);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: text-bottom;
    }
}

.customercoupon-coupon-index {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .customercoupon-coupon-index {
        th:first-child,
        td:first-child {
            width: 40% !important;
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .customercoupon-coupon-index {
        .table-coupon-child {
            display: block !important;
        }
        .table-coupon {
            overflow-x: auto;
        }
        tbody {
            display: flex !important;
            flex-direction: row;
        }
        tr {
            display: flex !important;
            flex-direction: column;
            min-width: fit-content !important;
            padding: 0 !important;
            justify-content: space-between;
            border-left: 1px solid #ddd;
        }
        tr:first-child {
            background: #fafafa;
        }
        td {
            padding: 20px 10px !important;
            text-align: left !important;
            border-top: 1px solid #ddd;
            .coupon-button {
                min-width: fit-content;
                float: left !important;
                line-height: 20px;
            }
            &:first-child {
                border:none;
            }
        }
        tr:first-child {
            min-width: 150px !important;
        }
        th {
            position: sticky !important;
            left: 0;
            min-width: 150px !important;
            text-align: left !important;
            padding: 21px 10px !important;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
    }
}
