<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: ali
 * Date: 03/01/21
 * Time: 03:49 PM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Eguana_FacebookPixel">
        <sequence>
            <module name="Eguana_Base"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Store"/>
            <module name="Magento_Cms"/>
            <module name="Magento_Checkout"/>
        </sequence>
    </module>
</config>
