<p class="step-title amcheckout-title"
   data-amcheckout-js="step-title"
   data-role="title" translate="'CHECKOUT AS A CUSTOMER'"></p>
<div id="checkout-step-shipping"
     class="step-content amcheckout-content"
     data-amcheckout-js="step-content"
     data-role="content"
     data-bind="mageInit: {'checkoutCollapsibleSteps': {}}">
	<div class="shipping-method-wrapper">
		<div class="shipping-method-title" translate="'Select Shipping Method'"></div>
		<li id="store-pickup" class="checkout-shipping-address amcheckout-shipping-address"
		    css="'selected-shipping': isHomeDeliverySelected(), 'selected-store-pickup': isStorePickupSelected(), 'selected-store-pickup-sf': isStorePickupSelected()"
		>
			<render args="deliveryMethodSelectorTemplate"></render>
			<if args="isHomeDeliverySelected">
				<each args="getRegion('home-delivery-selector')">
					<div template=" {name: getTemplate()}"></div>
				</each>
			</if>
			<if args="isStorePickupSelected">
				<each args="getRegion('store-selector')">
					<div template=" {name: getTemplate()}"></div>
				</each>
			</if>
			<if args="isStorePickupSfSelected">
				<each args="getRegion('store-sf-selector')">
					<div template=" {name: getTemplate()}"></div>
				</each>
			</if>
		</li>
		<if args="isHomeDeliverySelected">
			<button type="button"
			        data-bind="click: showFormPopUp"
			        class="action action-show-popup amcheckout-button">
				<span data-bind="i18n: 'New Address'"></span>
			</button>
		</if>
        <p class="notice">
            我們目前只接受送貨至香港特別行政區(包括香港島、九龍、新界及離島)及澳門特別行政區的訂單，暫不支援中國內地及海外。請仔細閱讀本網站所載的使用<a href="/terms-and-conditions" style="font-style:italic;">條款及細則</a>､ <a href="/delivery-and-returns" style="font-style:italic;">網上訂購及送貨服務注意事項</a>及<a href="/privacy-policy" style="font-style:italic;">私隱政策聲明</a>。如你確認提交訂單，即代表閣下已經閱讀、明白及同意接受此等使用條款的約束。
        </p>
	</div>
</div>

