<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2021 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: adeel
 * Date: 7/15/21
 * Time: 3:10 AM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="gcrm_customer_data_export">
        <observer instance="Amore\GcrmDataExport\Observer\Customer\SaveSuccess" name="customer_save_succes_after"/>
    </event>
    <event name="gcrm_customer_bulletin_data_export">
        <observer instance="Amore\GcrmDataExport\Observer\Customer\SaveBulletin" name="bulletin_ticket_save"/>
    </event>
</config>
