<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2021 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: adeel
 * Date: 7/15/21
 * Time: 2:54 AM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Amore_GcrmDataExport">
        <sequence>
            <module name="Magento_Customer"/>
            <module name="Magento_CustomerCustomAttributes"/>
            <module name="Eguana_StoreSms" />
            <module name="Amore_CustomerRegistration"/>
            <module name="Magento_ImportExport" />
            <module name="Magento_InventoryImportExport" />
            <module name="Magento_ScheduledImportExport"/>
        </sequence>
    </module>
</config>

