// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .delivery-message {
        margin-top: 50px;

        .step-title {
            margin-bottom: @indent__base !important;
        }
    }
    .delivery-message-error{
        display: none;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .delivery-message {
        margin-left: -@layout__width-xs-indent;
        margin-right: -@layout__width-xs-indent;

        .control {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }
    }
    .delivery-message-error{
        display: none;
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .delivery-message {
        .control {
            .lib-css(max-width, @checkout-shipping-address__max-width);
            margin-left: auto;
            margin-right: auto;
        }
    }
    .delivery-message-error{
        display: none;
    }
}
