& when (@media-common = true) {
    .modal-popup {
        .modal-inner-wrap {
            &.custom-cookie-inner-wrap {
                background: none !important;
                box-shadow: none !important;
                transform: none !important;
                transition: none !important;
                margin: 0 !important;
                width: 100% !important;
                height: 100% !important;
                justify-content: center;
                align-items: center;
                >div {
                    max-width: 90%;
                    padding: 40px 30px;
                    background: #fff;
                    border-radius: 5px;
                    box-sizing: border-box;
                }
            }
        }

        .cookie-content {
            text-align: center;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #000;
            a {
                color: #2196f3;
                font: inherit;
                text-decoration: underline;
            }
            //span {
            //    justify-content: center;
            //    display: flex;
            //    margin-top: 4px;
            //}
        }

        .custom-allow-cookie {
            margin-top: 30px;
            text-align: center;
        }

        .custom-btn-cookie {
            display: inline-block;
            min-width: 160px;
            padding: 0 1.5em;
            background: #333;
            border: 0;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            line-height: 40px;
        }

        //.custom-allow-cookie img {
        //    position: absolute;
        //    margin-left: -65px;
        //}
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .modal-popup {
        //.custom-cookie-inner-wrap {
        //    top: unset;
        //    width: 165px !important;
        //    height: 112px !important;
        //    margin-left: 52% !important;
        //    bottom: 2px;
        //    left: unset;
        //    margin-right: 2px !important;
        //}
        .modal-inner-wrap {
            &.custom-cookie-inner-wrap {
                >div {
                    max-width: 90%;
                    padding: 35px 25px;
                }
            }
        }
        .cookie-content {
            font-size: 14px;
        }

        .custom-allow-cookie {
            margin-top: 25px;
        }

        .custom-btn-cookie {
            min-width: 120px;
            font-size: 14px;
        }

        //.custom-allow-cookie {
        //    margin-top: -39px;
        //}
    }
}
