& when (@media-common = true) {
    .modal-popup {
        .custom-cookie-inner-wrap {
            box-sizing: border-box;
            position: absolute;
            width: 1272px !important;
            height: 123px;
            top: 75%;
            background: #FFFFFF;
            border: 1px solid #D9DBE9;
            box-shadow: 0 14px 42px rgba(8, 15, 52, 0.06);
            border-radius: 20px;
        }

        .cookie-content {
            width: 643.57px;
            height: 123px;
            padding-left: 138.33px;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #6F6C90;
        }

        .custom-allow-cookie {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: static;
            width: 182.92px;
            height: 54px;
            left: 0px;
            top: 0px;
            background: #506AE5;
            box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
            border-radius: 56px;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin-left: 950px;
            margin-top: -93px;
        }

        .custom-btn-cookie {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            border: none;
            outline: none;
            background: none;
        }

        .cookie-image {
            position: absolute;
            left: 1.96%;
            right: 77.48%;
            top: 21.84%;
            bottom: 8.18%;
        }

    }
}
@media screen and (max-width: 768px) {
    .modal-popup {
        .custom-cookie-inner-wrap {
            box-sizing: border-box;
            position: absolute;
            width: 312px !important;
            height: 235px !important;
            left: 8%;
            top: 70%;
            background: #FFFFFF;
            border: 1px solid #D9DBE9;
            border-radius: 20px;
        }
        .cookie-image {
            width: 50px;
            position: absolute;
            left: 41.8%;
            right: 44.53%;
            top: 6.31%;
            bottom: 23.77%;
        }
        .cookie-content {
            position: absolute;
            width: 300px;
            right: 2%;
            top: 28%;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #6F6C90;
        }

        .custom-allow-cookie {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 9px;
            position: static;
            width: 129px;
            height: 13px;
            left: 0px;
            top: 0px;
            background: #506AE5;
            border-radius: 56px;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin-top: 175px;
            margin-left: 77px;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        .custom-btn-cookie {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            border: none;
            outline: none;
            background: none;
        }

    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .modal-popup .custom-cookie-inner-wrap {
        width: 591px !important;
        height: 235px !important;
        left: 26px;
    }

    .modal-popup .cookie-content {
        width: 400px;
        right: 17%;
    }

    .modal-popup .custom-allow-cookie {
        margin-left: 216px;
    }
}
@media screen and (max-width: 1180px) and (min-width: 820px) {
    .modal-popup .custom-cookie-inner-wrap {
        top: 70%;
        left: 0px;
    }

    .modal-popup .custom-allow-cookie {
        margin-top: 41px;
    }

}
