& when (@media-common = true) {
    .modal-popup {
        .custom-cookie-inner-wrap {
            box-sizing: border-box;
            position: absolute;
            width: 935px !important;
            height: 60px;
            top: 85%;
            background: #FFFFFF;
            border: 1px solid #D9DBE9;
            box-shadow: 0 14px 42px rgba(8, 15, 52, 0.06);
            border-radius: 20px;
        }

        .cookie-content {
            width: 85%;
            height: 60px;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 30px;
            color: #6F6C90;
        }

        .custom-allow-cookie {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: static;
            width: 84px;
            height: 30px;
            left: 0px;
            top: 0px;
            background: #506AE5;
            box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
            border-radius: 56px;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin-left: 86%;
            margin-top: -60px;
        }

        .custom-btn-cookie {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            color: #FFFFFF;
            border: none;
            outline: none;
            background: none;
        }

        .action-close {
            padding: unset;
        }

        .custom-allow-cookie img {
            position: absolute;
            margin-left: -65px;
        }
    }
}
@media screen and (max-width: 768px) {
    .modal-popup {
        .custom-cookie-inner-wrap {
            box-sizing: border-box;
            position: absolute;
            width: 95% !important;
            height: 120px !important;
            margin: auto !important;
            bottom: 1%;
            background: #FFFFFF;
            border: 1px solid #D9DBE9;
            border-radius: 20px;
        }
        .cookie-content {
            width: 90%;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            height: 120px;
            line-height: 20px;
            text-align: center;
            color: #6F6C90;
            margin-top: 18px;
        }

        .custom-allow-cookie {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            width: 88px;
            height: 13px;
            background: #506AE5;
            border-radius: 56px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            margin-top: 80px;
        }

        .custom-btn-cookie {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            color: #FFFFFF;
            border: none;
            outline: none;
            background: none;
        }

        .action-close {
            padding: unset !important;
        }

    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles */
    .modal-popup {
        .custom-cookie-inner-wrap {
            width: 90% !important;
            height: 90px;
        }

        .custom-allow-cookie {
            position: absolute !important;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            margin-top: 52px;
        }

        .cookie-content {
            margin: auto;
        }
    }
}
