<?xml version="1.0"?>
<!--
/*
 *  @author Eguana Commerce Brian
 *  @copyright Copyright 2020 (c) Eguana Commerce
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pending_canceler" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cancel Pending Orders</label>
            <tab>eguana_extensions_tab</tab>
            <resource>Eguana_PendingCanceler::pendingCanceler</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Cancel Pending Order Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="days" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Days Setting</label>
                <field id="days_to_cancel" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Days Setting to Cancel Pending Orders</label>
                </field>
            </group>
            <group id="pending_canceler_cron" translate="label" type="text" sortOrder="260" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Pending Canceler Cron</label>
                <field id="frequency" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Eguana\PendingCanceler\Model\Config\Backend\CancelPending\PendingOrdersChecker</backend_model>
                </field>
                <field id="time" translate="label" type="time" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start Time</label>
                </field>
                <field id="run_cron" translate="Run Now" type="button" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Run Now</label>
                    <frontend_model>Eguana\PendingCanceler\Block\System\Config\PendingCancelRun</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
