<?xml version="1.0"?>
<!--
/*
 *  @author Eguana Commerce Brian
 *  @copyright Copyright 2020 (c) Eguana Commerce
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amore\PointsIntegration\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Amore\PointsIntegration\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">pointsIntegrationLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Amore\PointsIntegration\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
<!--    <type name="Magento\Rma\Model\Rma">-->
<!--        <plugin sortOrder="1" name="amorePointsIntegrationRma" type="Amore\PointsIntegration\Plugin\Model\RmaPlugin"/>-->
<!--    </type>-->
<!--    <type name="Eguana\GWLogistics\Model\Service\OrderStatusNotificationHandler">-->
<!--        <plugin sortOrder="1" name="amorePointsIntegrationOrderStatusNotificationHandler"-->
<!--                type="Amore\PointsIntegration\Plugin\Model\Service\OrderStatusNotificationHandlerPlugin"/>-->
<!--    </type>-->
    <type name="Magento\Rma\Model\RmaRepository">
        <plugin sortOrder="1" name="amorePointsIntegrationRmaRepository"
                type="Amore\PointsIntegration\Plugin\Model\RmaRepositoryPlugin"/>
    </type>
</config>
