//
//  Listing page
//  _____________________________________________

& when (@media-common = true) {
    .video-board-list {
        .lib-list-reset-styles();
        font-size: 0;
        margin-top: 40px;

        .video-board-item {
            vertical-align: top;

            .video-link {
                border: 1px solid @border-color__base;
                display: block;
                overflow: hidden;
                position: relative;

                .lib-icon-font(
                    @icon-play,
                    @_icon-font-size: 34px,
                    @_icon-font-line-height: 34px,
                    @_icon-font-position: after,
                    @_icon-font-color: @color-white
                );

                &:after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -17px;
                    margin-left: -17px;
                }
            }

            .video-heading {
                padding: 0 @layout__width-xs-indent;
                margin-top: 15px;
            }

            .video-title {
                color: @primary__color__dark;
                font-size: 16px;
            }
        }
    }

    .video-created-date {
        font-size: @font-size__base;
        color: #787878;
        margin-top: @indent__s;
    }

    .more-item-button {
        text-align: center;
        font-weight: @font-weight__bold;
        padding-top: @indent__l;

        .primary {
            .lib-button-icon(
                @icon-down,
                @_icon-font-size: 16px,
                @_icon-font-color: #ccc,
                @_icon-font-color-hover: #ccc,
                @_icon-font-color-active: #ccc,
                @_icon-font-position: before,
                @_icon-font-text-hide: true
            );
            border-radius: 50%;
            padding: 7px 11px;
            margin-bottom: 7px;

            &:before {
                font-weight: @font-weight__bold;
            }
        }
    }

    //
    //  Detail page
    //  _____________________________________________

    .block-video-board-details {
        .video-created-date {
            margin-top: 15px;
            margin-bottom: @indent__base;
            text-align: center;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .video-board-list {
        margin-left: -@layout__width-xs-indent;
        margin-right: -@layout__width-xs-indent;

        .video-board-item {
            margin-bottom: @indent__l;

            .video-link {
                border-left: none;
                border-right: none;
            }
        }
    }

    .block-video-board-details {
        .video-created-date {
            margin-top: 0;
            margin-bottom: @indent__m;
        }
    }

    .videoboard-detail-index {
        .page-title {
            margin-bottom: @indent__xs;
            margin-top: @indent__s;
        }
    }

    .video-iframe {
        margin-left: -@layout__width-xs-indent;
        margin-right: -@layout__width-xs-indent;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .video-board-list {
        margin-top: 70px;

        .video-board-item {
            display: inline-block;
            margin-left: @indent__base;
            margin-bottom: 50px;
            width: calc(~'(100% - @{indent__base}*2) / 3');

            &:nth-child(3n+1) {
                margin-left: 0;
            }
        }
    }

    .block-video-board-details {
        iframe {
            height: 632px;
        }
    }
}
