.product-image-wrapper {
    .redemption-label {
        position: absolute;
        top: 0;
        z-index: 2;
        right: 0;
        max-width: 35%;
    }
}

.product {
    &.media {

        position: relative;

        .redemption-label {
            position: absolute;
            top: 0;
            z-index: 2;
            right: 0;
            max-width: 25%;
        }
    }
}
