.product-image-wrapper {
    .redemption-label {
        position: absolute;
        top: 20px;
        z-index: 2;
        right: 20px;
        max-width: 40%;
    }
}

.product {
    &.media {

        position: relative;

        .redemption-label {
            position: absolute;
            top: 20px;
            z-index: 2;
            right: 20px;
            max-width: 40%;
        }
    }
}
