// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Email extend styles
//  _____________________________________________

//  This file should be used for theme-specific styles for emails that extend or modify the styles in _email.less
//  This will allow you to edit email styles without copying and editing the _email.less file

//  Custom fonts are declared here, rather than in _email-base.less, as it allows for custom fonts to be changed/removed
//  in custom themes.

//  Importing fonts from an external CSS file, rather than embedding @font-face declarations inside the <style> tag,
//  as the latter will cause font rendering issues if the web fonts are inaccessible.

@import url("../css/email-fonts.css");

//
//  Main
//  _____________________________________________
.main {
    border: 1px solid @border-color__base;
}


//
//  Header
//  _____________________________________________
td.header {
    padding: 19.5px 25px !important;
}

//
//  Navigation
//  _____________________________________________
.header-navigation {
    a {
        color: @primary__color__lighter !important;
        display: block;
        font-size: 16px;
        line-height: 24px;
        padding: 17px 0;

        &:hover,
        &:active,
        &:focus {
            color: #fff !important;
            text-decoration: none !important;
        }
    }
}

//
//  Content
//  _____________________________________________

.main-content {
    border-top: 1px solid @border-color__base;
    padding: @indent__base @indent__base 80px;

    ul {
        padding-left: @indent__m;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

//
//  Footer
//  _____________________________________________
.footer {
    padding: 0;
    background: @black__color;
    .copyright {
        color: #ffffff;
        display: block;
        font-size: 12px;
        line-height: 16px;
        padding: 16px 20px;
        text-align: center;
        border-top: 1px solid @secondary__color;
        margin: 32px 0 0;
    }
}

.email_f_link ul {
    list-style: none;
    margin: 0 !important;
    li {
        border-bottom: 1px solid @secondary__color;
        margin: 0 !important;
        a {
            text-transform: uppercase;
            color: #fff !important;
            font-size: 14px;
            text-decoration: none !important;
            line-height: 18.5px;
            padding: 16px 30px;
            display: block;
            &:hover {
                color: #fff !important;
                text-decoration: none !important;
            }
        }
    }
}
.email_f_contact {
    .email_shk {
        color: #fff;
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
        a {
            color: #fff !important;
            font-weight: 500;
            text-decoration: underline !important;
            &:hover {
                color: #fff !important;
                text-decoration: none !important;
            }
        }
    }
    ul {
        list-style: none;
        margin-top: 12.5px !important;
        display: block;
        margin-bottom: 32px !important;
        display: flex;
        padding: 0 20px;
        align-items: center;
        justify-content: center;
        li {
            margin: 0 !important;
            a {
                font-size: 12px;
                color: #fff !important;
                line-height: 16px;
                font-weight: 500;
                position: relative;
                padding: 0 12px;
                &:after {
                    content: "";
                    width: 1px;
                    height: 12px;
                    background: #fff;
                    position: absolute;
                    top: 1px;
                    right: 0;
                }
                &:hover {
                    color: #fff !important;
                    text-decoration: none !important;
                }
            }
            &:last-child a:after {
                content: "";
                background: 0;
            }
        }
    }
}
.appstore_qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
    .app_store {
        margin-right: 16px;
        a {
            display: block;
            margin: 0 0 8px;
            img {
                display: block;
            }
        }
    }
    .qr_code {
        margin-left: 16px;
    }
}


//
//  Social Icon
//  _____________________________________________
.social-icon {

    ul {
        list-style-type: none;
        margin-bottom: 0;
        padding-top: 24px;
        padding-bottom: 20px;
        padding-left: 0;
    }

    li {
        display: inline-block;
        margin-bottom: 0;
        padding: 0 4px;
    }

    .social {
        img {
            vertical-align: middle;
        }
    }
}

//
//  Button
//  _____________________________________________

.button {
    .inner-wrapper {
        margin-top: @indent__s;

        td:hover {
            border-color: @primary__color !important;
        }

        a:active,
        td:active {
            border-color: @primary__color !important;
        }
    }

    a {
        padding-top: @indent__xs !important;
        padding-bottom: @indent__xs !important;
    }

    a:active,
    a:hover,
    a:visited {
        border: 1px solid @primary__color !important;
    }
}
