<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: mobeen
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Rma\Controller\Returns\Submit">
        <plugin name="eguana_full_refund_before" type="Eguana\CustomRMA\Plugin\RmaManagement" sortOrder="10" />
    </type>
</config>
