<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="satp" translate="label" sortOrder="10">
            <label>Satp</label>
        </tab>
        <section id="satp_lazyloading" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Lazy Loading</label>
            <tab>satp</tab>
            <resource>Satp_LazyLoading::config</resource>
            <group id="lazyloading" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Lazy Loading</label>
                <attribute type="expanded">1</attribute>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Lazy Loading</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>