<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <best_seller_products>
                <limit_products>20</limit_products>
                <use_product_sale>0</use_product_sale>
            </best_seller_products>
            <update_rank_cron>
                <enable>1</enable>
                <cron_expr>15 0 * * *</cron_expr>
            </update_rank_cron>
        </catalog>
    </default>
</config>
