//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .form-create-account-pos {
    .field {
      &.mobile,
      &.verification-code {
        .control {
          overflow: hidden;
          position: relative;
        }

        a  {
          .lib-button(
            @_button-color: @color-white,
            @_button-padding: 0 15px,
            @_button-border: 0,
            @_button-line-height: @form-element-input__height,
            @_button-background: @theme__color__secondary,
            @_button-background-hover: @theme__color__primary-alt,
            @_button-border-hover: 0,
            @_button-background-active: @theme__color__primary-alt,
            @_button-border-active: 0
          );
          .lib-link-as-button();
          position: absolute;
          right: 0;
          top: 0;
          text-align: center;

          &[disabled=disabled] {
            & + .verification-message {
              font-size: @form-field-note__font-size;
              color: @form-field-note__color;
              line-height: @form-field-note__line-height;
            }
          }
        }

        .code-send-message,
        .verification-message,
        .countdown {
          display: block;
          text-align: right;
        }

        .code-send-message {
          color: #5f5f5f;
        }

        .verification-message,
        .countdown {
          color: #e82b24;
        }
      }
    }
  }

  .customer-registration-form-create-account{
    display: none;
  }

  .form-create-account-pos .code-send-message{
    display: none;
  }

  .customer-registration-form-create-account .fieldset > .field:not(.choice) > .label{
    height: inherit;
    width: inherit;
  }

  .form-create-account {
    .checkbox-wrapper {
      display: inline-block;
      margin-right: 24px !important;
    }

    .marketing-title {
      color: @theme__color__primary;
      margin-bottom: 16px;
    }

    .field.gender {
      & + * {
        border-top: 1px solid;
        margin-top: 24px;
        padding-top: @indent__m;
      }
    }
  }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .pos-verification-message {
    margin-top: 0 !important;
    margin-bottom: 16px !important;
    margin-left: -@layout__width-xs-indent !important;
    margin-right: -@layout__width-xs-indent !important;
  }

  .form-create-account-pos {
    .field {
      &.mobile,
      &.verification-code {
        a  {
          line-height: @indent__xl;
          height: @indent__xl;
          width: 40%;
        }

        input,
        .control .mage-error{
          width: 59%;
        }
      }

      &.first_name {
        padding-top: @indent__base;
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .pos-verification-message {
    margin-top: -@indent__base !important;
    margin-bottom: 16px !important;
  }

  .form-create-account-pos {
    .field {
      &.mobile,
      &.verification-code {
        a  {
          width: 20%;
        }

        input,
        .control .mage-error,
        .code-send-message,
        .verification-message,
        .countdown {
          width: 79%;
        }
      }

      &.first_name {
        padding-top: 16px;
      }
    }
  }
}
