<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogInventory\Model\Quote\Item\QuantityValidator">
        <plugin name="remove_out_of_stock_item" type="CJ\Checkout\Plugin\Model\Quote\Item\QuantityValidator"/>
    </type>
</config>
