<?xml version="1.0"?>
<!--
/**
 * @author CJ Team
 * @copyriht Copyright (c) 2020 CJ
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <deliverymessage>
            <general>
                <is_validate_enabled>1</is_validate_enabled>
            </general>
        </deliverymessage>
    </default>
</config>
