// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .breadcrumbs {
        .lib-breadcrumbs();
        position: relative;
        z-index: 1;

        a {
            .abs-action-link(@theme__color__primary-alt);
        }

        a,
        strong {
            display: inline-block;
            vertical-align: middle;
        }

        & ~ .category-view {
            .category-description {
                margin-top: -74px;
            }
        }
    }
}
