// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    table {
        .lib-table-caption();

        > tbody {
            > tr {
                > td {
                    &:not(.item) {
                        text-align: center;
                    }
                }
            }
        }
    }

    .table {
        &:not(.cart) {
            &:not(.totals) {
                .lib-table-bordered(
                @_table_type: light,
                @_table_border-width: @table__border-width
                );

                tfoot {
                    > tr {
                        &:first-child {
                            th,
                            td {
                                border-top: @table__border-width @table__border-style @table__border-color;
                                padding-top: @indent__base;
                            }
                        }

                        &:nth-last-child(2) {
                            th, td {
                                padding-bottom: @indent__base;
                            }
                        }

                        &:last-child {
                            border-top: @table__border-width @table__border-style @table__border-color;

                            th, td {
                                padding-top: @indent__base;
                            }
                        }

                        &:not(.grand_total) {
                            th,
                            td {
                                color: #787878 !important;

                                span,
                                strong {
                                    color: #787878 !important;
                                    font-weight: @font-weight__bold;
                                }
                            }
                        }

                        &.grand_total {
                            th, td {
                                color: @primary__color__dark !important;
                            }

                            th {
                                .lib-font-size(16) !important;
                            }

                            td {
                                .lib-font-size(20) !important;;
                            }
                        }
                    }

                    th,
                    td {
                        box-sizing: border-box;
                        padding-top: 4px;
                        padding-bottom: 4px;
                        width: 50%;
                    }

                    th {
                        padding-left: 19.5%;
                        text-align: left;
                    }

                    td {
                        padding-right: 19%;
                    }
                }

                &:not(.table-totals) {
                    &:not(.table-comparison) {
                        .lib-table-typography();

                        tbody {
                            tr {
                                border-bottom: 1px solid @table__border-color;

                                td {
                                    .action {
                                        display: inline-block;
                                        margin-right: @indent__m;

                                        &:last-child {
                                            margin-right: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        th {
            text-align: center;
        }

        tbody {
            a.action {
                .lib-link(
                    @_link-color: @theme__color__primary-alt,
                    @_link-text-decoration: none,
                    @_link-color-visited: @theme__color__primary-alt,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @theme__color__primary-alt,
                    @_link-text-decoration-hover: none,
                    @_link-color-active: @theme__color__primary-alt,
                    @_link-text-decoration-active: none
                );
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .table-wrapper {
        .lib-table-overflow();
        position: relative; // To hide unnecessary horizontal scrollbar in Safari

        .table {
            &:not(.cart) {
                &:not(.totals) {
                    &:not(.table-comparison) {
                        .lib-table-responsive();

                        &:not(.table-totals) {
                            tbody > tr {
                                > td {
                                    padding-left: 31.25%;
                                    position: relative;

                                    &[data-th]:before {
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        width: 31.25%;
                                    }

                                    &:first-child {
                                        &[data-th]:before {
                                            top: 25px;
                                        }
                                    }

                                    .action {
                                        display: inline-block;
                                        margin-bottom: 0;
                                        margin-left: @indent__xs;
                                        margin-right: @indent__s;

                                        &:last-child {
                                            margin-right: 0;
                                        }
                                    }
                                }
                            }
                        }

                        tbody > tr {
                            > td {
                                text-align: left;

                                &:first-child {
                                    padding-top: @indent__m;
                                }

                                &:last-child {
                                    padding-bottom: @indent__l;
                                }
                            }
                        }

                        &.additional-attributes {
                            tbody {
                                th {
                                    &:extend(.abs-no-display-s all);
                                }

                                td {
                                    &:last-child {
                                        border: none;
                                        padding: 0 0 @indent__xs;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .table {
            &:not(.totals) {
                &:not(.table-comparison) {
                    tfoot {
                        display: block;

                        tr {
                            clear: both;
                            display: block;
                            &:extend(.abs-add-clearfix-mobile all);

                            &:first-child {
                                th,
                                td {
                                    border: none;
                                    padding-top: @indent__base;
                                }
                            }

                            &:last-child {
                                th,
                                td {
                                    padding-top: 27px;
                                    padding-bottom: 35px;
                                }
                            }
                        }

                        th,
                        td {
                            box-sizing: border-box;
                            padding-left: 0;
                            padding-right: 0;
                            width: auto;
                        }

                        th {
                            float: left;
                            text-align: left;
                        }

                        td {
                            float: right;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }

    .data-table-definition-list {
        thead {
            display: none;
        }

        tbody th {
            padding-bottom: 0;
        }

        tbody th,
        tbody td {
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
