// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Layout variables
//  _____________________________________________

@layout__max-width: 1240px;
@layout-indent__width: 30px;
@layout__width-xs-indent: 20px;