// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Layout variables
//  _____________________________________________

@layout__max-width: 1240px;
@layout-indent__width: 30px;
@layout__width-xs-indent: 20px;

//
//  Typography variables
//  _____________________________________________

//  Colors
@text__color: @primary__color__dark;
@text__color__intense: @text__color;
@text__color__muted: @text__color;

//
//  Links
//  ---------------------------------------------

@link__color: @primary__color__darker;
@link__text-decoration: none;

@link__hover__color: @primary__color__darker;
@link__hover__text-decoration: @link__text-decoration;

@link__active__color: @theme__color__primary-alt;
@link__active__text-decoration: @link__text-decoration;

//
//  Buttons
//  ---------------------------------------------
@button__font-weight: @font-weight__regular;
@button__border-radius: false;
@button__color: @primary__color;
@button__background: @color-white;
@button__disabled__opacity: false;
@button__padding: 4px 15px;
@button__border: 1px solid @button__color;
@button__hover__color: @button__background;
@button__hover__background: @theme__color__primary-alt;
@button__hover__border: 1px solid @button__active__background;;
@button__active__color: @button__hover__color;
@button__active__background: @button__hover__background;
@button__active__border: @button__hover__border;
@button-primary__font-size: 16px;
@button-primary__padding: 11px 25px;

//  Large button
@button__font-size__l: 16px;
@button__line-height__l: @font-size__l + 5;
@button__padding__l: 15px @indent__s;

//
//  Breadcrumbs variables
//  _____________________________________________

@breadcrumbs__font-size: 15px;
@breadcrumbs-link__color: @primary__color__darker;
@breadcrumbs__container-margin: 0 0 @indent__xl;
@breadcrumbs-link__visited__color: @breadcrumbs-link__color;
@breadcrumbs-link__hover__color: @breadcrumbs-link__color;
@breadcrumbs-link__hover__text-decoration: none;
@breadcrumbs-link__active__color: @theme__color__primary-alt;
@breadcrumbs-current__color: @breadcrumbs-link__color;
@breadcrumbs-current__font-weight: @font-weight__bold;

//
//  Pager variables
//  _____________________________________________

@pager__font-size: @font-size__base;
@pager__font-weight: @font-weight__regular;
@pager__hover__color: @primary__color__dark;
@pager__active__color: @pager__hover__color;
@pager-item__margin: 0 4px;
@pager-item__padding: 0px 12px;
@pager-current__background: @primary__color;
@pager-current__color: @color-white;
