// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Layout variables
//  _____________________________________________

@layout__max-width: 1240px;
@layout-indent__width: 30px;
@layout__width-xs-indent: 20px;

//
//  Typography variables
//  _____________________________________________

//  Colors
@text__color: @primary__color__dark;
@text__color__intense: @text__color;
@text__color__muted: @text__color;

//
//  Links
//  ---------------------------------------------

@link__color: @primary__color__darker;
@link__text-decoration: none;

@link__hover__color: @primary__color__darker;
@link__hover__text-decoration: @link__text-decoration;

@link__active__color: @theme__color__primary-alt;
@link__active__text-decoration: @link__text-decoration;