// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Noto Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//
//  Icons
//  ---------------------------------------------

@icon-calendar: "\e91f";
@icon-google: "\e91e";
@icon-wishlist-full: "\e91d";
@icon-prev: "\e915";
@icon-next: "\e916";
@icon-youtube: "\e906";
@icon-up: "\e91b";
@icon-down: "\e91c";
@icon-cart: "\e907";
@icon-wishlist-empty: "\e908";
@icon-location: "\e90a";
@icon-logout: "\e90d";
@icon-search-label: "\e90f";
@icon-share: "\e910";
@icon-account: "\e917";
@icon-settings: "\e918";
@icon-play: "\e919";
@icon-information: "\e902";
@icon-prev-thin: "\e903";
@icon-next-thin: "\e904";
@icon-search: "\e905";
@icon-remove: "\e91a";
@icon-expand: "\e900";
@icon-quotation: "\e901";
@icon-collapse: "\e909";
@icon-checkmark: "\e90b";
@icon-menu: "\e90c";
@icon-stop: "\e90e";
@icon-facebook: "\e911";
@icon-instagram: "\e912";
@icon-pinterest: "\e913";
@icon-twitter: "\e914";
@icon-help: "\e623";
@icon-gift-registry: "\e628";
@icon-present: "\e629";
@icon-arrow-up-thin: "\e633";
@icon-arrow-right-thin: "\e624";
@icon-arrow-left-thin: "\e625";
@icon-arrow-down-thin: "\e626";
@icon-warning: "\e602";
@icon-update: "\e603";
@icon-trash: "\e604";
@icon-star: "\e605";
@icon-pointer-down: "\e607";
@icon-list: "\e60b";
@icon-info: "\e60c";
@icon-grid: "\e60d";
@icon-comment-reflected: "\e60e";
@icon-arrow-up: "\e613";
@icon-arrow-down: "\e614";
@icon-pointer-up: "\e618";
@icon-pointer-right: "\e619";
@icon-pointer-left: "\e61a";
@icon-flag: "\e61b";
@icon-envelope: "\e61d";
@icon-compare-full: "\e61e";
@icon-compare-empty: "\e61f";
@icon-comment: "\e620";

//
//  Color nesting
//  ---------------------------------------------

@theme__color__primary: #2b2b2b;
@theme__color__primary-alt: #4477be;
@theme__color__secondary: #79a3dc;

@primary__color: @theme__color__primary;
@primary__color__dark: #000;
@primary__color__darker: #5f5f5f;
@primary__color__light: #a0a0a0;
@primary__color__lighter: #a3a3a3;
@secondary__color: #dddddd;
@secondary__color__light: #eeeeee;

@page__background-color: @color-white;
@panel__background-color: @page__background-color;

@active__color: @theme__color__primary;
@error__color: #e90000;

//  Heading
@h2__font-size-desktop: 42px;
@h3__font-size-desktop: 28px;
@h1__line-height-desktop: 56px;

//
//  Sections variables
//  _____________________________________________

//
//  Tabs
//  ---------------------------------------------
@tab-content__border-top-status: true;


//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: #f7f7f7; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background
