//
//  Common
//  --------------------------------------------

.amreview-container {
    &.amreview-grid-container {
        .amreview-item {
            box-shadow: none;
            box-sizing: border-box;
            display: flex;
            margin: 0 0 30px;
            padding: 0;
            width: 100%;
        }

        .amreview-img-block {
            width: 25%;
            margin-bottom: 0;

            .amreview-img {
                margin: 0;
                width: 100%;
            }
        }

        .amreview-content {
            width: 75%;
            padding-left: 15px;

            .amreview-name {
                font-size: 16px;
            }

            .amreview-description {
                margin-bottom: 10px;
            }
        }
    }
}
