<div id="store-selector" data-bind="blockLoader: $parent.isLoading" >
    <div class="step-title" data-role="title">
        <translate args="'Pick-up method'"/>
    </div>
    <div id="checkout-step-store-selector" class="step-content" data-role="content">
        <select class="select-box" name="pickup_ap_city"
                data-bind="options: apCities, optionsText: 'label', optionsValue: 'value', event: { change: selectCity}"></select>
        <select class="select-box" name="pickup_ap_area"
                data-bind="options: apAreas, optionsText: 'label', optionsValue: 'value', event: { change: selectArea}"></select>
        <select class="select-box" name="pickup_ap_store"
                data-bind="options: apStores,value: $parent.currentStoreCode, optionsText: 'label', optionsValue: 'value', event: { change: selectApStore}"></select>
    </div>
</div>
