<div id="store-selector" data-bind="blockLoader: $parent.isLoading">
    <div class="step-title" data-role="title">
        <translate args="'Region Number'" />
    </div>
    <div id="checkout-step-sf-store-selector" class="step-content" data-role="content">
        <div class="sf-option">
            <div class="sf-locker">
                <input name="pickup_sf_type" value="2" type="radio" data-bind="click: filterStore" />
                <span>順豐智能櫃</span>
            </div>
            <div class="sf-store">
                <input name="pickup_sf_type" value="3" type="radio" data-bind="click: filterStore" />
                <span>順豐站 </span>
            </div>
        </div>

        <div class="pickup-method">
            <div class="step-title" data-role="title">
                <translate args="'Pickup Method'" />
            </div>
            <select class="select-box" name="pickup_sf_city" data-bind="options: sfCities, optionsText: 'label', optionsValue: 'value', event: { change: selectCity}"></select>
            <select class="select-box" name="pickup_sf_area" data-bind="options: sfAreas, optionsText: 'label', optionsValue: 'value', event: { change: filterStore}"></select>
            <select class="select-box" name="pickup_sf" data-bind="options: sfLockers,value: $parent.currentSfCode, optionsText: 'label', optionsValue: 'value', event: { change: selectSfStore}"></select>
        </div>
    </div>
</div>