<?xml version="1.0"?>
<!--
/**
* @author Eguana Team
* @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
* Created by PhpStorm
* User: yasir
* Date: 6/12/20
* Time: 2:41 AM
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Eguana_EcommerceStatus">
        <sequence>
            <module name="Magento_Checkout"/>
            <module name="Eguana_Base"/>
        </sequence>
    </module>
</config>

