<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Framework\Locale\FormatInterface">
        <plugin name="eguana_directory_fix_number_with_comma" type="Eguana\Directory\Plugin\Locale\FormatPlugin"/>
    </type>
    <type name="Magento\Framework\Locale\Format">
        <plugin name="eguana_directory_price_formatter"
                type="Eguana\Directory\Plugin\Locale\PriceFormatter" sortOrder="10"/>
    </type>

</config>
