@color_blue_light: #6691FF;
@color_blue_dark: #4076FF;

.product-item .product-item-actions .actions-secondary > .action:hover {
    background-color: @color_blue_light;
    border: 1px solid @color_blue_light;
    color: #ffffff;
}
.header.content > .header.links {
    a.login:after,
    a.location:after {
        color: @color_blue_light;
    }
}

.block-search{
    .label:before{
        color: @color_blue_light;
    }
}

.minicart-wrapper .action.showcart:before {
    color: @color_blue_light;
}

.block-customer-login .form-login .actions-toolbar .primary{
    :hover{
        background: @color_blue_light;
        border: 1px solid @color_blue_light;
    }

    :active{
        background: @color_blue_light;
        border: 1px solid @color_blue_light;
    }
}

.store_list_left{
    .input-text.store-search-input:focus{
        box-shadow: 0 0 3px 1px @color_blue_light;
    }
}

.stw-stores-locator .fieldset .field .actions .button.search-btn:hover{
    background: @color_blue_light;
    border: 1px solid @color_blue_light;
    color: #ffffff;
}

.stw-stores-locator .stores-result h3 strong {
    color: @color_blue_dark;
}

.stw-stores-locator .stores-list .stores-listing-ul li.store-list.selected-store {
    .store-title {
        color: @color_blue_dark;
    }

    .store-primary-info > p {
        color: @color_blue_dark;
    }
}

.block.block-search .form.minisearch .control {
    input:not([disabled]):focus {
        box-shadow: 0 0 3px 1px @color_blue_light;
    }

    .action.search.primary:hover {
        background: @color_blue_light;
        border: 1px solid @color_blue_light;
        color: #ffffff;
    }
}

.filter-actions .filter-clear{
    &:visited,
    &:active{
        color: @color_blue_dark;
    }
}

.filter-options-content .item a:active {
    color: @color_blue_dark !important;
    text-decoration: underline;
}

.filter-options-content .item a:hover {
    color: @color_blue_dark !important;
    text-decoration: underline;
}

.products-grid, .widget-product-carousel {
    .product-item .tocart:hover {
        background: @color_blue_light;
        border: 1px solid @color_blue_light;
        color: #ffffff;
    }
}

.old-price .discount-label{
    color: @color_blue_dark;
    font-weight: 700;
    font-size: 16px;
    margin-right: 5px;
}

.flags {
    .flag.new{
        background: @color_blue_light;
        color: #ffffff;
        display: block;
        font-size: 13px;
        padding: 1px 5px;
    }
    .flag.best{
        background: #F53C50;
        color: #ffffff;
        display: block;
        font-size: 13px;
        padding: 1px 5px;
    }
}

product-item-name-en, .product-item-name-en a {
    color: @color_blue_dark;
    text-decoration: none;
    &:hover{
        color: @color_blue_dark;
    }
}

.hash-tag .value{
    font-size: 1.6rem;
    box-shadow: inset 0 -10px 0 rgba(180, 205, 255, 60%);
    display: inline-block;
    margin-left: 26px;
}

.qty-selector:hover {
    background: @color_blue_light;
    border: 1px solid @color_blue_light;
    color: #ffffff;
}

.product-info-main .box-tocart .actions button:hover{
    background: @color_blue_light;
    border: 1px solid @color_blue_light;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .navigation .parent > a.ui-state-active {
        background: @color_blue_light;
        color: #ffffff;
    }

    .product-info-main .box-tocart .actions .tocheckout{
        background: @color_blue_light;
        border: 1px solid @color_blue_light;
        color: #ffffff;

        &:hover{
            background: @color_blue_light;
            border: 1px solid @color_blue_light;
        }
    }
}
