.product-item .product-item-actions .actions-secondary > .action:hover {
    background-color: #6691FF;
    border: 1px solid #6691FF;
    color: #ffffff;
}
.header.content > .header.links {
    a.login:after,
    a.location:after {
        color: #6691FF;
    }
}

.block-search{
    .label:before{
        color: #6691FF;
    }
}

.minicart-wrapper .action.showcart:before {
    color: #6691FF;
}

.block-customer-login .form-login .actions-toolbar .action.login.primary{
    :hover{
        background: #6691FF;
        border: 1px solid #6691FF;
    }

    :active{
        background: #6691FF;
        border: 1px solid #6691FF;
    }
}

.store_list_left{
    .input-text.store-search-input:focus{
        box-shadow: 0 0 3px 1px #6691FF;
    }
}

.stw-stores-locator .fieldset .field .actions .button.search-btn:hover{
    background: #6691FF;
    border: 1px solid #6691FF;
    color: #ffffff;
}

.stw-stores-locator .stores-result h3 strong {
    color: #4076FF;
}

.stw-stores-locator .stores-list .stores-listing-ul li.store-list.selected-store {
    .store-title {
        color: #4076FF;
    }

    .store-primary-info > p {
        color: #4076FF;
    }
}

.block.block-search .form.minisearch .control {
    input:not([disabled]):focus {
        box-shadow: 0 0 3px 1px #6691FF;
    }

    .action.search.primary:hover {
        background: #6691FF;
        border: 1px solid #6691FF;
        color: #ffffff;
    }
}

.filter-clear:visited{
    color: #4076FF;
}

.filter-options-content .item a:active {
    color: #4076FF !important;
    text-decoration: underline;
}

.products-grid, .widget-product-carousel {
    .product-item .tocart:hover {
        background: #6691FF;
        border: 1px solid #6691FF;
        color: #ffffff;
    }
}

.old-price .discount-label{
    color: #4076FF;
    font-weight: 700;
    font-size: 16px;
    margin-right: 5px;
}

.flags {
    .flag.new{
        background: #6691FF;
        color: #ffffff;
        display: block;
        font-size: 13px;
        padding: 1px 5px;
    }
    .flag.best{
        background: #F53C50;
        color: #ffffff;
        display: block;
        font-size: 13px;
        padding: 1px 5px;
    }
}

product-item-name-en, .product-item-name-en a {
    color: #4076FF;
    text-decoration: none;
    &:hover{
        color: #4076FF;
    }
}

.hash-tag .value{
    font-size: 1.6rem;
    box-shadow: inset 0 -10px 0 #B4CDFF;
    display: inline-block;
    margin-left: 26px;
    opacity: 60%;
}

.qty-selector:hover {
    background: #6691FF;
    border: 1px solid #6691FF;
    color: #ffffff;
}

.product-info-main .box-tocart .actions button:hover{
    background: #6691FF;
    border: 1px solid #6691FF;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .navigation .parent > a.ui-state-active {
        background: #6691FF;
        color: #ffffff;
    }

    .product-info-main .box-tocart .actions .tocheckout{
        background: #6691FF;
        border: 1px solid #6691FF;
        color: #ffffff;
    }
}
