& when (@media-common = true) {

    .checkout-index-index {
        #checkout-step-referral {
            margin: 0;
            max-width: 680px;

            .amcp-title {
                font-weight: 400;
            }

            .referral-type-container {
                display: flex;
                gap: 20px;

                .control {
                    label {
                        padding: 10px;
                        width: 100%;

                        > span {
                            font-weight: 400;
                            font-size: 15px;
                            text-transform: uppercase;
                        }

                        &:before {
                            width: 20px;
                            height: 20px;
                            background-size: contain !important;
                            border: 1px solid #ddd;
                            box-shadow: none;
                        }
                    }

                    &._active {
                        label {
                            &:before {
                                width: 20px;
                                height: 20px;
                                background-size: contain !important;
                                border-color: #222222;
                                border-width: 6px;
                                box-shadow: 0 2px 4px rgba(63, 156, 215, 0.4);
                            }
                        }
                    }
                }
            }

            .referral-main-container {
                width: 100%;
            }

            .payment-option-inner {
                display: flex;
                margin-bottom: 20px;

                .field {
                    width: 70%;
                    display: flex;
                    gap: 10px;

                    .control {
                        width: 100%;
                    }
                }

                .actions-toolbar {
                    padding-left: 14px;
                    width: 26%;

                    button {
                        background: #fff;
                        width: 100%;
                        font-size: 16px;
                        line-height: 1.5;
                        padding: 6px 0;
                        color: #222;
                        border: 1px solid #222;
                        text-transform: uppercase;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-index-index {
        #checkout-step-referral {
            .referral-type-container {
                flex-wrap: wrap;
                gap: 0;
                margin-bottom: 5px;
                .control {
                    flex: 0 0 100%;
                    label {
                        padding: 5px;
                    }
                }
            }

            .payment-option-inner {
                flex-wrap: wrap;
                gap: 10px;
                .field,
                .actions-toolbar {
                    flex: 0 0 100%;
                    padding: 0;
                }
            }
        }
    }
}
