<li id="cvs-pickup"
    if="isAvailable"
    css="'selected-shipping': !isCvsPickupSelected(), 'selected-cvs-pickup': isCvsPickupSelected()"
>
    <render args="deliveryMethodSelectorTemplate"></render>
    <each args="getRegion('shipping-messages')">
        <div template=" {name: getTemplate()}"></div>
    </each>
    <if args="isCvsPickupSelected">
        <if args="isVisible">
            <each args="getRegion('cvs-selector')">
                <div template=" {name: getTemplate()}"></div>
            </each>
        </if>
    </if>
</li>
