<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="cvs-selector" data-bind="blockLoader: $parent.isLoading" css="'cvs-selected': $parent.selectedLocation">
    <each if="!quoteIsVirtual()" args="getRegion('customer-email')" render="" ></each>
    <div class="step-title" data-role="title">
        <translate args="'Select Cvs from Map'"></translate>
    </div>
    <div id="checkout-step-cvs-selector" data-bind="event: {mouseout: setPreviewShipping}" class="step-content" data-role="content">

        <div>
            <form class="form form-continue"
                  data-role="cvs-map-load-form"
                  submit="setPickupInformation">
                <render args="cvsAddressFormTemplate"></render>
                <div class="actions-toolbar two-buttons">
                    <div class="primary">
                        <button data-role="opc-previous"
                                type="button"
                                class="button action previous primary"
                                click="goBack"
                        >
                        <span>
                            <translate args="'Previous'"></translate>
                        </span>
                        </button>
                    </div>
                    <div class="primary">
                        <button data-role="opc-continue"
                                type="submit"
                                class="button action continue primary"
                                css="disabled: !selectedLocation"
                                enable="selectedLocation"
                                disabled
                        >
                        <span>
                            <translate args="'Next'"></translate>
                        </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


