<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Config\Model\Config\Structure\Element\Group">
        <plugin name="Hoolah_Hoolah" type="Hoolah\Hoolah\Model\Config\Structure\Element\Group" />
    </type>
    <type name="Hoolah\Hoolah\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">0</item>
            </argument>
        </arguments>
    </type>
</config>
