body {
    background-color:beige;
}

#promosDrawer {
    left: 0;
    position: fixed;
    z-index: 16;
}

@media (max-width: 768px) {
    #promosDrawer {
        z-index: 14;
    }
}

#promosDrawer .promos-overlay {
    background: rgba(0, 0, 0, 0);
    transition: background 0.6s ease;
}

#promosDrawer .promos-overlay.up {
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 0;
    background: rgba(0, 0, 0, 0.6);
}

/* Promotions Container */
#promosDrawer .promos-container {
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    height: 0;
    z-index: 1;
    transition: all 0.4s ease;
}

#promosDrawer .promos-container.up {
    height: 115px;
    background-color: white;
}

/* slider mobile height */
@media (max-width: 591px) {
    #promosDrawer .promos-container.up {
        height: 250px;
        height: 35vh;
    }
}

/* Header */
#promosDrawer .promos-container .promos-header {
    background: #000;
    border-radius: 2px 2px 0 0;
    border: 2px solid black;
    border-bottom: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    padding: 16px 10px 0px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 50%;
    /*	width: 240px; */
    width: 100%;
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    font-size: 16px;
    height: 45px;
    line-height: 5px;
    font-family: "Oswald", sans-serif;
}

@media (max-width: 600px) {
    #promosDrawer .promos-container .promos-header span {
        font-size: 15px;
        width: 80%;
        display: block;
        margin: auto;
    }

    #promosDrawer .promos-container .promos-header span.long-title {
        font-size: 14px;
    }

    #promosDrawer .promos-container .promos-header span.very-long-title {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    #promosDrawer .promos-container .promos-header span.long-title {
        font-size: 12px;
        line-height: 15px;
        margin-top: -15px;
    }
    #promosDrawer .promos-container .promos-header span.very-long-title {
        font-size: 10px;
        line-height: 13px;
        margin-top: -13px;
    }
}

#promosDrawer .promos-container .promos-header.up {
    border: 2px solid white;
}

#promosDrawer .promos-container .promos-header span {
    color: white;
    text-transform: uppercase;
}

#promosDrawer .promos-container .promos-header.up span:after {
    content: "X";
    color: white;
    position: absolute;
    right: 5px;
}

#promosDrawer .promos-container .promos-header span:before {
    content: url(https://lechateau.scene7.com/is/image/LeChateau/promoDeal-label?$png-full$);
    position: absolute;
    left: 15px;
    top: 8px;
}

#promosDrawer .promos-container .promos-wrap {
    margin: 0 auto;
    background-color: #fff;
    /*	max-width: 415px;  */
    height: 100%;
    width: 90%;
    position: relative;
    white-space: nowrap;
}

/* Up Container */
#promosDrawer .promos-wrap #promoDealsSlider {
    overflow-x: auto;
    overflow-y: hidden;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    padding-bottom: 7px;
    height: auto;
    will-change: transform;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(0.98);
}

#promosDrawer .promos-wrap #promoDealsSlider.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

/* Scrollbar */
#promoDealsSlider::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
}

#promoDealsSlider::-webkit-scrollbar,
#promoDealsSlider::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
}

#promoDealsSlider::-webkit-scrollbar-track {
    background: rgb(230, 230, 230);
}

/* Cover-up scroll bar */
#promosDrawer .promos-wrap #coverUpTrack {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 15px;
    background-color: white;
    display: none;
}

#promosDrawer .promos-container.up .promos-wrap #coverUpTrack {
    display: block;
}

/* Single promo div */
#promosDrawer .promos-wrap #promoDealsSlider .single-promo {
    margin: 2px 6px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #dadada;
    background-color: #fff;
    position: relative;
}

#promosDrawer .promos-wrap #promoDealsSlider .single-promo img {
}

#promosDrawer .promos-wrap #promoDealsSlider .single-promo img.only-desktop {
    display: block;
}

#promosDrawer .promos-wrap #promoDealsSlider .single-promo img.only-mobile {
    display: none;
}

/* mobile */
@media (max-width: 591px) {
    #promosDrawer .promos-wrap #promoDealsSlider .single-promo {
        width: 100%;
    }

    #promosDrawer .promos-wrap #promoDealsSlider .single-promo img.only-desktop {
        display: none;
    }

    #promosDrawer .promos-wrap #promoDealsSlider .single-promo img.only-mobile {
        display: block;
        height: 250px;
        height: 35vh;
        width: auto;
        margin: auto;
    }
}

/* Arrows */
#promosDrawer #arrowsPromoDeal {
    width: 100%;
    top: 40%;
    top: calc(50% - (30px));
    position: absolute;
    display: none;
}

#promosDrawer .promos-container.up #arrowsPromoDeal {
    display: block;
}

#promosDrawer #arrowsPromoDeal .promo-arrow {
    width: 30px;
    height: 30px;
    max-width: none;
    background-color: red;
    position: absolute;
    cursor: pointer;
    transition: opacity 0.2s ease;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: visible;
}

#promosDrawer #arrowsPromoDeal .promo-arrow:hover {
    opacity: 1;
}

#promosDrawer #arrowsPromoDeal .promo-arrow.prev {
    left: 0%;
    left: calc(0% + 1vw);
    background: url(https://lechateau.scene7.com/is/image/LeChateau/icon-30x30-prev?$png-full$);
}

#promosDrawer #arrowsPromoDeal .promo-arrow.next {
    right: 0%;
    right: 1vw;
    background: url(https://lechateau.scene7.com/is/image/LeChateau/icon-30x30-next?$png-full$);
}

#promosDrawer #arrowsPromoDeal .promo-arrow.reach-end {
    opacity: 0;
    cursor: context-menu;
    visibility: hidden;
}
#promosDrawer #arrowsPromoDeal .promo-arrow.reach-end:hover {
    opacity: 0;
    cursor: context-menu;
}
