.magazine-list-wrapper{
    max-width: 1200px;
}


.products-spacing-30 .product {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.list{
    padding-left: 0px;
    display: inline-flex;
    list-style-type: none;
}

.magazine-item-list {
    padding-left: 20px;
}

.magazine-title{
    width: 380px;
    height: 30px;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.short-description {
    width: 380px;
    height: 24px;
    font-family: NotoSansTC;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #787878;

}

.magazine-photo {
    width: 380px;
    height: 380px;
}

.video-block-content {
    margin: 25px 50px;
    border: groove;
    padding: 25px;
}

.video-content{
    width: 978px;
    height: 551px;
}
.slick-initialized{
    overflow: hidden;
}
.video-item-list{
    height: 280px;
    width: 280px;
}
.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 5px;}
.video-banner{
    text-align: center;
}
