<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="EventLog" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="error" xsi:type="object">CJ\EventManager\Logger\Handler\ErrorHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="CJ\EventManager\Helper\Data">
        <arguments>
            <argument name="logger" xsi:type="object">EventLog</argument>
        </arguments>
    </type>
</config>
