// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .toolbar {
        &.wishlist-toolbar {
            .limiter {
                float: right;
            }
            .main .pages {
                display: inline-block;
                position: relative;
                z-index: 0;
            }
            .toolbar-amount,
            .limiter {
                display: inline-block;
                z-index: 1;
            }

            &:not(.wishlist-toolbar-top) {
                .pager > * {
                    &:not(.pages) {
                        display: none;
                    }
                }
            }
        }

        &.wishlist-toolbar-top {
            border-bottom: 2px solid @primary__color__dark;

            .pager > * {
                &:not(.toolbar-amount) {
                    display: none;
                }
            }
        }
    }

    .form.wishlist.items {
        .actions-toolbar {
            &:extend(.abs-reset-left-margin all);
        }
    }

    .product-info-main,
    .product-options-bottom,
    .block-bundle-summary {
        .action.towishlist {
            &:extend(.abs-action-addto-product all);
        }
    }

    .product-items,
    .products.list.items,
    .table-comparison {
        .action {
            &.towishlist {
                &:extend(.abs-actions-addto-gridlist all);
                .lib-icon-font-symbol(
                    @icon-wishlist-empty
                );
            }
        }
    }

    .account .table-wrapper .data.table.wishlist {
        .lib-table-bordered(
            @_table_type: horizontal
        );

        thead > tr > th {
            border-bottom: 0;
        }

        tbody > tr:last-child > td {
            border-bottom: 1px solid @table__border-color;
        }

        .product.name {
            display: inline-block;
            margin-bottom: @indent__s;
        }

        .box-tocart {
            margin: @indent__s 0;

            .qty {
                vertical-align: middle;
                &:extend(.abs-input-qty all);
            }
        }

        .col {
            &.item {
                width: 50%;
            }

            &.photo {
                max-width: 150px;
            }

            &.selector {
                max-width: 15px;
            }
        }

        textarea {
            margin: @indent__s 0;
        }

        .input-text.qty {
            margin-bottom: @indent__s;
        }

        .action.primary {
            vertical-align: top;
        }

        .price {
            font-weight: @font-weight__bold;
        }
    }

    .block-wishlist {
        .block-title {
            &:extend(.abs-block-title all);
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .product-item-name {
            margin-right: @indent__m;
        }
    }

    .products-grid.wishlist {
        position: relative;

        .product {
            &-item {
                .comment-box {
                    display: none;

                    .label {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                &-tooltip {
                    display: none;
                }

                &-comment {
                    display: block;
                    height: 42px;
                    margin: @indent__s 0;
                }

                .box-tocart {
                    display: inline-block;

                    input.qty {
                        height: 32px;
                        &:extend(.abs-input-qty all);
                    }

                    .field.qty {
                        display: none;
                    }
                }

                &-actions {
                    display: inline-block;

                    .delete {
                        &:extend(.abs-button-l all);
                        .lib-button-icon(@icon-trash);
                        white-space: nowrap;
                        text-align: left;
                    }
                }

                .price-box {
                    margin-bottom: @indent__xs;
                }
            }
        }
    }

    .form-wishlist-items {
        .actions-toolbar {
            button {
                &:extend(.abs-action-button-as-link all);

                span {
                    color: @primary__color;
                    padding-left: 8px;
                }

                &:hover {
                    span {
                        font-weight: @font-weight__bold;
                    }
                }

                &.share {
                    .lib-button(
                        @_button-icon-use: true,
                        @_button-padding: 0,
                        @_button-background: transparent,
                        @_button-border: none,
                        @_button-color: @primary__color__lighter,
                        @_button-background-hover: transparent,
                        @_button-color-hover: @primary__color__dark,
                        @_button-border-hover: none,
                        @_button-background-active: transparent,
                        @_button-color-active: @primary__color__dark,
                        @_button-border-active: none,
                        @_button-font-content: @icon-share,
                        @_button-icon-font-size: 24px,
                        @_button-line-height: @indent__xl,
                        @_button-icon-font-line-height: @indent__xl
                    );
                }

                &.tocart {
                    .lib-button(
                        @_button-icon-use: true,
                        @_button-padding: 0,
                        @_button-background: transparent,
                        @_button-border: none,
                        @_button-color: @primary__color__lighter,
                        @_button-background-hover: transparent,
                        @_button-color-hover: @primary__color__dark,
                        @_button-border-hover: none,
                        @_button-background-active: transparent,
                        @_button-color-active: @primary__color__dark,
                        @_button-border-active: none,
                        @_button-font-content: @icon-cart,
                        @_button-icon-font-size: 24px,
                        @_button-line-height: @indent__xl,
                        @_button-icon-font-line-height: @indent__xl
                    );
                }
            }
        }
    }

    .form.shared.wishlist,
    .form.wishlist.share {
        .field.emails {
            margin-bottom: @indent__xl;
        }

        .actions-toolbar .action {
            &:extend(.abs-button-l all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .wishlist-shared-index,
    .wishlist-index-share {
        .column.main {
            margin-bottom: 0;
            padding-bottom: 0;

            .wishlist.products,
            .fieldset {
                margin-bottom: 80px;
            }
        }
    }

    .form.shared.wishlist,
    .form.wishlist.share {
        .actions-toolbar {
            margin-left: -@layout__width-xs-indent;
            margin-right: -@layout__width-xs-indent;

            .action {
                &:extend(.abs-button-l-mobile all);
            }
        }
    }

    .form-wishlist-items {
        .actions-toolbar {
            div.primary {
                .lib-vendor-prefix-display(flex);
                padding-right: @indent__xs;
            }

            button {
                display: inline-block;
                width: 50%;

                &.share {
                    text-align: left;
                }

                &.tocart {
                    text-align: right;
                }
            }
        }
    }

    .products-grid.wishlist {
        margin-bottom: 8px;
        margin-right: 0;

        .product {
            &-item {
                &-actions {
                    padding: 0 12px;

                    .action {
                        vertical-align: middle;

                        &.delete {
                            color: @primary__color__lighter;
                            padding: 0;

                            span {
                                display: none;
                            }
                        }
                    }
                }

                .box-tocart {
                    .fieldset {
                        margin: 0;
                    }

                    .stock {
                        margin-top: 7px;
                    }

                    .actions-primary {
                        padding: 0;
                    }
                }

                .giftregisty-dropdown,
                .field.qty {
                    display: none;
                }
            }
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .form.shared.wishlist,
    .form.wishlist.share {
        .actions-toolbar {
            margin-top: 60px;

            .action {
                width: 280px;
            }
        }
    }

    .products-grid.wishlist {
        margin-top: -14px;

        .product {
            &-item {
                &-inner {
                    >.product-item-actions {
                        padding: 0 9px;
                    }
                }

                &-actions {
                    .delete {
                        .lib-button-primary(
                            @_button-width: @product-link__width,
                            @_button-font-weight: @font-weight__semibold,
                            @_button-padding: 20px 0
                        );
                        border-radius: 50%;
                        display: inline-block;
                        text-align: center;

                        &:before {
                            display: block !important;
                            margin-bottom: @indent__xs;
                        }
                    }
                }

                .fieldset {
                    .field.qty {
                        margin-bottom: @indent__s;
                        padding-right: @indent__s;

                        .label {
                            width: auto;
                        }
                    }
                }

                .box-tocart {
                    .actions-primary {
                        padding: 0 9px;

                        .action {
                            margin: 0;
                        }
                    }

                    .stock {
                        margin: @indent__base 0 0;
                    }
                }
            }
        }
    }

    .wishlist-index-index {
        .main {
            .form-wishlist-items {
                .actions-toolbar {
                    &:extend(.abs-reset-left-margin-desktop all);
                }
            }
        }
    }

    .form-wishlist-items {
        .actions-toolbar {
            padding-top: @indent__s;
            padding-right: @indent__xs;
            text-align: right;

            button.tocart {
                padding-left: @indent__l;
            }
        }
    }
}
