<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: raheel
 * Date: 2/6/21
 * Time: 08:30 PM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="eguana_cod_invoice" translate="label" type="text" sortOrder="1030" showInDefault="1" showInWebsite="1">
            <class>separator-top</class>
            <label>COD Invoice</label>
            <tab>eguana_extensions_tab</tab>
            <resource>Eguana_CODInvoice::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1">
                    <label>Create Invoice When Payment Through COD</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
