.coupon-wrap {
    background: #F8F8F8;
    padding-top: 10px;
    margin: auto;
}

.coupon-header {
    position: relative;
    width: 780px;
    height: 54px;
    background: #79A3DC;
    display: inline-flex;
}

p.coupon-title-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 11px;
    padding-left: 30px;
    padding-right: 10px;
    margin: 0px;
    text-transform: uppercase;
}

p.counpon-sub-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-top: 17px;
    margin: 0px;
}

.coupon-content {
    margin-left: 50px;
    margin-bottom: 28px;
}

p.promo-title {
    margin: 0px;
    margin-bottom: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.8);
}

.discount-card-content {
    width: 500px;
    display: inline-flex;
    background: #FFFFFF;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.discount-card {
    min-height: 100px;
    margin-bottom: 30px;
    display: inline-flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}

.discount-card-button {
    background: #FFFFFF;
    border-radius: 10px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    /*color: #C07600;*/
    /*color: #4477BE;*/
    text-transform: uppercase;
}

.discount-title {
    height: 45px;
    width: 155px;
    border-radius: 5px;
}

.discount-date {
    display: inline-flex;
}

p.date-exp {
    margin: 0px;
    color: red;
}

.discount-date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 5px;
}

.discount-bar {
    /*background: #E1E1E1;*/
    border-radius: 10px 0px 0px 10px;
    width: 9px;
}

.discount-label {
    padding-left: 13px;
    margin: 14px 0px;
    align-self: center;
}

.discount-border-center {
    width: 60px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: rotate(90deg);
    align-self: center;
}


.discount-title-percent {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.8);
}

.discount-percent {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.8);
}

.discount-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.8);
}

.discount-content {
    width: 259px;
    line-height: 35px;
    margin: 15px 0px;
}

.discount-title-percent,
.discount-percent,
.discount-description {
    margin: 2.5px 0px;
}

p.button-text-apply {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

.line {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0px 20px;
}

.other-promo .discount-bar {
    /*background: #79A3DC;*/
}

.other-promo p.button-text-apply {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #C07600;
}

.other-promo .discount-border-right {
    /*border: 0.1px dashed #79A3DC;*/
    margin: 12px 0px;
}

.discount-border-right {
    border: 0.1px dashed #E1E1E1;
    margin: 12px 0px;
}

.active {
    background: #FFECD9;
}

img {
    width: 155px;
    height: 45px;
    object-fit: contain;
}
.modal-popup .modal-content {
    padding: 0px;
}

.action-show-coupon {
    /*margin-top: 5px;*/
    border-left-color: #e0e0e0;
}
.lng-coupon-popup-color {
    background: #79A3DC;
}

.lng-discount-border-right {
    border: 0.1px dashed #79A3DC;
}
.lng-discount-card-button {
    color: #4477BE;
}

.sws-coupon-popup-color {
    background: #FF9224;
}

.sws-discount-border-right {
    border: 0.1px dashed #FF9224;
}
.sws-discount-card-button {
    color: #C07600;
}
.action-show-coupon-lng {
    margin-top: 5px;
    border-left-color: #e0e0e0;
}
.coupon-wallet {
    display: flex;
    justify-content: center;
    margin-top: 1.1rem;
}
.applied-button {
    color:black;
}
.coupon-wallet-sws {
    margin-top: 1.1rem;
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 1200px){
    .coupon-wrap {
        width: 343px;
        height: 660px;
    }
    .coupon-header {
        width: 100%;
        height: 84px;
        display: grid;
    }
    p.coupon-title-header {
        font-size: 24px;
        line-height: 28px;
        padding: 0px;
        margin: 14px 140px 0px 10px;
    }
    p.coupon-sub-title {
        font-size: 14px;
        line-height: 100%;
        padding-top: 0px;
        margin-left: 10px;
        margin-right: 62px;
    }
    .coupon-content {
        margin-top: 18px;
        margin-left: 10px;
    }
    .discount-border-center {
        display: none;
    }
    .discount-card-content {

        flex-direction: column;

        width: 228px;
    }
    .discount-label {
        /* padding-right: 23px; */
        /* padding-left: 13px; */
        margin: 10px 0px;
        align-self: normal;
        padding: 0px;
        margin-left: 5px;
    }
    .discount-content {
        width: auto;
        line-height: 35px;
        margin-top: 0px;
        margin-bottom: 5px;
        margin-left: 8px;
    }
    .discount-card-button {
        width: 89px;
    }
}
@media screen and (min-width: 768px) {
    .coupon-wallet-popup .modal-inner-wrap {
        width: 780px !important;
        max-width: 780px !important;
    }
}
