<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout">
            <group id="options">
                <field id="referral_component" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Referral Component</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="minimum_length_ba_code" translate="label" type="text" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Minimum Length BA Code</label>
                    <depends>
                        <field id="ba_code_enable">1</field>
                    </depends>
                </field>
                <field id="maximum_length_ba_code" translate="label" type="text" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Maximum Length BA Code</label>
                    <depends>
                        <field id="ba_code_enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
        <section id="points_integration">
            <group id="referral_setting" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1">
                <label>Staff Referral Setting</label>
                <field id="default_bc_referral_code" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Default BC Referral Code</label>
                </field>
            </group>
        </section>
    </system>
</config>
