<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amore\GcrmDataExport\Model\Export" type="CJ\DataExport\Model\Export" />
    <preference for="Amore\GcrmDataExport\Model\Scheduled\Operation" type="CJ\DataExport\Model\Scheduled\Operation"/>
    <!-- Logger -->
    <type name="CJ\DataExport\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="CJ\DataExport\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">CJOlivevDataExportLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">CJ\DataExport\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="CJ\DataExport\Model\Export">
        <arguments>
            <argument name="logger" xsi:type="object">CJ\DataExport\Logger\Logger</argument>
        </arguments>
    </type>
</config>
