// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-link__width: 94px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists
    .product {
        &-items {
            font-size: 0;
            &:extend(.abs-reset-list all);

            .wishlist &,
            .page-products & {
                border-bottom: 1px solid #eaeaea;
            }
        }

        &-item {
            font-size: 1.4rem;
            vertical-align: top;
            text-align: center;

            .wishlist &,
            .page-products .products-grid & {
                &:nth-child(2n + 1) {
                    &:not(:first-child):before {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        border-top: 1px solid #eaeaea;
                        z-index: 2;
                    }
                }
            }

            .products-grid & {
                display: inline-block;
                margin-left: @indent__s;
                padding: 0;
                width: calc(~'(100% - @{indent__s}) / 2');
            }

            &:nth-child(2n + 1) {
                margin-left: 0;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                font-size: 16px;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;

                &-en {
                    &,
                    a {
                        .lib-link(
                            @_link-color: @theme__color__primary-alt,
                            @_link-color-visited: @theme__color__primary-alt,
                            @_link-color-hover: @theme__color__primary-alt,
                            @_link-color-active: @theme__color__primary-alt
                        );
                    }

                    a {
                        font-size: 16px;
                    }
                }
            }

            &-info {
                max-width: 100%;
                position: relative;
                overflow: hidden;

                .products-grid & {
                    margin-top: @indent__s;
                }

                .widget-product-carousel & {
                    &:before {
                        display: none;
                    }
                }
            }

            &-actions {
                .actions-primary {
                    display: inline-block;
                }

                .actions-secondary {
                    font-size: 1.4rem;
                    display: inline-block;
                    vertical-align: middle;
                    white-space: nowrap;

                    > .action {
                        &:extend(.abs-actions-addto-gridlist all);
                    }
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                }
            }

            .price-box {
                margin: @indent__s 0;

                .price {
                    .lib-font-size(20);
                    white-space: nowrap;
                }
            }

            .special-price,
            .minimal-price {
                .price {
                    .lib-font-size(20);
                }

                .price-wrapper {
                    display: inline-block;
                }

                .price-including-tax + .price-excluding-tax {
                    display: block;
                }
            }

            .old-price {
                .price {
                    font-size: 14px;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: 5px;

                .price-label {
                    .lib-css(color, @link__color);
                    .lib-font-size(14);
                }

                .price {
                    font-weight: @font-weight__regular;
                }
            }

            .minimal-price-link,
            .price-excluding-tax,
            .price-including-tax {
                display: block;
                white-space: nowrap;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-empty
                );
            }

            .todetail {
                .lib-icon-font-symbol(
                    @icon-search-label
                );
            }

            .tocart {
                &:extend(.abs-button-l all);
                .lib-button-icon(@icon-cart);
                .lib-button-revert-secondary-color(
                    @_button-border: 1px solid transparent
                );
                white-space: nowrap;
                text-align: left;
            }
        }

        &.overview {
            .lib-icon-font(
                @_icon-font-content: @icon-quotation,
                @_icon-font-color: @primary__color__lighter,
                @_icon-font-size: 24px,
                @_icon-font-position: before,
                @_icon-font-vertical-align: middle,
                @_icon-font-display: block
            );
            color: #787878;
            font-size: 16px;
            line-height: 24px;

            &:before {
                .lib-css(opacity, 0.5);
                margin: @indent__s 0;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '('attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }

    .flags {
        display: inline-block;
        text-align: left;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;

        .flag {
            background: @theme__color__primary-alt;
            color: @color-white;
            display: block;
            font-size: 13px;
            padding: 1px @indent__xs;

            & + .flag {
                margin-top: 4px;
            }

            &.best {
                background: #d63b60;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .products-grid .product {
        &-item {
            .todetail {
                display: none;
            }

            &-actions {
                .lib-vendor-prefix-display();
                .lib-vendor-box-align (center);
                .lib-vendor-prefix-flex-direction (row);
                justify-content: center;
                margin: @indent__base 0;

                .actions-primary {
                    order: 2;
                }

                > * {
                    display: inline-block;
                    padding: 0 15px;
                }
            }

            .tocart,
            .towishlist {
                display: inline-block;
                padding: 0;

                &:before {
                    color: @primary__color__lighter !important;
                }

                span {
                    display: none;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product {
        &-item {
            .wishlist .product-items &,
            .page-products .products-grid & {
                &:nth-child(3) {
                    &:before {
                        display: none;
                    }
                }

                &:nth-child(3n + 1) {
                    &:not(:first-child):before {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        border-top: 1px solid #eaeaea;
                        z-index: 2;
                    }
                }
            }

            .products-grid & {
                margin-left: @indent__base;
                width: calc(~'(100% - @{indent__base}*2) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }

            &-actions {
                .actions-primary,
                .actions-secondary {
                    > * {
                        white-space: normal;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .products-grid {
         .product-item {
             margin-bottom: @indent__l;
             width: calc(~'(100% - @{indent__base}*3) / 4');

             .page-layout-2columns-left & {
                 width: calc(~'(100% - @{indent__base}*2) / 3');
             }

             body:not(.page-layout-2columns-left) & {
                 &:nth-child(3n + 1):not(:first-child) {
                     margin-left: @indent__base;
                 }

               &:nth-child(4) {
                   &:before {
                       display: none;
                   }
               }
             }

             &:nth-child(4n + 1) {
                 margin-left: 0;
             }

             &-info {
                 margin-top: @indent__l;
                 border: 2px solid transparent;

                 &:hover {
                     border-color: @border-color__base;

                     .product-item-inner {
                         box-sizing: border-box;
                         display: block;
                         position: absolute;
                         top: 30%;
                         left: 0;
                         right: 0;
                         width: 100%;
                         z-index: 3;
                     }
                 }
             }

             &-inner {
                 display: none;
             }
         }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }

    .product {
        &-item {
            .price-box {
                margin: 15px 0;
            }

            .tocart {
                .lib-button-primary(
                    @_button-width: @product-link__width,
                    @_button-font-weight: @font-weight__semibold,
                    @_button-padding: 20px 0
                );
                border-radius: 50%;
                display: inline-block;
                text-align: center;

                &:before {
                    display: block !important;
                    margin-bottom: @indent__xs;
                }
            }

            &-actions {
                .actions-primary {
                    .action {
                        margin-right: @indent__base;
                    }
                }

                .actions-secondary {
                    > .action {
                        .lib-button-primary(
                            @_button-width: @product-link__width,
                            @_button-font-weight: @font-weight__semibold,
                            @_button-padding: 9.5px 0
                        );
                        border-radius: 50%;
                        text-align: center;

                        &:before {
                            display: block !important;
                            margin-bottom: @indent__xs;
                        }
                    }
                }
            }
        }
    }

    .flags {
        top: 20px;
        left: 20px;
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
