.post h1,.post h2,.post h3,.post h4,.post h5,.post h6,.post p{margin:0;padding:0;font-size:inherit;font-weight:inherit;line-height:inherit}
.post button{cursor:pointer;-webkit-appearance:none;overflow:visible;box-sizing:content-box;border:0;background:0}
.post a:hover{text-decoration:none}
.post img{width:100%;height:auto;vertical-align:top}
.post .hidden{display:none}
.post .display-mo{display:none}
.post .m-br{display:none}
.post .pc-br{display:block}
.post .blind{position:absolute!important;height:1px;width:1px;overflow:hidden;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.post .img-box{display:block}
@media only all and (max-width:768px){
    .post .display-pc{display:none}
    .post .display-mo{display:block}
    .post .pc-br{display:none}
    .post .m-br{display:block}
}
.post--jaeumsang .post-section{overflow:hidden}
.post--jaeumsang .video-container{position:relative;width:100%}
.post--jaeumsang .video-container>.vdo{position:absolute;left:0;top:0;width:100%;height:100%;border:0}
.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .iframe-cover-202108-vdo,.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo button,.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo iframe{height:600px}
.post--jaeumsang .inner-cover-202108-vdo{width:100%;color:#000}
.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo{position:relative;width:100%}
.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo button{position:relative;display:block;width:100%;padding:0;background-image:url(../images/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_video-cover01_pc.jpg);background-repeat:no-repeat;background-size:100%}
.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo button:hover::after{background-image:url(../images/resource/img/cover/secret-of-ageless-beauty/ico_play_hover.svg)}
.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo button::after{display:block;content:"";position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:100px;height:100px;background-image:url(../images/resource/img/cover/secret-of-ageless-beauty/ico_play.svg);background-repeat:no-repeat;background-position:50% 50%;background-size:85% auto;transition:background-image .2s ease-out}
.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo iframe{width:100%}
.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .desc-script{position:relative;z-index:20;width:100%;background-color:#daccbe;height:0;visibility:hidden;transition:height .25s;text-align:left}
.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .desc-script.script-open{visibility:visible;overflow:inherit}
.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .desc-script.script-open,.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .desc-script.script-open .inner-script{height:200px}
.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .desc-script .inner-script{position:relative;z-index:10;width:100%;height:0;overflow:hidden;box-sizing:border-box;padding:30px 30px 0;font-size:16px;transition:height .25s}
.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .desc-script.script-open .inner-script{overflow-y:auto}
@media (max-width:1920px){
    .post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo button::after{width:5.2083333333vw;height:5.2083333333vw}
    .post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .iframe-cover-202108-vdo,.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo button,.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo iframe{height:31.25vw}
    .post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .desc-script.script-open,.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .desc-script.script-open .inner-script{height:13.072vw}
    .post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .desc-script .inner-script{padding:1.961vw 1.961vw 0;font-size:1.046vw}
}
@media (max-width:768px){
    .post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo button::after{width:7.03125vw;height:7.03125vw}
    .post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .iframe-cover-202108-vdo,.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo button,.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo iframe{height:52.0833333333vw}
    .post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .desc-script.script-open,.post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .desc-script.script-open .inner-script{height:38.667vw}
    .post--jaeumsang .inner-cover-202108-vdo .cover-202108-vdo .desc-script .inner-script{padding:4vw 4vw 0;font-size:2.667vw}
}
.post-section--visual{position:relative;width:100%;height:950px;overflow:hidden}
.post-section--visual:before{content:"";position:absolute;width:100%;height:100%;top:0;left:0;background:url(../images/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_visual_bg_pc.jpg) no-repeat 50% 50%;background-size:cover;-webkit-transform:scale(1.5);transform:scale(1.5);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;transition:-webkit-transform .65s linear;transition:transform .65s linear;transition:transform .65s linear,-webkit-transform .65s linear}
.post-section--visual .visual-new{position:absolute;left:50%;top:339px;margin-left:-20.8333333333vw;width:3.125vw;-webkit-transform:translateX(-30px);transform:translateX(-30px);opacity:0;transition:opacity,-webkit-transform .3s linear;transition:opacity,transform .3s linear;transition:opacity,transform .3s linear,-webkit-transform .3s linear;transition-delay:.7s}
.post-section--visual .visual-text{position:absolute;top:50%;left:50%;-webkit-transform:translate(-40px,-50%);transform:translate(-40px,-50%)}
.post-section--visual .visual-title{width:428px;opacity:0;transition:opacity,-webkit-transform .4s linear;transition:opacity,transform .4s linear;transition:opacity,transform .4s linear,-webkit-transform .4s linear;transition-delay:.3s;-webkit-transform:translateY(200%);transform:translateY(200%);overflow:hidden}
.post-section--visual .visual-desc{max-width:458px;margin-top:35px;width:503px;opacity:0;transition:opacity,-webkit-transform .4s linear;transition:opacity,transform .4s linear;transition:opacity,transform .4s linear,-webkit-transform .4s linear;transition-delay:.4s;-webkit-transform:translateY(200%);transform:translateY(200%);overflow:hidden}
.post-section--visual.ani-start:before{-webkit-transform:scale(1);transform:scale(1)}
.post-section--visual.ani-start .visual-new{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}
.post-section--visual.ani-start .visual-desc,.post-section--visual.ani-start .visual-title{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
@media (max-width:1920px){
    .post-section--visual{height:49.4791666667vw}
    .post-section--visual .visual-new{top:17.65625vw;margin-left:-20.8333333333vw;width:3.125vw}
    .post-section--visual .visual-text{-webkit-transform:translate(-2.0833333333vw,-50%);transform:translate(-2.0833333333vw,-50%)}
    .post-section--visual .visual-title{width:22.2916666667vw}
    .post-section--visual .visual-desc{margin-top:1.8229166667vw;width:23.8541666667vw}
}
@media (max-width:768px){
    .post-section--visual{height:134.375vw}
    .post-section--visual:before{background:url(../images/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_visual_bg_mo.jpg) no-repeat 50% 50%;background-size:cover}
    .post-section--visual .visual-new{top:66.9270833333vw;margin-left:13.28125vw;width:10.4166666667vw;-webkit-transform:translateX(30px);transform:translateX(30px)}
    .post-section--visual .visual-text{position:absolute;top:16.015625vw;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}
    .post-section--visual .visual-title{width:63.671875vw;margin:0 auto}
    .post-section--visual .visual-desc{margin-top:2.6041666667vw;width:44.0104166667vw;margin-left:auto;margin-right:auto}
    .post-section--visual .visual-desc>.img-box{text-align:center}
}
.post-section--video{position:relative;width:100%;background:url(../images/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_video-section_bg_pc.jpg) no-repeat 50% 0;background-size:100% auto}
.post-section--video .section__inner{margin:0 auto;padding:146px 0 106px;width:1097px;box-sizing:border-box}
.post-section--video .inner-cover-202108-vdo .cover-202108-vdo button{background:url(../images/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_video-cover01_pc.jpg) no-repeat 50% 50%;background-size:cover}
.post-section--video .video-text{text-align:center;margin-top:30px;color:#fff}
.post-section--video .video-text .desc{font-size:26px;color:#fff;letter-spacing:-.04em;line-height:1.6}
.post-section--video .video-text .desc>em{color:#fffade;display:block;font-size:32px;margin-top:30px}
.post-section--video .video-text .tags{display:block;font-size:26px;margin-top:30px;line-height:1.7}
.post-section--video .video-text .tags>em{color:#fff}
@media (max-width:1920px){
    .post-section--video .section__inner{padding:7.6041666667vw 0 5.5208333333vw;width:57.1354166667vw}
    .post-section--video .video-text{margin-top:1.5625vw}
    .post-section--video .video-text .desc{font-size:1.3541666667vw}
    .post-section--video .video-text .desc>em{font-size:1.6666666667vw;margin-top:1.5625vw}
    .post-section--video .video-text .tags{font-size:1.3541666667vw;margin-top:1.5625vw}
}
@media (max-width:768px){
    .post-section--video{background:url(../images/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_video-section_bg_mo.jpg) no-repeat 50% 0;background-size:100% auto}
    .post-section--video .section__inner{width:100%;box-sizing:border-box;padding:19.53125vw 5.5989583333vw}
    .post-section--video .video-text{margin-top:2.6041666667vw}
    .post-section--video .video-text .desc{font-size:3.3854166667vw}
    .post-section--video .video-text .desc>em{font-size:4.9479166667vw;margin-top:3.90625vw}
    .post-section--video .video-text .tags{font-size:3.3854166667vw;margin-top:3.90625vw}
}
.post-section--serums{padding:170px 0 166px;background-color:#f8f0e6}
.post-section--serums .section__inner{max-width:1068px;width:55.625vw;margin:0 auto}
.post-section--serums .serum-images{display:flex}
.post-section--serums .serum-images__item{display:block;flex:0 0 auto;margin:0 10px}
.post-section--serums .serum-images__item:nth-child(1){width:344px}
.post-section--serums .serum-images__item:nth-child(2){width:342px}
.post-section--serums .serum-images__item:last-child{width:444px;margin-right:-94px}
@media (max-width:1920px){
    .post-section--serums{padding:8.8541666667vw 0 8.6458333333vw}
    .post-section--serums .section__inner{width:55.625vw}
    .post-section--serums .serum-images__item{margin:0 .5208333333vw}
    .post-section--serums .serum-images__item:nth-child(1){width:17.9166666667vw}
    .post-section--serums .serum-images__item:nth-child(2){width:17.8125vw}
    .post-section--serums .serum-images__item:last-child{width:23.125vw;margin-right:-4.8958333333vw}
}
@media (max-width:768px){
    .post-section--serums{padding:0}
    .post-section--serums .section__inner{width:100%;height:198.1770833333vw}
    .post-section--serums .serum-images{position:relative;width:100%;height:100%;display:block}
    .post-section--serums .serum-images__item{position:absolute;margin:0}
    .post-section--serums .serum-images__item:nth-child(1){left:9.375vw;top:16.9270833333vw;width:41.2760416667vw}
    .post-section--serums .serum-images__item:nth-child(2){right:11.0677083333vw;top:32.9427083333vw;width:43.359375vw;z-index:2}
    .post-section--serums .serum-images__item:last-child{left:21.2239583333vw;top:102.4739583333vw;width:61.5885416667vw}
}
.post-section--info .section__inner{display:flex;justify-content:space-between;overflow:hidden;max-width:1920px;margin:0 auto}
.post-section--info .info__column--left{order:1;width:50%;flex:0 0 auto;text-align:left;display:flex;align-items:center;justify-content:center;flex-direction:column}
.post-section--info .info__column--image{order:2}
.post-section--info .info__column--image>img{max-width:960px}
.post-section--info .badge{font-size:24px;line-height:1.2;padding:2px 12px 4px;letter-spacing:.025em;color:#fff;display:inline-block;background-color:#d37025}
.post-section--info .prd-name{margin-top:10px;font-size:42px;font-weight:600;letter-spacing:-.04em;color:#000}
.post-section--info .prd-name-en{margin-top:3px;font-size:24px;line-height:1.2;color:#4a2d14;letter-spacing:.025em;opacity:.7}
.post-section--info .prd-desc{margin-top:30px;font-size:24px;line-height:1.5;letter-spacing:-.04em;color:#000}
.post-section--info .desc-label{margin-top:10px;font-size:18px;color:#999}
.post-section--info .prd-price{margin-top:30px;font-size:24px;letter-spacing:-.025em;color:#000}
.post-section--info .prd-price dd,.post-section--info .prd-price>dt{display:inline-block}
.post-section--info .prd-price dd+dt{position:relative;margin-left:15px;padding-left:19px}
.post-section--info .prd-price dd+dt::before{content:"";position:absolute;width:2px;height:18px;background-color:#bfbfbf;left:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.post-section--info .prd-buttons{margin-top:65px}
.post-section--info .prd-buttons>.button{display:inline-block;font-size:25px;line-height:1.9;padding:12px 57px 10px;border:1px solid #969696;box-sizing:border-box;color:#000}
.post-section--info .prd-buttons>.button--point{background-color:#d37025;border-color:#d37025;color:#fff}
.post-section--info .prd-buttons>.button+.button{margin-left:7px}
.post-section--info .prd-buttons>.button:hover{text-decoration:none}
@media (max-width:1920px){
    .post-section--info .info__column--image{width:50vw}
    .post-section--info .badge{font-size:1.25vw;padding:.1041666667vw .625vw .2083333333vw}
    .post-section--info .prd-name{margin-top:.5208333333vw;font-size:2.1875vw}
    .post-section--info .prd-name-en{margin-top:.15625vw;font-size:1.25vw}
    .post-section--info .prd-desc{margin-top:1.5625vw;font-size:1.25vw}
    .post-section--info .desc-label{margin-top:.5208333333vw;font-size:.9375vw}
    .post-section--info .prd-price{margin-top:1.5625vw;font-size:1.25vw}
    .post-section--info .prd-price dd+dt{margin-left:.78125vw;padding-left:.9895833333vw}
    .post-section--info .prd-price dd+dt::before{width:.1041666667vw;height:.9375vw}
    .post-section--info .prd-buttons{margin-top:3.3854166667vw}
    .post-section--info .prd-buttons>.button{font-size:1.3020833333vw;padding:.625vw 2.96875vw .5208333333vw}
    .post-section--info .prd-buttons>.button+.button{margin-left:.3645833333vw}
}
@media (max-width:768px){
    .post-section--info .section__inner{position:relative;display:block}
    .post-section--info .info__column--image{width:100%}
    .post-section--info .info__column--left{width:100%;padding:20.8333333333vw 13.0208333333vw;box-sizing:border-box}
    .post-section--info .badge{font-size:3.6458333333vw}
    .post-section--info .prd-name{font-size:7.03125vw;letter-spacing:-.08em}
    .post-section--info .prd-name-en{font-size:3.90625vw;letter-spacing:.025em}
    .post-section--info .prd-desc{margin-top:3.2552083333vw;font-size:3.6458333333vw;letter-spacing:-.08em}
    .post-section--info .desc-label{margin-top:1.3020833333vw;font-size:3.125vw}
    .post-section--info .prd-price{margin-top:4.5572916667vw;font-size:3.90625vw}
    .post-section--info .prd-price dd+dt{padding-left:2.9947916667vw}
    .post-section--info .prd-price dd+dt::before{height:3.2552083333vw}
    .post-section--info .prd-buttons{margin-top:7.1614583333vw}
    .post-section--info .prd-buttons>.button{font-size:3.2552083333vw;line-height:2.5;padding-left:6.5104166667vw;padding-right:6.5104166667vw}
}
.post-section--benefit{background-color:#e8dcce;padding-bottom:170px}
.post-section--benefit .effect-banner{background-color:#f8f0e6}
.post-section--benefit .effect-banner .effect-banner__inner{display:flex;justify-content:center;flex-direction:column;text-align:left;width:1434px;height:660px;margin:0 auto;background:url(../images/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_effect-visual_bg_pc.jpg) no-repeat 100% 100%;background-size:100% auto}
.post-section--benefit .effect-banner .effect-text{padding-left:200px;font-size:45px;line-height:1.3;letter-spacing:-.04em;box-sizing:border-box;font-weight:500;color:#443126}
.post-section--benefit .effect-banner .effect-text>em{color:#d46c2f;font-weight:600}
.post-section--benefit .section__inner{width:1110px;margin:0 auto}
.post-section--benefit .video-container{top:-95px;position:relative;width:100%;border:5px solid #fcf9f5;box-sizing:border-box}
.post-section--benefit .video-container .inner-cover-202108-vdo .cover-202108-vdo button{background:url(../images/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_video-cover02_pc.jpg) no-repeat 50% 50%;background-size:cover}
.post-section--benefit .benefit-list{margin-top:65px}
.post-section--benefit .benefit-list>li{display:flex;height:315px;background-color:#fdf8ec}
.post-section--benefit .benefit-list>li+li{margin-top:80px}
.post-section--benefit .benefit-list .benefit-thumbnail{width:360px;height:360px;margin-top:-23px;margin-left:55px;flex:0 0 auto}
.post-section--benefit .benefit-list .benefit-info{text-align:left;width:100%;box-sizing:border-box;padding-top:78px;padding-left:70px;padding-right:90px}
.post-section--benefit .benefit-list .benefit-word{font-size:40px;letter-spacing:-.04em;color:#000;font-style:normal;font-weight:600}
.post-section--benefit .benefit-list .benefit-desc{display:flex;align-items:center;justify-content:space-between;font-size:28px;line-height:1.3;letter-spacing:-.09em;color:#000;font-weight:300}
.post-section--benefit .benefit-list .benefit-percent{position:relative;color:#c55805;text-align:center;padding-left:30px}
.post-section--benefit .benefit-list .benefit-percent::before{content:"";position:absolute;left:0;top:50%;width:2px;height:80%;-webkit-transform:translateY(-45%);transform:translateY(-45%);background-color:#c49880}
.post-section--benefit .benefit-list .benefit-percent .number{display:block;font-size:60px;letter-spacing:-.05em;font-weight:500}
.post-section--benefit .benefit-list .benefit-percent .unit{color:inherit;font-size:30px;letter-spacing:-.01em;margin-left:-10px}
.post-section--benefit .benefit-list .benefit-percent .number-desc{position:relative;top:-10px;display:block;margin-top:10px;letter-spacing:-.04em;font-size:28px;line-height:1.25;color:#c49880}
.post-section--benefit .benefit-reference{margin-top:60px;color:#553c2f;font-size:18px;line-height:1.9;letter-spacing:-.04em;text-align:center}
.post-section--benefit .benefit-reference .reference-title{font-weight:inherit;font-size:inherit}
.post-section--benefit .benefit-reference .reference-info>*{display:inline-block}
.post-section--benefit .benefit-reference .reference-info dd{position:relative;padding-right:25px;margin-right:24px}
.post-section--benefit .benefit-reference .reference-info dd::before{content:"";position:absolute;right:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:2px;height:16px;background-color:#7b675b;opacity:.8}
.post-section--benefit .benefit-reference .reference-info dd:last-child{margin-right:0;padding-right:0}
.post-section--benefit .benefit-reference .reference-info dd:last-child::before{content:none}
@media (max-width:1920px){
    .post-section--benefit{padding-bottom:8.8541666667vw}
    .post-section--benefit .effect-banner .effect-banner__inner{width:74.6875vw;height:34.375vw}
    .post-section--benefit .effect-banner .effect-text{padding-left:10.4166666667vw;font-size:2.34375vw}
    .post-section--benefit .section__inner{width:57.8125vw}
    .post-section--benefit .video-container{top:-4.9479166667vw;border-width:.2604166667vw}
    .post-section--benefit .benefit-list{margin-top:3.3854166667vw}
    .post-section--benefit .benefit-list>li{height:16.40625vw}
    .post-section--benefit .benefit-list>li+li{margin-top:4.1666666667vw}
    .post-section--benefit .benefit-list .benefit-thumbnail{width:18.75vw;height:18.75vw;margin-top:-1.1979166667vw;margin-left:2.8645833333vw}
    .post-section--benefit .benefit-list .benefit-info{padding-top:4.0625vw;padding-left:3.125vw;padding-right:4.6875vw}
    .post-section--benefit .benefit-list .benefit-word{font-size:2.0833333333vw}
    .post-section--benefit .benefit-list .benefit-desc{font-size:1.4583333333vw}
    .post-section--benefit .benefit-list .benefit-percent{padding-left:1.5625vw}
    .post-section--benefit .benefit-list .benefit-percent::before{width:.1041666667vw}
    .post-section--benefit .benefit-list .benefit-percent .number{font-size:3.125vw}
    .post-section--benefit .benefit-list .benefit-percent .unit{font-size:1.5625vw;margin-left:-.5208333333vw}
    .post-section--benefit .benefit-list .benefit-percent .number-desc{top:-.5208333333vw;margin-top:.5208333333vw;font-size:1.4583333333vw}
    .post-section--benefit .benefit-reference{margin-top:3.125vw;font-size:.9375vw}
    .post-section--benefit .benefit-reference .reference-info dd{padding-right:1.3020833333vw;margin-right:1.25vw}
    .post-section--benefit .benefit-reference .reference-info dd::before{width:.1041666667vw;height:.8333333333vw}
}
@media (max-width:768px){
    .post-section--benefit{padding-bottom:18.2291666667vw}
    .post-section--benefit .effect-banner .effect-banner__inner{background-image:url(../images/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_effect-visual_bg_mo.jpg);width:100%;height:74.21875vw}
    .post-section--benefit .effect-banner .effect-text{padding-left:5.9895833333vw;font-size:5.2083333333vw;line-height:1.4;letter-spacing:-.08em;margin-top:-13.0208333333vw}
    .post-section--benefit .section__inner{width:100%}
    .post-section--benefit .video-container{border:.6510416667vw solid rgba(255,255,255,.5);width:84.6354166667vw;margin:0 auto;top:-9.765625vw}
    .post-section--benefit .benefit-list{margin-top:1.6927083333vw}
    .post-section--benefit .benefit-list>li{height:40.8854166667vw}
    .post-section--benefit .benefit-list>li+li{margin-top:10.6770833333vw}
    .post-section--benefit .benefit-list .benefit-thumbnail{width:41.6666666667vw;height:41.6666666667vw;margin-top:-.2604166667vw;margin-left:5.46875vw}
    .post-section--benefit .benefit-list .benefit-word{font-size:5.2083333333vw}
    .post-section--benefit .benefit-list .benefit-desc{display:block;font-size:3.3854166667vw}
    .post-section--benefit .benefit-list .benefit-percent{display:block;text-align:left;padding-left:0;padding-top:.9114583333vw;margin-top:2.6041666667vw}
    .post-section--benefit .benefit-list .benefit-percent::before{width:11.1979166667vw;height:.2604166667vw;top:0;left:0}
    .post-section--benefit .benefit-list .benefit-percent .number{font-size:7.03125vw}
    .post-section--benefit .benefit-list .benefit-percent .unit{font-size:3.90625vw;margin-left:-1.953125vw}
    .post-section--benefit .benefit-list .benefit-percent .number-desc{font-size:3.3854166667vw;letter-spacing:-.08em;text-align:left}
    .post-section--benefit .benefit-reference{margin-top:3.90625vw;font-size:2.6041666667vw}
    .post-section--benefit .benefit-reference .reference-title{font-size:2.6041666667vw;line-height:1.7}
    .post-section--benefit .benefit-reference .reference-info{padding:0 7.8125vw}
    .post-section--benefit .benefit-reference .reference-info dd{padding-right:3.2552083333vw;margin-right:3.125vw}
    .post-section--benefit .benefit-reference .reference-info dd::before{height:2.6041666667vw}
}
.post-section--effect{position:relative;width:100%;background:url(../images/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_effect-section_bg_pc.jpg) no-repeat 50% 50%;background-size:cover}
.post-section--effect .section__inner{padding:175px 0;width:1466px;margin:0 auto}
.post-section--effect .effect-list{display:flex}
.post-section--effect .effect-list__item{width:33.33%;margin:0 15px;justify-content:space-between;background-color:#fff;text-align:center}
.post-section--effect .effect-info{padding:30px 30px}
.post-section--effect .effect-title{font-size:21px;line-height:1.37;letter-spacing:-.05em;font-weight:600;color:#322727}
.post-section--effect .effect-desc{font-size:14px;line-height:1.57;letter-spacing:-.05em;box-sizing:border-box;color:#968577;margin-top:15px}
.post-section--effect .effect-desc>li{margin-top:3px}
@media (max-width:1920px){
    .post-section--effect .section__inner{padding:9.1145833333vw 0;width:76.3541666667vw}
    .post-section--effect .effect-list__item{margin:0 .78125vw}
    .post-section--effect .effect-info{padding:1.5625vw 1.5625vw}
    .post-section--effect .effect-title{font-size:1.09375vw}
    .post-section--effect .effect-desc{font-size:.7291666667vw;margin-top:.78125vw}
    .post-section--effect .effect-desc>li{margin-top:.15625vw}
}
@media (max-width:1024px){
    .post-section--effect .effect-info{padding:1.5625vw .5208333333vw}
}
@media (max-width:768px){
    .post-section--effect{background-image:url(../images/resource/img/cover/jaeumsaengSerum/jaeumsaengSerum_effect-section_bg_mo.jpg)}
    .post-section--effect .section__inner{width:85.6770833333vw}
    .post-section--effect .effect-list{display:block}
    .post-section--effect .effect-list__item{width:100%;margin:0}
    .post-section--effect .effect-list__item+.effect-list__item{margin-top:7.8125vw}
    .post-section--effect .effect-list__item>img{width:100%;height:41.40625vw;object-fit:cover}
    .post-section--effect .effect-info{padding:4.8177083333vw 0 6.5104166667vw}
    .post-section--effect .effect-title{font-size:3.90625vw}
    .post-section--effect .effect-desc{margin-top:2.6041666667vw;font-size:2.6041666667vw}
}
