<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="cvs-selector" data-bind="blockLoader: $parent.isLoading" css="'cvs-selected': $parent.selectedLocation">
    <each if="!quoteIsVirtual()" args="getRegion('customer-email')" render="" ></each>
    <div class="step-title" data-role="title">
        <translate args="'Select Cvs from Map'"></translate>
    </div>
    <div id="checkout-step-cvs-selector" data-bind="event: {mouseout: setPreviewShipping}" class="step-content" data-role="content">

        <div>
            <form class="form form-continue"
                  data-role="cvs-map-load-form"
                  submit="setPickupInformation">
                <render args="cvsAddressFormTemplate"></render>
            </form>
        </div>
    </div>
</div>


