<p class="step-title amcheckout-title"
   data-amcheckout-js="step-title"
   data-role="title" translate="'CHECKOUT AS A CUSTOMER'"></p>
<div id="checkout-step-shipping"
     class="step-content amcheckout-content"
     data-amcheckout-js="step-content"
     data-role="content"
     data-bind="mageInit: {'checkoutCollapsibleSteps': {}}">
    <div class="shipping-method-wrapper">
        <div class="shipping-method-title" translate="'Select Shipping Method'"></div>
        <li id="cvs-pickup"
            if="isAvailable"
            css="'selected-shipping': !isCvsPickupSelected(), 'selected-cvs-pickup': isCvsPickupSelected()">
            <render args="deliveryMethodSelectorTemplate"></render>
            <each args="getRegion('shipping-messages')">
                <div template=" {name: getTemplate()}"></div>
            </each>
            <ifnot args="isCvsPickupSelected">
                <each args="getRegion('home-delivery-selector')">
                    <div template=" {name: getTemplate()}"></div>
                </each>
                <button type="button"
                        data-bind="click: showFormPopUp"
                        class="action action-show-popup amcheckout-button">
                    <span data-bind="i18n: 'New Address'"></span>
                </button>
            </ifnot>
            <if args="isCvsPickupSelected">
                <if args="isVisible">
                    <each args="getRegion('cvs-selector')">
                        <div template=" {name: getTemplate()}"></div>
                    </each>
                </if>
            </if>
        </li>
    </div>
</div>

