<?xml version="1.0"?>
<!--
/**
 * @author Eguana Commerce
 * @copyright Copyright (c) 2017 Eguana Kevin
 * @package Amore_Base
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="CJ_Middleware::middleware" title="CJ Middleware" translate="title" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="CJ_Middleware::configuration" title="CJ Middleware Configuration" sortOrder="999"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
