//
//  Variables
//  _____________________________________________

@social-line-color: #51b501;
@social-line-hover-color: #4ca903;
@social-facebook-color: #3b5998;
@social-facebook-hover-color: #344d84;
@social-google-color: #ea4335;
@social-google-hover-color: #d63b2f;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    #eguana-form-validate {
        border-top: 2px solid @primary__color__dark;

        .fieldset{
            .eguanasociallogin-form-legend {
                border: none;
                margin-bottom: 0;
            }

            .msg {
                margin: -8px 0 @indent__base 0;
            }

            .msg,
            .field.email,
            .field.password {
                padding: 0 15px;
            }

            .field.password + .field.choice{
                margin-top: 60px;
            }

            .field.choice {
                background-color: @secondary__color__light;
                display: block !important;
                padding: 15px;

                input {
                    background-color: @color-white;
                    float: left;
                }

                label {
                    display: inline-block;
                }
            }
        }
    }

    .sociallogin-form-actions {
        text-align: center;

        button {
            &:extend(.abs-button-l all);

            &.login {
                .lib-button-revert-secondary-color(
                    @_button-color: @color-white,
                    @_button-background: @theme__color__secondary,
                    @_button-border: 1px solid @theme__color__secondary,
                    @_button-color-hover: @color-white,
                    @_button-background-hover: @theme__color__primary-alt,
                    @_button-border-hover: 1px solid @theme__color__primary-alt,
                    @_button-color-active: @theme__color__primary-alt,
                    @_button-background-active: @theme__color__primary-alt,
                    @_button-border-active: 1px solid @theme__color__primary-alt
                );
            }
        }
    }

    .socialloginlogin-login{
        text-align: center;

        a {
            .lib-link-as-button();
            &:extend(.abs-button-l all);
            display: block;

            &:not(:last-child) {
                margin-bottom: 12px;
            }

            &.line-button-link {
                .lib-button-revert-secondary-color(
                    @_button-color: @color-white,
                    @_button-background: @social-line-color,
                    @_button-border: 1px solid @social-line-color,
                    @_button-color-hover: @color-white,
                    @_button-background-hover: @social-line-hover-color,
                    @_button-border-hover: 1px solid @social-line-hover-color,
                    @_button-color-active: @color-white,
                    @_button-background-active: @social-line-hover-color,
                    @_button-border-active: 1px solid @social-line-hover-color
                );
            }

            &.facebook-button-link {
                .lib-button-revert-secondary-color(
                    @_button-color: @color-white,
                    @_button-background: @social-facebook-color,
                    @_button-border: 1px solid @social-facebook-color,
                    @_button-color-hover: @color-white,
                    @_button-background-hover: @social-facebook-hover-color,
                    @_button-border-hover: 1px solid @social-facebook-hover-color,
                    @_button-color-active: @color-white,
                    @_button-background-active: @social-facebook-hover-color,
                    @_button-border-active: 1px solid @social-facebook-hover-color
                );
            }

            &.google-button-link {
                .lib-button-revert-secondary-color(
                    @_button-color: @color-white,
                    @_button-background: @social-google-color,
                    @_button-border: 1px solid @social-google-color,
                    @_button-color-hover: @color-white,
                    @_button-background-hover: @social-google-hover-color,
                    @_button-border-hover: 1px solid @social-google-hover-color,
                    @_button-color-active: @color-white,
                    @_button-background-active: @social-google-hover-color,
                    @_button-border-active: 1px solid @social-google-hover-color
                );
            }
        }

        > p {
            .lib-font-size(16);
            color: #c7c7c7;
            display: inline-block;
            font-weight: @font-weight__bold;
            margin-bottom: @indent__m;
            position: relative;

            &:before,
            &:after {
                border-bottom: 1px solid;
                content: '';
                display: inline-block;
                position: absolute;
                top: 50%;
                width: @indent__s;
            }

            &:before {
                left: -@indent__base;
            }

            &:after {
                right: -@indent__base;
            }
        }
    }

    .account .line-add-friend {
        & + .actions-toolbar {
            .action.primary {
                margin-top: @indent__l;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .socialloginlogin-login {
        margin-top: 75px;

        a {
            padding: 10.5px 0 !important;
        }
    }

    #eguana-form-validate {
        .fieldset{
            .eguanasociallogin-form-legend {
                padding-top: @indent__base;
            }
        }
    }

    .sociallogin-form-actions {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;

        button {
            display: inline-block;
            float: left;
            width: 50%;
        }
    }

    .account .sidebar-additional {
        .lib-vendor-prefix-order(0);
        position: relative;
        top: -@indent__l;

        .line-add-friend {
            text-align: right;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .account .line-add-friend {
        margin-left: 8px;
    }

    .sociallogin-login-createcustomer {
        .page-title-wrapper,
        .columns {
            margin: 15px auto 0;
            max-width: 580px;
        }

        .page-title-wrapper .page-title {
            margin-bottom: 35px !important;
        }
    }

    .socialloginlogin-login {
        margin-top: @indent__xl;
    }

    #eguana-form-validate {
        .fieldset{
            .eguanasociallogin-form-legend {
                padding-top: 16px;
            }
        }
    }

    .sociallogin-form-actions {
        margin-top: 80px;

        button {
            width: 49%;

            &.cancel {
                float: left;
            }

            &.login {
                float: right;
            }
        }
    }
}
