//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .main-hero-banner .pagebuilder-poster-content p,
    .main-bestseller h2,
    .recommendations-product h2,
    .main-category-banner h5,
    .main-category-banner a {
        font-family: 'Gellix', 'Arita';
    }
    .nav-toggle:before {
        color: #6691FF;
    }
    .nav-toggle:hover:before {
        color: #4076FF;
    }
    .nav-sections .header.links li>a:not(.location):not(.account):hover {
        background: #6691FF;
        border: 1px solid #6691FF;
        color: #fff;
    }
    .header.content>.header.links a.login:hover:after {
        color: #4076FF;
    }
    .header.links>li a.location:hover:after {
        color: #4076FF;
    }
    .block-search .label:hover:before {
        color: #4076FF;
    }
    .minicart-wrapper .action.showcart:hover:before {
        color: #4076FF;
    }
    .minicart-wrapper .action.showcart.active:before {
        color: #6691FF;
    }
    .minicart-wrapper .action.showcart.active:hover:before {
        color: #4076FF;
    }
    .header.links>li a.account:after {
        color: #6691FF;
    }
    .header.links>li a.account:hover:after {
        color: #4076FF;
    }
    .header.content>.header.links a.logout:after {
        color: #6691FF;
    }
    .header.content>.header.links a.logout:hover:after {
        color: #4076FF;
    }
    .action.primary:focus, .action.primary:active, .paypal-express-review .paypal-review-discount .block .actions-toolbar .action.primary:focus, .paypal-express-review .paypal-review-discount .block .actions-toolbar .action.primary:active, .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .action.primary:focus, .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .action.primary:active, .amshopby-button:focus, .amshopby-button:active, .am-filter-go:focus, .am-filter-go:active, .paypal-express-review .paypal-review-discount .block .actions-toolbar .amshopby-button:focus, .paypal-express-review .paypal-review-discount .block .actions-toolbar .amshopby-button:active, .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .amshopby-button:focus, .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .amshopby-button:active, .paypal-express-review .paypal-review-discount .block .actions-toolbar .am-filter-go:focus, .paypal-express-review .paypal-review-discount .block .actions-toolbar .am-filter-go:active, .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .am-filter-go:focus, .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .am-filter-go:active {
        background: #6691FF;
        border: 1px solid #6691FF;
        color: #FFF;
    }
    .action.primary:hover, .paypal-express-review .paypal-review-discount .block .actions-toolbar .action.primary:hover, .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .action.primary:hover, .amshopby-button:hover, .am-filter-go:hover, .paypal-express-review .paypal-review-discount .block .actions-toolbar .amshopby-button:hover, .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .amshopby-button:hover, .paypal-express-review .paypal-review-discount .block .actions-toolbar .am-filter-go:hover, .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .am-filter-go:hover {
        background: #6691FF;
        border: 1px solid #6691FF;
        color: #FFF;
    }
    ._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
        box-shadow: 0 0 3px 1px #6691FF;
    }
    .form-create-account .field.mobile a, .form-edit-account .field.mobile a, .form-create-account-pos .field.mobile a, .form-create-account .field.verification-code a, .form-edit-account .field.verification-code a, .form-create-account-pos .field.verification-code a, .form-create-account .field.ba-code a, .form-edit-account .field.ba-code a, .form-create-account-pos .field.ba-code a {
        background: #6691FF;
    }
    .form-create-account .field.mobile a:focus, .form-edit-account .field.mobile a:focus, .form-create-account-pos .field.mobile a:focus, .form-create-account .field.verification-code a:focus, .form-edit-account .field.verification-code a:focus, .form-create-account-pos .field.verification-code a:focus, .form-create-account .field.ba-code a:focus, .form-edit-account .field.ba-code a:focus, .form-create-account-pos .field.ba-code a:focus, .form-create-account .field.mobile a:active, .form-edit-account .field.mobile a:active, .form-create-account-pos .field.mobile a:active, .form-create-account .field.verification-code a:active, .form-edit-account .field.verification-code a:active, .form-create-account-pos .field.verification-code a:active, .form-create-account .field.ba-code a:active, .form-edit-account .field.ba-code a:active, .form-create-account-pos .field.ba-code a:active {
        background: #4076FF;
        border: 0;
        color: #fff
    }
    .form-create-account .field.mobile a:hover, .form-edit-account .field.mobile a:hover, .form-create-account-pos .field.mobile a:hover, .form-create-account .field.verification-code a:hover, .form-edit-account .field.verification-code a:hover, .form-create-account-pos .field.verification-code a:hover, .form-create-account .field.ba-code a:hover, .form-edit-account .field.ba-code a:hover, .form-create-account-pos .field.ba-code a:hover {
        background: #4076FF;
        border: 0;
        color: #fff
    }
    .filter-options-content .item a:hover {
        color: #4076FF;
    }
    .old-price .discount-label, .old.price .discount-label {
        color: #6691FF;
    }
    .block-minicart .block-content>.actions>.secondary .action:focus, .block-minicart .block-content>.actions>.secondary .action:active {
        background: #6691FF;
        border: 1px solid #6691FF;
        color: #fff
    }
    .qty-selector:focus, .qty-selector:active {
        background: #6691FF;
        border: 1px solid #6691FF;
        color: #fff
    }
    .qty-decrease:focus:before,
    .qty-decrease:active:before {
        color: #fff;
    }
    .opc-progress-bar-item._active>span {
        color: #6691FF;
    }
    .opc-progress-bar-item._active>span:before {
        background: #6691FF;
        border-color: #6691FF;
    }
    .opc-wrapper .shipping-address-item.selected-item:after {
        background: #6691FF;
    }
    .opc-wrapper .action-show-popup:focus, .opc-wrapper .action-show-popup:active {
        background: #6691FF;
        border: 1px solid #6691FF;
        color: #fff;
    }
    .opc-wrapper .action-show-popup:hover {
        background: #6691FF;
        border: 1px solid #6691FF;
        color: #fff;
    }
    .opc-estimated-wrapper .estimated-block .estimated-label {
        color: #4076FF;
    }
    input[type=checkbox]:checked {
        background: #6691FF;
        border-color: #6691FF;
    }
    input[type=radio]:checked:after {
        background-color: #6691FF;
    }
    button:focus, button:active {
        background: #6691FF;
        border: 1px solid #6691FF;
        color: #fff;
    }
    button:hover {
        background: #6691FF;
        border: 1px solid #6691FF;
        color: #fff;
    }
    .checkout-payment-method .payment-option-inner+.actions-toolbar .action:focus, .checkout-payment-method .payment-option-inner+.actions-toolbar .action:active {
        background: #6691FF;
        border: 1px solid #6691FF;
    }
    .checkout-payment-method .payment-option-inner+.actions-toolbar .action:hover {
        background: #6691FF;
        border: 1px solid #6691FF;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .logo {
        top: 17px;
    }
    .filter.active .filter-title strong:after {
        color: #4076FF;
    }
    .filter .filter-subtitle {
        color: #6691FF;
    }
    .active>.filter-options-title {
        background-color: #4076FF;
        color: #fff;
    }
    .products-grid .product-item .tocart:hover,.widget-product-carousel .product-item .tocart:hover {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none
    }
    .product-item-actions .actions-secondary>.action:hover {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

}
