<?xml version="1.0"?>
<!--
/**
* @author Eguana Team
* @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
* Created by PhpStorm
* User: arslan
* Date: 3/9/20
* Time: 1:20 PM
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="order_info_remove_store_name" type="Eguana\CustomOrderGrid\Plugin\Block\Adminhtml\Order\View\Info" />
    </type>
    <preference for="Magento\Sales\Model\ResourceModel\Order\Grid\Collection" type="Eguana\CustomOrderGrid\Model\ResourceModel\Grid\Collection" />
    <preference for="Magento\Sales\Block\Adminhtml\Order\Creditmemo\Create\Items" type="Eguana\CustomOrderGrid\Block\Adminhtml\Order\Creditmemo\Create\Items" />
</config>
