<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: raheel
 * Date: 12/10/20
 * Time: 06:48 PM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Eguana_EventReservation">
        <sequence>
            <module name="Eguana_Base"/>
            <module name="Eguana_StoreLocator"/>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>
