<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (visible)-->
<div class="field addresses">
    <div class="control">
        <div class="shipping-address-items">
            <!-- ko foreach: { data: elems, as: 'element' } -->
            <!-- ko template: element.getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
    <div data-bind="attr: { class: 'validation-shipping-address no-display' }">
        <div data-bind="attr: { class: 'message message-warning warning' }">
            <div data-bind="i18n:'The recipient\'s name can only be expressed entirely in Chinese (or entirely in English). Please help to modify it. Thank you.'"></div>
        </div>
    </div>
</div>
<!-- /ko -->
