<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vlogic>
            <general>
                <active>1</active>
            </general>
            <sandbox_api>
                <host>https://demo.v-logic.net/wms/api/gateway/security/login</host>
                <storer_code>LNG</storer_code>
                <username>Gateway</username>
                <password>123456</password>
                <create_order>https://demo.v-logic.net/wms/api/gateway/salesorder/import</create_order>
                <shipment_activity_rul>https://demo.v-logic.net/wms/api/gateway/report/export</shipment_activity_rul>
            </sandbox_api>
            <additional>
                <incoterms>DDP</incoterms>
                <storer_site_code>HKB2C</storer_site_code>
                <recipient_code>HKB2C</recipient_code>
                <fulfillment_type>AllOrNothing</fulfillment_type>
            </additional>
        </vlogic>
    </default>
</config>
