<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="CJ\VLogicOrder\Api\Data\TokenDataInterface"
                type="CJ\VLogicOrder\Model\TokenData"/>

    <type name="CJ\VLogicOrder\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="CJ\VLogicOrder\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">VLogicOrder</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">CJ\VLogicOrder\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Sales\Model\Order\Shipment\Sender\EmailSender"
                type="CJ\VLogicOrder\Override\Magento\Sales\Model\Order\Shipment\Sender\EmailSender"/>
</config>
