<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--    <event name="checkout_submit_all_after">-->
<!--        <observer name="cj_vlogic_auto_create_invoice_shipment"-->
<!--                  instance="CJ\VLogicOrder\Observer\CreateInvoiceAndShipment"/>-->
<!--    </event>-->
    <event name="sales_order_invoice_pay">
        <observer name="cj_vlogic_create_shipment_automatically"
                  instance="CJ\VLogicOrder\Observer\CreateShipmentAutomatically"/>
    </event>
</config>
