// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme variables
//  _____________________________________________

@layout__max-width-secondary: 1440px;

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Theinhardt';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
@font-family__sans-serif: sans-serif;

//
//  Color nesting
//  ---------------------------------------------

@theme__color__primary: #b17c5c;
@theme__color__primary-alt: #222222;
@theme__color__secondary: #2196f3;

@primary__color: @color-gray20; //#333
@primary__color__dark: darken(@primary__color, 35%); // #000
@primary__color__darker: darken(@primary__color, 10.25%); // #191919
@primary__color__lighter: lighten(@primary__color, 13.5%); // #555
@primary__color__light: lighten(@primary__color, 40%); // #999

@main__color: #CD7E3E;
@sub__color: #DDD7CC;
@black__color: #222222;
@light__gray__color: #DDDDDD;
@secondary__color: #767676;
@secondary__color__light: #eee;

@page__background-color: @color-white;
@panel__background-color: @page__background-color;

@active__color: @theme__color__primary;
@error__color: #ff0000;
@layout__width-xs-indent: 20px;
// Font Size

@font__size16 : 16px;

//  Heading
@h2__font-size-desktop: 36px;
@h3__font-size-desktop: 30px;
@h4__font-size-desktop: 28px;
@h5__font-size-desktop: 26px;

//
//  Icons
//  ---------------------------------------------
@icon-line: "\e919";
@icon-warning: "\e602";
@icon-update: "\e603";
@icon-star: "\e605";
@icon-settings: "\e606";
@icon-pointer-down: "\e607";
@icon-menu: "\e609";
@icon-location: "\e60a";
@icon-list: "\e60b";
@icon-info: "\e60c";
@icon-grid: "\e60d";
@icon-success: "\e60e";
@icon-minus: "\e60f";
@icon-comment-reflected: "\e611";
@icon-calendar: "\e612";
@icon-remove: "\e616";
@icon-pointer-up: "\e618";
@icon-pointer-right: "\e619";
@icon-pointer-left: "\e61a";
@icon-flag: "\e61b";
@icon-expand: "\e61c";
@icon-envelope: "\e61d";
@icon-error: "\e61f";
@icon-comment: "\e620";
@icon-help: "\e623";
@icon-print: "\e624";
@icon-star-empty: "\e625";
@icon-download: "\e626";
@icon-account: "\e627";
@icon-undo: "\e628";
@icon-private: "\e629";
@icon-present: "\e62a";
@icon-gift-registry: "\e62b";
@icon-arrow-right-thin: "\e62c";
@icon-arrow-left-thin: "\e62d";
@icon-arrow-down-thin: "\e62e";
@icon-arrow-up-thin: "\e633";
@icon-arrow-down: "\e900";
@icon-arrow-up: "\e901";
@icon-facebook: "\e902";
@icon-google: "\e903";
@icon-instagram: "\e904";
@icon-next: "\e905";
@icon-cart: "\e906";
@icon-twitter: "\e907";
@icon-youtube: "\e908";
@icon-prev: "\e909";
@icon-up: "\e90a";
@icon-down: "\e90b";
@icon-pinterest: "\e90c";
@icon-search: "\e90d";
@icon-pause: "\e90e";
@icon-play: "\e90f";
@icon-trash: "\e910";
@icon-edit: "\e911";
@icon-compare-empty: "\e912";
@icon-wishlist-empty: "\e913";
@icon-compare-full: "\e914";
@icon-wishlist-full: "\e915";
@icon-checkmark: "\e916";
@icon-requisition-empty: "\e917";
@icon-requisition-full: "\e918";

//
//  Sections variables
//  _____________________________________________

//
//  Tabs
//  ---------------------------------------------
@tab-content__border-top-status: true;
@tab-content-margin-bottom: 60px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
// Icon X
// ----------------------------------------------
@icon-calendar__font-size: 26px;
@icon-x-on: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iX+ugiOydtOyWtF8xIiBkYXRhLW5hbWU9IuugiOydtOyWtCAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMwIDMwIj4KICA8ZGVmcz4KICAgIDxzdHlsZT4KICAgICAgLmNscy0xIHsKICAgICAgICBmaWxsOiAjMzIzMzMzOwogICAgICAgIHN0cm9rZS13aWR0aDogMHB4OwogICAgICB9CiAgICA8L3N0eWxlPgogIDwvZGVmcz4KICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xNi43MSwxMy41OWw2LjctNy43OWgtMS41OWwtNS44Miw2Ljc2LTQuNjUtNi43NmgtNS4zNmw3LjAzLDEwLjIzLTcuMDMsOC4xN2gxLjU5bDYuMTQtNy4xNCw0LjkxLDcuMTRoNS4zNmwtNy4yOS0xMC42MWgwWk0xNC41NCwxNi4xMmwtLjcxLTEuMDItNS42Ny04LjFoMi40NGw0LjU3LDYuNTQuNzEsMS4wMiw1Ljk0LDguNWgtMi40NGwtNC44NS02Ljk0aDBaIi8+Cjwvc3ZnPg==';
@icon-x-off: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyOC4zLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i66CI7J207Ja0XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCINCgkgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzUgMzgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDM1IDM4OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPg0KCS5zdDB7ZmlsbDojMkIyQjJCO30NCjwvc3R5bGU+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTkuNTksMTcuMjhsOC4xOS05LjUyaC0xLjk0bC03LjExLDguMjdsLTUuNjgtOC4yN0g2LjVsOC41OSwxMi41TDYuNSwzMC4yNGgxLjk0bDcuNTEtOC43M2w2LDguNzNoNi41NQ0KCUwxOS41OSwxNy4yOEwxOS41OSwxNy4yOHogTTE2LjkzLDIwLjM3bC0wLjg3LTEuMjRsLTYuOTItOS45aDIuOThsNS41OSw3Ljk5bDAuODcsMS4yNGw3LjI2LDEwLjM5aC0yLjk4TDE2LjkzLDIwLjM3TDE2LjkzLDIwLjM3eiINCgkvPg0KPC9zdmc+DQo=';
@icon-x__width: 30px;
@icon-x__height: 30px;
@icon-x__position-center: center;