<form data-role="bankinfo-form"
      method="post">
    <div class="fieldset"
         data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
        <div class="field field-bank-name required">
            <label for="bank-name" class="label"><span data-bind="i18n: 'Bank Name'"></span></label>
            <div class="control">
                <select  name="bank-name"
                         class="select select-bank"
                         id="bank-name"
                         data-validate='{"required": true}'
                         data-bind="
                                options: getBankOptions(),
                                optionsValue: 'value',
                                optionsText: 'name',
                                value: value().bank_name">
                </select>
            </div>
        </div>
        <div class="field field-name required">
            <label class="label" for="account-owner-name"><span data-bind="i18n: 'Account Owner Name'"></span></label>
            <div class="control">
                <input type="text"
                       class="input-text"
                       id="account-owner-name"
                       name="account-owner-name"
                       data-bind="attr: {value: value().account_owner_name, placeholder: $t('Account Owner Name')}"
                       data-validate="{required:true}" />
            </div>
        </div>
        <div class="field field-bank-account-number required">
            <label for="bank-account-number" class="label"><span data-bind="i18n: 'Bank Account Number'"></span></label>
            <div class="control">
                <input type="text"
                       class="input-text"
                       id="bank-account-number"
                       name="bank-account-number"
                       data-bind="attr: {value: value().bank_account_number, placeholder: $t('Bank Account Number')}"
                       data-validate="{required:true}"
                       autocomplete="off"/>
            </div>
        </div>
    </div>
</form>
