<?xml version="1.0"?>
<!--
/**
 * @author CJ Team
 * @copyright Copyright (c) 2021 CJ
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="deliverymessage" translate="label" sortOrder="1050" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Delivery Message</label>
            <tab>eguana_extensions_tab</tab>
            <resource>Eguana_OrderDeliveryMessage::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Delivery Message Configurations</label>
                <field id="is_validate_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable Validate Message Length</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
