<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<ecpay_ecpaypayment>
				<model>Ecpay\Ecpaypayment\Model\Payment</model>
				<title>本交易透過綠界整合金流處理</title>
				<active>0</active>
				<order_status>pending</order_status>
				<ecpay_merchant_id>2000132</ecpay_merchant_id>
				<ecpay_hash_key>5294y06JbISpM5x9</ecpay_hash_key>
				<ecpay_hash_iv>v77hoKGq4kWxNNIS</ecpay_hash_iv>
				<ecpay_success_status>processing</ecpay_success_status>
				<ecpay_failed_status>holded</ecpay_failed_status>
				<allowspecific>0</allowspecific>
				<payment_action>sale</payment_action>
                <ecpay_issavecard>0</ecpay_issavecard>
                <ecpay_sender_admin_email>general</ecpay_sender_admin_email>
                <ecpay_enable_send_mail_when_state_error>0</ecpay_enable_send_mail_when_state_error>
                <ecpay_admin_email_template>payment_other_ecpay_ecpaypayment_ecpay_admin_email_template</ecpay_admin_email_template>
				<ecpay_invoice>
					<ecpay_invoice_stage_url>https://einvoice-stage.ecpay.com.tw/Invoice/</ecpay_invoice_stage_url>
					<ecpay_invoice_production_url>https://einvoice.ecpay.com.tw/Invoice/</ecpay_invoice_production_url>
				</ecpay_invoice>
			</ecpay_ecpaypayment>
		</payment>
	</default>
    <websites>
        <tw_lageige_website>
            <payment>
                <ecpay_ecpaypayment>
                    <ecpay_receiver_admin_email>maggieliu@tw.amorepacific.com, eddiegao@tw.amorepacific.com</ecpay_receiver_admin_email>
                </ecpay_ecpaypayment>
            </payment>
        </tw_lageige_website>
        <base>
            <payment>
                <ecpay_ecpaypayment>
                    <ecpay_receiver_admin_email>maggieliu@tw.amorepacific.com, taviatsai@tw.amorepacific.com</ecpay_receiver_admin_email>
                </ecpay_ecpaypayment>
            </payment>
        </base>
    </websites>

</config>
