.product-item-actions .actions-secondary > .action:hover {
    background-color: #6691FF;
    border: 1px solid #6691FF;
    color: #ffffff;
}

.product-add-form {
    .action.tocart:hover,
    .action.primary.tocheckout:hover {
        background-color: #6691FF;
        border: 1px solid #6691FF;
        color: #ffffff;
    }
}

.flags {
    .flag {
        background: #6691FF;
    }

    .flag.best {
        background: #F53C50;
    }
}

.products-grid, .widget-product-carousel {
    .product-item .tocart:hover {
        background: #6691FF;
        border: 1px solid #6691FF;
        color: #ffffff;
    }
}

.qty-selector:hover {
    background: #6691FF;
    border: 1px solid #6691FF;
    color: #ffffff;
}

.block-minicart {
    .block-content {
        > .actions {
            > .secondary {
                .action {
                    &:hover {
                        background: #6691FF;
                        border: 1px solid #6691FF;
                    }
                }
            }

            > .primary {
                .action {
                    &.primary {
                        background: #6691FF;
                        border: 1px solid #6691FF;
                    }
                }
            }
        }
    }
}

.header.content > .header.links {
    a.login:after,
    a.location:after {
        color: #6691FF;
    }
}

.block-search{
    .label:before{
        color: #6691FF;
    }

    .action.search.primary:hover{
        background: #6691FF;
        border: 1px solid #6691FF;
    }
}

.cart-container .action.primary.checkout:hover{
    background: #6691FF;
    border: 1px solid #6691FF;
}

.minicart-wrapper .action.showcart:before {
    color: #6691FF;
}

.minicart-wrapper .action.showcart .counter.qty {
    background: #F53C50;
}

.stw-stores-locator .stores-result h3 strong {
    color: #4076FF;
}

.stw-stores-locator .stores-list .stores-listing-ul li.store-list.selected-store {
    .store-title {
        color: #4076FF;
    }

    .store-primary-info > p {
        color: #4076FF;
    }
}

.stw-stores-locator .stores-list .stores-listing-ul li.store-list:hover .store-secondary-info > p, .stw-stores-locator .stores-list .stores-listing-ul li.store-list.selected-store .store-secondary-info > p {
    color: #4076FF;
}

.store-search-input:focus {
    box-shadow: 0 0 3px 1px #4076FF !important;
}

.page-layout-1column .filter-options-content .item a:hover {
    color: #4076FF;
}

.page-product-bundle .bundle-options-wrapper button.select-option:not(.selected):hover {
    background: #6691FF;
    border: 1px solid #6691FF;
}
