<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <coupon_wallet>
            <general>
                <sync_pos_customer_grade>0</sync_pos_customer_grade>
                <member_only>0</member_only>
            </general>
            <cron>
                <active>0</active>
                <cron_expr>00 03 * * * </cron_expr>
            </cron>
        </coupon_wallet>
    </default>
</config>
