<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sapt_lazyloading>
            <lazyloading>
                <enabled>0</enabled>
            </lazyloading>
        </sapt_lazyloading>
    </default>
</config>
