<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <!-- need to remove because we customize new logic deduct point (also include this function)-->
        <observer name="amasty_checkout_submit_all_after" disabled="true" />
    </event>
</config>
