<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: shahroz
 * Date: 28/1/20
 * Time: 2:42 PM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <stores_board>
            <general_stores>
                <enabled>1</enabled>
            </general_stores>
            <frontend_stores>
                <map_height>420px</map_height>
                <map_zoom>19</map_zoom>
            </frontend_stores>
        </stores_board>
    </default>
</config>
