<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cj_custom_catalog" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Custom Catalog Settings</label>
            <tab>cj_extensions_tab</tab>
            <resource>CJ_PageBuilder::config</resource>
            <group id="custom_catalog" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Settings Catalog</label>
                <field id="description_under_name_enabled" translate="label" type="select" sortOrder="1" showInWebsite="1" showInDefault="1" showInStore="1">
                    <label>Display Product Description Below Product Name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="limit" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Every line's maximum chinese character</label>
                    <comment>Default: 30</comment>
                </field>
            </group>
        </section>
    </system>
</config>
