<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cj_extensions_tab" translate="label" sortOrder="2000">
            <label>CJ Extensions</label>
        </tab>
        <section id="cj_custom_catalog" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Custom Catalog Settings</label>
            <tab>cj_extensions_tab</tab>
            <resource>CJ_PageBuilder::config</resource>
            <group id="custom_catalog" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Settings Catalog</label>
                <field id="limit" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Every line's maximum chinese character</label>
                    <comment>Default: 30</comment>
                </field>
            </group>
        </section>
        <section id="catalog">
            <group id="remove_special_character" translate="label" showInDefault="1" showInWebsite="1" showInStore="1"
                   sortOrder="900">
                <label>Remove Special Character in Product Name</label>
                <field id="enabled" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="list" translate="label" type="textarea" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>List special character</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
