<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <social_share>
            <whatapp_share>
                <whatapp_share_enable>1</whatapp_share_enable>
                <whatapp_share_url>whatsapp://send?text=</whatapp_share_url>
            </whatapp_share>
            <instagram_share>
                <instagram_share_enable>1</instagram_share_enable>
                <instagram_share_url>https://www.instagram.com/?url=</instagram_share_url>
            </instagram_share>
        </social_share>
    </default>
</config>
