<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\Option\Type\DefaultType">
        <plugin name="round-product-option-rule" type="Amore\Currency\Plugin\RoundCustomOptionPrice"/>
    </type>
    <type name="Magento\Directory\Model\Currency">
        <!-- Disabled in adminhtml/di.xml -->
        <plugin name="remove-precision-format-currency" type="Amore\Currency\Plugin\PricingRemovePrecision"/>
    </type>
</config>
