<?xml version="1.0"?>
<!--
/**
* @author Eguana Team
* @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
* Created by PhpStorm
* User: yasir
* Date: 6/11/20
* Time: 4:23 AM
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Eguana_Magazine::manage_magazine" title="Magazine" translate="title" module="Eguana_Magazine" sortOrder="10" parent="Eguana_Base::base"
             resource="Eguana_Magazine::manage_magazine" action="magazine/magazine/grid"/>
    </menu>
</config>
