<?xml version="1.0"?>
<!--
/**
* @author Eguana Team
* @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
* Created by PhpStorm
* User: yasir
* Date: 6/11/20
* Time: 4:41 AM
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="magazine" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Magazine</label>
            <tab>eguana_extensions_tab</tab>
            <resource>Eguana_Magazine::magazines_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="magazine_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Magazine Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>


