<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\ReviewsImportExport\Model\Import\Behaviors\AddUpdate"
                type="CJ\ReviewsImportExport\Model\Import\Behaviors\AddUpdate"/>
    <preference for="Amasty\AdvancedReview\Block\Summary"
                type="CJ\ReviewsImportExport\Block\Summary"/>
</config>
