// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

& when (@media-common = true) {
    .pagebuilder-column {
        .widget-product-grid {
            position: relative;

            .product-item {
                width: calc(~'(100% - @{indent__s}) / 2');

                &:nth-child(3n + 1) {
                    &:not(:first-child):before {
                        display: block !important;
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        border-top: 1px solid #eaeaea;
                        z-index: 2;
                    }
                }

                &:nth-child(1),
                &:nth-child(2) {
                    .product-item-info {
                        margin-top: 0;
                    }
                }

                .price-box {
                    word-wrap: break-word;
                    .price {
                        white-space: normal;
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .pagebuilder-column {
        .widget-product-grid {
            margin-left: @layout__width-xs-indent;
            margin-right: @layout__width-xs-indent;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .pagebuilder-column {
        .widget-product-grid {
            .product-item {
                width: calc(~'(100% - @{indent__base}) / 2');

                &:nth-child(2n + 1) {
                    margin-left: 0;
                }
            }
        }
    }
}
