<?xml version="1.0"?>
<!--
/**
 * Atome Payment Module for Magento 2
 *
 * @author Atome
 * @copyright 2020 Atome
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <atome_payment_gateway>
                <active>0</active>
                <title>Atome</title>
                <price_divider_product_list>1</price_divider_product_list>
                <price_divider_product_detail>1</price_divider_product_detail>
                <model>Atome\MagentoPayment\Model\PaymentGateway</model>
                <payment_action>authorize_capture</payment_action>
                <merchant_api_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <allowspecific>0</allowspecific>
                <order_email_send_by>default</order_email_send_by>
                <order_status>default</order_status>
                <order_created_when>before_paying</order_created_when>
                <delete_orders_without_paying>1</delete_orders_without_paying>
                <clear_cart_without_paying>0</clear_cart_without_paying>
                <max_spend>0</max_spend>
            </atome_payment_gateway>
        </payment>
    </default>
</config>
