/*
* HKLANEIZE-37
* brand-story
*/
.cms-brand-story {
    #maincontent {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .feel-the-glow {
        padding-bottom: 0 !important;

        > .box {
            overflow: hidden;
        }
    }
}
/* END */


.modal_cookie footer.modal-footer button.modal-close-aday:hover {
    color: #fff;
}

@media (max-width: 767px){
    .footer_top .block.newsletter .field_newsletter .actions .action.subscribe {
        margin-top: 0;
        min-width: 100%;
    }

    .stw-stores-locator .fieldset .field .actions .button {
        min-width: 38px;
        margin: 0;
    }

    .redemption-list-view table tbody tr th {
        white-space: nowrap;
    }
    .redemption-list-view table tbody tr td.points {
        text-align: center !important;
    }
}

.page.messages .message a:hover {
    color: #777;
}


.login-container .form-login .actions-toolbar .primary button {
    border-radius: 30px;
    background-color: #4477be;
}

.login-container .form-login .actions-toolbar .socialloginlogin-login a {
    border-radius: 30px;
}

.login-container .form-login .actions-toolbar .primary button {
    border-radius: 30px;
    background-color: #4477be;
}

.action.primary:hover {
    background-color: #4477be !important;
    border-color: #4477be !important;
}

.login-container .login-benifit {
    background-color: #ecf5fa;
}

.minicart-wrapper .action.showcart .counter.qty {
    background: #d63b60;
}

//
// BUTTONS
//______________________________________
.wishlisticon::before,
.abs-actions-addto-gridlist:hover::before,
.products-grid .product-item .product-item-details .actions-primary .tocart:hover::before,
.tocompare:hover::before,
.wishlist.split.button .action.split:hover::before,
.product-addto-links .wishlist.split.button > .action.split:hover::before,
.table-comparison .wishlist.split.button > .action.split:hover::before,
.product-items .wishlist.split.button > .action.split:hover::before,
.product-info-main .action.towishlist:not(.updated):hover::before,
.product-items .action.towishlist:not(.updated):hover::before,
.products.list.items .action.towishlist:not(.updated):hover::before,
.table-comparison .action.towishlist:not(.updated):hover::before,
.product-addto-links .action.towishlist:not(.updated):hover::before, .cart.table-wrapper .action.towishlist:hover::before {
    color: #d63b60 !important;
}

.customer-account-findpasswordcomplete .box_link .action,
.account .column.main .actions-toolbar:not(.order-actions-toolbar) .action,
.customer-address-index.account .column.main .actions-toolbar:not(.order-actions-toolbar) button.primary,
#checkout-step-discount .payment-option-inner .actions-toolbar button,
.amcheckout-step-container button.action.action-show-popup.amcheckout-button.-new-address,
.amcheckout-step-container .quote-details-items .actions-toolbar > .action.action.action-show-popup.amcheckout-button.-new-address,
.cart-container .checkout-methods-items .action.primary,
.cart-container .checkout-methods-items .amshopby-button,
.cart-container .checkout-methods-items .am-filter-go,
.cart-container .checkout-methods-items .paypal-express-review .paypal-review-discount .block .actions-toolbar .action.primary,
.cart-container .checkout-methods-items .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .action.primary,
.cart-container .checkout-methods-items .paypal-express-review .paypal-review-discount .block .actions-toolbar .amshopby-button,
.cart-container .checkout-methods-items .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .amshopby-button,
.cart-container .checkout-methods-items .paypal-express-review .paypal-review-discount .block .actions-toolbar .am-filter-go,
.cart-container .checkout-methods-items .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .am-filter-go,
.product-info-main .box-tocart .actions button,
.product-info-main .box-tocart .actions button.tocart,
.product-options-bottom .box-tocart .actions button.tocart,
.bundle-options-wrapper .box-tocart .actions button.tocart,
.block-bundle-summary .box-tocart .actions button.tocart,
.product-info-main .box-tocart .actions .quote-details-items .actions-toolbar > .action.tocart,
.product-options-bottom .box-tocart .actions .quote-details-items .actions-toolbar > .action.tocart,
.bundle-options-wrapper .box-tocart .actions .quote-details-items .actions-toolbar > .action.tocart,
.block-bundle-summary .box-tocart .actions .quote-details-items .actions-toolbar > .action.tocart,
.order-toolbar form button.btn,
.order-toolbar form .quote-details-items .actions-toolbar > .action.btn,
.btn-default-dark,
.btn-default-black,
a.pagebuilder-button-secondary,
button.pagebuilder-button-secondary,
div.pagebuilder-button-secondary,
.banner_category .banner-cont-wrap .btn-link,
.products-grid .product-item .product-item-details .actions-primary .tocart,
.hero-pagebuilder-slider .slick-slide .btn_black .pagebuilder-slide-wrapper button.pagebuilder-slide-button,
.login-container .form-login .actions-toolbar .socialloginlogin-login a,
.checkout-index-index .amcheckout-main-container .checkout-payment-method.submit .payment-methods button,
.checkout-index-index .amcheckout-main-container .checkout-payment-method.submit .payment-methods .quote-details-items .actions-toolbar > .action,
.checkout-index-index .modal-popup .modal-footer .action,
.checkout-onepage-success .checkout-success .actions-toolbar .action,
.action.primary {
    border-radius: 30px;
}

@media (max-width: 768px) {
    .product-info-main.sticky .product-add-form .box-tocart .actions button {
        border-radius: 0 !important;
    }
}

.customer-account-findpasswordcomplete .box_link .action.secondary,
#checkout-step-discount .payment-option-inner .actions-toolbar button,
.login-container .form-login .actions-toolbar .socialloginlogin-login a,
.hero-pagebuilder-slider .slick-slide .btn_black .pagebuilder-slide-wrapper button.pagebuilder-slide-button,
button.pagebuilder-button-secondary,
div.pagebuilder-button-secondary {
    outline: 1px solid transparent !important;
}

.customer-address-index.account .column.main .actions-toolbar:not(.order-actions-toolbar) button.primary:hover,
.amcheckout-step-container button.action.action-show-popup.amcheckout-button.-new-address:hover,
.amcheckout-step-container .quote-details-items .actions-toolbar > .action.action.action-show-popup.amcheckout-button.-new-address:hover,
.checkout-index-index .amcheckout-main-container .checkout-payment-method.submit .payment-methods button,
.checkout-index-index .amcheckout-main-container .checkout-payment-method.submit .payment-methods .quote-details-items .actions-toolbar > .action,
.cart-container .checkout-methods-items .action.primary,
.cart-container .checkout-methods-items .amshopby-button,
.cart-container .checkout-methods-items .am-filter-go,
.cart-container .checkout-methods-items .paypal-express-review .paypal-review-discount .block .actions-toolbar .action.primary,
.cart-container .checkout-methods-items .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .action.primary,
.cart-container .checkout-methods-items .paypal-express-review .paypal-review-discount .block .actions-toolbar .amshopby-button,
.cart-container .checkout-methods-items .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .amshopby-button,
.cart-container .checkout-methods-items .paypal-express-review .paypal-review-discount .block .actions-toolbar .am-filter-go,
.cart-container .checkout-methods-items .braintree-paypal-review .paypal-review-discount .block .actions-toolbar .am-filter-go,
.product-info-main.sticky .product-add-form .box-tocart .actions .quote-details-items .actions-toolbar > .action.action.tocheckout,
.product-info-main .box-tocart .actions button.tocheckout:hover,
.product-options-bottom .box-tocart .actions button.tocheckout:hover,
.bundle-options-wrapper .box-tocart .actions button.tocheckout:hover,
.block-bundle-summary .box-tocart .actions button.tocheckout:hover,
.product-info-main .box-tocart .actions .quote-details-items .actions-toolbar > .action.tocheckout:hover,
.product-options-bottom .box-tocart .actions .quote-details-items .actions-toolbar > .action.tocheckout:hover,
.bundle-options-wrapper .box-tocart .actions .quote-details-items .actions-toolbar > .action.tocheckout:hover,
.block-bundle-summary .box-tocart .actions .quote-details-items .actions-toolbar > .action.tocheckout:hover,
.order-toolbar form button.btn:hover,
.order-toolbar form .quote-details-items .actions-toolbar > .action.btn:hover,
.btn-default-dark:hover,
.catalog-category-view .products-grid .product-items .product-item .product-item-details .action.tocart:hover,
.search.results .products-grid .product-items .product-item .product-item-details .action.tocart:hover,
.products-grid .product-item .product-item-details .actions-primary .tocart:hover {
    background-color: #4477be !important;
    border-color: #4477be !important;
}

@media (max-width: 768px){
    .product-info-main.sticky .product-add-form .box-tocart .actions button.action.tocheckout {
        background-color: #4477be !important;
        border-color: #4477be !important;
    }
}

.customer-account-findpasswordcomplete .box_link .action.secondary:hover,
#checkout-step-discount .payment-option-inner .actions-toolbar button:hover,
.login-container .form-login .actions-toolbar .socialloginlogin-login a:hover,
.hero-pagebuilder-slider .slick-slide .btn_black .pagebuilder-slide-wrapper button.pagebuilder-slide-button:hover,
button.pagebuilder-button-secondary:hover,
div.pagebuilder-button-secondary:hover {
    outline: 1px solid #222 !important;
}

.home-membership .btn-view .pagebuilder-button-secondary:hover {
    color: #222;
}

//
// END BUTTONS
//______________________________________

@media (max-width: 767px) {
    .home-membership .pagebuilder-column .btn-view .pagebuilder-button-secondary {
        font-size: 14px;
        max-width: 120px;
        padding: 0;
        margin: 0;
    }
}


.product_labels span {
    background-color: #c9e1ff;

    @media (max-width: 768px){
        font-size: 10px;
        line-height: 13px;
        padding: 1px 5px 2px;
        font-weight: 700;
        vertical-align: top;
        margin-top: 3px;
    }

    &.product-label-new {
        background-color: #c9e1ff;
        color: #222;
    }

    &.product-label-exculusive {
        background-color: #4477be;
        color: #fff;
    }
}

.product_tags {
    color: #4477be;
}

/* Product List Page */
.category-view {
    .category-cms [data-content-type='row'][data-appearance='contained'] {
        max-width: 100%;
        padding: 0;
    }
    @media (min-width: 768px){
        .banner_category:not(.banner_new) .banner-cont-wrap {
            padding: 0 80px !important;
            max-width: 1380px;
        }
    }
}

.products-grid .product-item .discount-label {
    color: #d63b60;
    font-size: 18px;
}

.products.product-items .product-item .product-reviews-summary.empty .reviews-actions .action.add:hover,
.oneline-review .product-item .product-reviews-summary.empty .reviews-actions .action.add:hover {
    color: #4477be;
}

.catalog-category-view {

    .product-item .special-price .price,
    .product-item .minimal-price .price {
        font-size: 18px;
    }

    .products.wrapper.grid + .toolbar-products {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

.category-description [data-content-type='row'][data-appearance='contained'] {
    padding: 0;
    max-width: 100%;
}

.toolbar-products .sale_filter .label {
    font-weight: 500;
}

@media (min-width: 768px) {
    .catalog-category-view .products-grid .product-items .product-item .product-item-details .action.tocart {
        border-radius: 0 !important;
    }
}

@media (max-width: 767px){
    .toolbar-products .sale_filter {
        margin-top: 13px;
    }

    .catalog-category-view {

        .products.wrapper.grid .product-item-name {
            font-size: 14px;
        }

        .products-grid .products.product-items .product-item-details .price-box {
            position: relative;
            padding-top: 21px;

            .old-price {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

.cart.table-wrapper {
    .qty_control button,
    .qty_control .quote-details-items .actions-toolbar > .action {
        line-height: 26px;
    }

    .cart-custom-price {
        .cart-item-discount {
            color: #d63b60;
        }

        .cart-price .price {
            font-weight: 500;
            font-size: 14px;
        }
    }

    .action.towishlist {
        cursor: pointer;

        &:hover::before {
            content: "\e915";
        }
    }
}

.cart-container .checkout-methods-items .action.primary:hover {
    opacity: 0.8;
}

@media (max-width: 767px){
    .cart-container .checkout-methods-items .action.primary {
        border-radius: 0 !important;
        margin: 0;
    }
    .block.crosssell .block-content {
        margin-left: 0;
    }
    .block.crosssell .block-title > p {
        font-size: 18px;
        font-weight: 700;
    }
    .sapt-megamenu.navigation li.level0.parent {
        border-bottom: 1px solid #ddd;
    }
}

.product-info-main .discount-label,
.product-options-bottom .discount-label,
.bundle-options-wrapper .discount-label,
.block-bundle-summary .discount-label {
    color: #D63B60;
}
.product-info-main.sticky::after,
.product-info-main.sticky::before,
.product-info-main.sticky {
    background-color: #ECF5FA;
}

@media (min-width: 1200px){
    .login-container {
        .block-customer-login .block-content {
            height: 546px;
        }

        .login-benifit {
            .block-login-benifit-right .content {
                width: 56px !important;
                margin: 8px auto 0;
            }

            .block-login-benifit-left {
                .title {
                    margin: 25px 0 12px 0;
                }
                .content {
                    max-width: 230px;
                }
            }
        }
    }
}

@media (max-width: 1199px){
    .home-membership br {
        display: none;
    }
}


body:not(.category-best-seller) .block.widget.block-products-bestseller .products-grid .product-item .product-item-wrapper .product-item-details .product-number,
.category-cms .bestseller_content .bestseller_tab .mage-tabs-disabled .tab-titles {
    display: none;
}

.bestseller_content.bestseller_page .block.widget.block-products-bestseller .products-grid .product-item .product-item-wrapper .product-item-details .product-number {
    display: block;
}

@media (min-width: 768px){
    .block.widget.block-products-bestseller .products-grid .product-item {
        .product-item-wrapper {
            .product-item-info {
                padding-top: 21px;

                .product-item-name {
                    margin-top: 0;
                }
            }

            .actions-primary .tocart {
                border-radius: 30px !important;
            }
        }

        &:not(.product-item-full) .product-item-wrapper .product-item-info .product-item-name a {
            font-size: 18px;
            line-height: 1.33;
        }

        &.product-item-full .product-item-wrapper .product-item-info {
            padding-right: 80px;

            .product-item-name {
                margin-top: 0;
                margin-bottom: 8px;
            }
        }
    }
}
@media (max-width: 767px){
    .bestseller_content .cms_title h1 {
        font-size: 21px;
        margin-bottom: 20px;
    }
}

.cart.table-wrapper .bundle-detail-cart .item-options dd {
    width: 100%;
    .price {
        display: none;
    }
}

#order_history .cart.table-wrapper .bundle-detail-cart {
    padding-left: 120px;
}

.page.messages .message > *:first-child {
    word-break: break-word;
}

.customer-account-create .fieldset > .field.gender > .label {
    padding: 0;
    text-align: left;
    width: auto;
}

.customer-account-findpasswordcomplete .box_link .action {
    line-height: 38px;
}

.customer-account-findpasswordcomplete footer .box_link {
    margin-top: 0;
}

.sapt-megamenu.navigation li.level0.fullwidth .submenu li.level1 > a,
.sapt-megamenu.navigation li.level0.staticwidth .submenu li.level1 > a {
    text-transform: none !important;
}

#opc-shipping_method.checkout-shipping-method {
    height: 0 !important;
    width: 0 !important;
    overflow: hidden;
    opacity: 0;
}


.cms-membership-error .column.main {
    padding: 100px 0 !important;

    [data-content-type='button-item'] [data-element='link'],
    a.pagebuilder-button-primary {
        color: #fff;
        border-radius: 30px;
    }
}

.fotorama .fotorama__stage__frame .fotorama__img {
    width: auto !important;
}

.product-info-main-wrapper .product-addto-links .action.towishlist:not(.updated):before {
    width: 23px !important;
    height: 23px !important;
    line-height: 23px !important;

}

body.catalogsearch-result-index #amasty-shopby-product-list #on-sale-box {
    display: none !important;
}

.content_top_banner .slick-track {
    display: flex;
    align-items: center;

    .slick-slide {
        float: none !important;

        > div {
            display: flex;
            align-items: center;
        }
    }
}

.laneige-top-banner {
    .btn-close-top {
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
}


.catalogsearch-result-index,
.catalog-category-view {
    .product-item .old-price .price {
        font-size: 14px;
        font-weight: 500;
    }

    @media (max-width: 767px){
        .product-item {
            .special-price .price,
            .minimal-price .price {
                font-size: 14px;
            }

            .price-box .price {
                font-size: 14px;
            }

            .old-price .price {
                font-weight: 500;
            }

            .discount-label {
                font-size: 14px;
            }
        }
    }
}

.box_member .member_coupon {
    display: none !important;
}

.field._error .control input,
.field._error .control select,
.field._error .control textarea {
    border-color: #CC0000;
}
.field-error {
    color: #CC0000;
}

@media (min-width: 768px){
    .catalogsearch-result-index .products-grid .product-items .product-item .product-item-details .action.tocart {
        border-radius: 0 !important;
    }

    .checkout-index-index .form-shipping-address {
        .field[name="shippingAddress.country_pos_code"]{
            width: 15%;
        }

        .field[name="shippingAddress.telephone"] {
            width: 100%;
        }
    }
}
@media (min-width: 769px){
    .checkout-payment-method .payment-option {
        max-width: none !important;
        margin-left: 0;
        margin-right: 0;
    }
    .checkout-payment-method .actions-toolbar > .primary {
        float: right !important;
    }
    .checkout-payment-method ._active .-minus{
        display: block !important;
    }
    .checkout-payment-method .discount-code .-minus{
        display: none;
    }
    .checkout-payment-method ._active .-plus{
        display: none;
    }
}
.checkout-index-index .amcheckout-main-container .amcheckout-title {
    padding: 20px 0 15px;
    border-bottom: 1px solid #c7c7c7 !important;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 20px;
    background-color: inherit;
}

.amrewards-discount-form .payment-option-inner{
    width: 100% !important;
    display: flex !important;
    .field{
        width: 90%;
    }
    .action-apply{
        float: right;
        background: #fff;
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
        padding: 6px 0;
        color: #222;
        border: 1px solid #222 !important;
        text-transform: uppercase;
        border-radius: 0;
        border-radius: 30px;
        padding: 6px;
    }
    .primary{
        width: 83%;
    }
}
.amrewards-discount-form .amrewards-actions {
    margin-top: 0px !important;
    width: 50%;
    float: right;
    background: none;
    background-color: white;
}
.referral-main-container{
    display: flex;
    .payment-option-inner{
        width: 47%;
    }
    .field{
        width: 100% !important;
    }
    .actions-toolbar{
        width: 25%;
        margin-left: 20px;
    }
    .action-apply{
        float: right;
        background: #fff;
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
        padding: 6px 0;
        color: #222;
        border: 1px solid #222 !important;
        text-transform: uppercase;
        border-radius: 0;
        border-radius: 30px !important;
        padding: 6px;
    }
}
@media only screen and (max-width: 768px){
.checkout-payment-method .payment-option .payment-option-content {
    padding: 0 !important;
}
.referral-main-container{
    .payment-option-inner{
        width: 100%;
        display: block;
    }
    .field{
        width: 100%;
    }
    .amrewards-actions{
        width: 100%;
        float: right;
        background: none;
        font-size: 7px;
        background-color: white;
        margin-top: 10px;
    }
}
.amrewards-discount-form .payment-option-inner {
    width: 100% !important;
    display: block !important;
}
.amrewards-discount-form .amrewards-actions {
    margin-top: 10px !important;
    width: 100%;
    float: left;
    background: none;
    background-color: white;
    margin-left: 15px;
}
.referral-main-container {
    display: block !important;
}
.checkout-index-index #checkout-step-referral .payment-option-inner {
    display: flex;
    margin-bottom: 0px !important;
}
.checkout-payment-method ._active .-minus{
    display: block !important;
}
.checkout-payment-method .discount-code .-minus{
    display: none;
}
.checkout-payment-method ._active .-plus{
    display: none;
}
}
.amrewards-points-rate {
    margin-bottom: 10px !important;
}
