<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Eguana\GWLogistics\Api\Data\QuoteCvsLocationInterface" type="Eguana\GWLogistics\Model\QuoteCvsLocation"/>
    <preference for="Eguana\GWLogistics\Api\Data\QuoteCvsLocationSearchResultInterface" type="Eguana\GWLogistics\Model\QuoteCvsLocationSearchResult"/>
    <preference for="Eguana\GWLogistics\Api\QuoteCvsLocationRepositoryInterface" type="Eguana\GWLogistics\Model\QuoteCvsLocationRepository"/>
    <preference for="Eguana\GWLogistics\Api\CartCvsLocationManagementInterface" type="Eguana\GWLogistics\Model\CartCvsLocationManagement"/>
    <preference for="Eguana\GWLogistics\Api\GuestCartCvsLocationManagementInterface" type="Eguana\GWLogistics\Model\GuestCartCvsLocationManagement"/>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="carriers/eguana_gwlogistics/gateway_url" xsi:type="string">1</item>
                <item name="carriers/eguana_gwlogistics/gateway_secure_url" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\ShippingAddressManagementInterface">
        <plugin name="eguana_gwlogistics_set_cvs_location_to_quote_address"
                type="Eguana\GWLogistics\Plugin\Quote\SetCvsLocationPlugin" sortOrder="10"/>
        <!-- not working -->
<!--        <plugin name="eguana_gwlogistics_load_cvs_location"-->
<!--                type="Eguana\GWLogistics\Plugin\Quote\LoadCvsLocationAttrPlugin" sortOrder="10"/>-->
    </type>
    <type name="Magento\Quote\Model\Quote\Address\ToOrderAddress">
        <plugin name="eguana_gwlogistics_copy_cvs_location_field"
                type="Eguana\GWLogistics\Plugin\Quote\CopyCvsLocationFieldPlugin" sortOrder="10"/>
    </type>

    <!--maybe can use later for saving selected field or update location table..-->
    <!--    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">-->
    <!--        <plugin name="eguana_gwlogistics_quote_save_address" type="Eguana\GWLogistics\Plugin\Checkout\Api\SaveAddressPlugin"/>-->
    <!--    </type>-->
</config>
