<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Eguana\GWLogistics\Api\Data\QuoteCvsLocationInterface" type="Eguana\GWLogistics\Model\QuoteCvsLocation"/>
    <preference for="Eguana\GWLogistics\Api\Data\QuoteCvsLocationSearchResultInterface" type="Eguana\GWLogistics\Model\QuoteCvsLocationSearchResult"/>
    <preference for="Eguana\GWLogistics\Api\QuoteCvsLocationRepositoryInterface" type="Eguana\GWLogistics\Model\QuoteCvsLocationRepository"/>
    <preference for="Eguana\GWLogistics\Api\CartCvsLocationManagementInterface" type="Eguana\GWLogistics\Model\CartCvsLocationManagement"/>
    <preference for="Eguana\GWLogistics\Api\GuestCartCvsLocationManagementInterface" type="Eguana\GWLogistics\Model\GuestCartCvsLocationManagement"/>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="carriers/eguana_gwlogistics/gateway_url" xsi:type="string">1</item>
                <item name="carriers/eguana_gwlogistics/gateway_secure_url" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <!--extension attributes load-->
    <type name="Magento\Rma\Api\Data\TrackInterface">
        <plugin name="eguana_gwlogistics_rma_track_extension_attr_load"
                type="Eguana\GWLogistics\Plugin\Rma\TrackAttributeLoad"/>
    </type>
    <type name="Magento\Rma\Api\TrackRepositoryInterface">
        <plugin name="eguana_gwlogistics_trackr_extension_attr_operation"
                type="Eguana\GWLogistics\Plugin\Rma\TrackRepositoryPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Api\Data\ShipmentInterface">
        <plugin name="eguana_gwlogistics_shipment_extension_attr_load"
                type="Eguana\GWLogistics\Plugin\Sales\ShipmentAttributeLoad"/>
    </type>
    <type name="Magento\Sales\Api\Data\OrderAddressInterface">
        <plugin name="eguana_gwlogistics_order_address_extension_attr_load"
                type="Eguana\GWLogistics\Plugin\Sales\OrderAddressAttributeLoad" sortOrder="10"/>
    </type>
    <type name="Magento\Quote\Api\Data\AddressInterface">
        <plugin name="eguana_gwlogistics_quote_address_extension_attr_load"
                type="Eguana\GWLogistics\Plugin\Quote\QuoteAddressAttributeLoad" sortOrder="10"/>
    </type>
    <!--extension attribute save/load-->
    <type name="Magento\Quote\Model\ShippingAddressManagementInterface">
        <plugin name="eguana_gwlogistics_quote_address_extension_attr_operation"
                type="Eguana\GWLogistics\Plugin\Quote\ShippingAddressManagementPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Api\OrderAddressRepositoryInterface">
        <plugin name="eguana_gwlogistics_order_address_extension_attr_operation"
                type="Eguana\GWLogistics\Plugin\Sales\OrderAddressRepositoryPlugin" sortOrder="10"/>
    </type>
        <!--if not working, try to use class-->
    <type name="Magento\Sales\Api\ShipmentRepositoryInterface">
        <plugin name="eguana_gwlogistics_save_allpaylogisticsid"
                type="Eguana\GWLogistics\Plugin\Sales\ShipmentRepositoryPlugin" sortOrder="10"/>
    </type>
    <!--workaround for field copy not working-->
    <type name="Magento\Quote\Model\Quote\Address\ToOrderAddress">
        <plugin name="eguana_gwlogistics_copy_cvs_location_field"
                type="Eguana\GWLogistics\Plugin\Quote\CopyCvsLocationFieldPlugin" sortOrder="10"/>
    </type>
</config>
