<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <instoresf>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>CJ\SFLocker\Model\Carrier\SFLocker</model>
                <name>SF Locker</name>
                <title>SF Locker Delivery</title>
                <price>0.00</price>
                <search_radius>200</search_radius>
                <specificerrmsg>SF Locker Delivery is not available. To use this delivery method, please contact us.</specificerrmsg>
            </instoresf>
        </carriers>
    </default>
</config>
