<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\CheckoutLayoutBuilder\Model\Config\CheckoutBlocksProvider">
        <plugin sortOrder="100" name="CJ_SFLocker::CheckoutBlocksProvider"
                type="CJ\SFLocker\Plugin\Model\Config\CheckoutBlocksProvider"/>
    </type>
    <type name="Amasty\CheckoutCore\Model\ConfigProvider">
        <plugin sortOrder="100" name="CJ_SFLocker::ConfigProvider"
                type="CJ\SFLocker\Plugin\Model\ConfigProvider"/>
    </type>
    <type name="Magento\InventoryApi\Api\SourceRepositoryInterface">
        <plugin name="load_store_type_on_get_list" type="CJ\SFLocker\Plugin\InventoryApi\SourceRepository\LoadStoreTypeOnGetListPlugin"/>
        <plugin name="load_store_type_on_get" type="CJ\SFLocker\Plugin\InventoryApi\SourceRepository\LoadStoreTypeOnGetPlugin"/>
        <plugin name="save_store_type_links" type="CJ\SFLocker\Plugin\InventoryApi\SourceRepository\SaveStoreTypePlugin"/>
    </type>
    <preference for="CJ\SFLocker\Api\GetPickupLocationsInterface" type="CJ\SFLocker\Model\GetPickupLocations" />
    <type name="Magento\Checkout\Api\GuestPaymentInformationManagementInterface">
        <plugin name="disable-guest-place-order" type="CJ\SFLocker\Plugin\Checkout\GuestPaymentInformationPlugin" sortOrder="1"/>
    </type>
    <type name="Amasty\CheckoutCore\Helper\Address">
        <plugin name="CJ\SFLocker\Plugin\Checkout\AmastyAddressPlugin" type="CJ\SFLocker\Plugin\Checkout\AmastyAddressPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\InventoryInStorePickupQuote\Model\IsPickupLocationShippingAddress">
        <plugin name="CJ\SFLocker\Plugin\Checkout\Model\PickupLocationShippingAddressPlugin" type="CJ\SFLocker\Plugin\Checkout\Model\PickupLocationShippingAddressPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\InventoryInStorePickup\Model\GetPickupLocation">
        <plugin name="cj_sflocker_change_get_pickup_location" type="CJ\SFLocker\Plugin\Model\GetPickupLocation" />
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="import_sflocker" xsi:type="object">CJ\SFLocker\Console\Command\SfLocker</item>
                <item name="import_sfstore" xsi:type="object">CJ\SFLocker\Console\Command\SfStore</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\InventoryInStorePickupShipping\Model\Carrier\Command\GetShippingPrice">
        <plugin sortOrder="100" name="CJ_SFLocker::getShippingPrice" type="CJ\SFLocker\Plugin\Model\Carrier\Command\GetShippingPrice"/>
    </type>
    <preference for="Magento\Checkout\CustomerData\DirectoryData" type="CJ\SFLocker\CustomerData\DirectoryData" />
    <type name="Magento\Checkout\Block\Checkout\DirectoryDataProcessor">
        <plugin sortOrder="100" name="CJ_SFLocker::changeDirectory" type="CJ\SFLocker\Plugin\Block\Checkout\DirectoryDataProcessor"/>
    </type>
    <type name="Magento\Quote\Model\ShippingAddressManagementInterface">
        <plugin name="CJ\SFLocker\Plugin\Quote\ShippingAddressManagementPlugin" type="CJ\SFLocker\Plugin\Quote\ShippingAddressManagementPlugin" sortOrder="30"/>
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="CJ\SFLocker\Plugin\Address\LayoutProcessor" type="CJ\SFLocker\Plugin\Address\LayoutProcessor" sortOrder="999"/>
    </type>
    <preference for="Magento\InventoryInStorePickupShippingApi\Model\Carrier\InStorePickup"
                type="CJ\SFLocker\Override\Magento\InventoryInStorePickupShippingApi\Model\Carrier\InStorePickup"/>
</config>
