<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="CJ_SFLocker" setup_version="1.0.0">
        <sequence>
            <module name="Amasty_CheckoutCore"/>
            <module name="Amazon_Payment"/>
            <module name="Magento_Checkout"/>
            <module name="Magento_ImportExport"/>
            <module name="CJ_VLogicOrder" />
            <module name="CJ_VLogicTablerate" />
        </sequence>
    </module>
</config>
