<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * Created by PhpStorm
 * User: Abbas
 * Date: 05/18/20
 * Time: 11:32 AM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customerregistraion" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">

            <class>separator-top</class>
            <label>Customer Registration</label>
            <tab>amore_extensions_tab</tab>
            <resource>Amore_CustomerRegistration::configuration</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1">
                <label>General Configuration</label>

                <field id="active" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" >
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="terms_cms_block_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Terms CMS Block Id</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="pos_alert_cms_block_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>POS Alert CMS Block Id</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="code_expiration_time_in_minutes" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1">
                    <label>Expiration time in minutes</label>
                    <comment>It's format is minutes:seconds. For example 1:00 for one minute zero seconds.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="minimum_mobile_number_digits" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1">
                    <label>Minimum Mobile Number Digits</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="maximum_mobile_number_digits" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1">
                    <label>Maximum Mobile Number Digits</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="membership_error_cms_page" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1">
                    <label>Membership Error CMS Page</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="duplicate_membership_cms_page" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1">
                    <label>Duplicate Membership CMS Page</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="newsletter_policy_cms_block" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1">
                    <label>Newsletter Policy CMS Block</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="call_policy_cms_block" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1">
                    <label>Call Policy CMS Block</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="sms_policy_cms_block" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1">
                    <label>SMS Policy CMS Block</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="dm_policy_cms_block" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1">
                    <label>DM Policy CMS Block</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="terms_and_services_policy_cms_block" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1">
                    <label>Terms and Services Policy CMS Block</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="sms_verification_enable" translate="label comment" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" >
                    <label>SMS Verification Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If disabled then verification code will be 1234 at registration</comment>
                </field>

            </group>

            <group id="pos" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1">
                <label>POS System</label>
                <depends>
                    <field id="customerregistraion/general/active">1</field>
                </depends>

                <field id="base_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Base URL</label>
                </field>

                <field id="member_info" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1">
                    <label>Member Information URI</label>
                    <comment>Member info URI. Complete URL = BASE URL + Member Information URI</comment>
                </field>

                <field id="member_join" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1">
                    <label>Memeber Join URI</label>
                    <comment>Member join URI. Complete URL = BASE URL + Memeber Join URI</comment>
                </field>

                <field id="sales_organization_code" translate="label" type="text" sortOrder="60" showInWebsite="1">
                    <label>Sales Organization Code</label>
                </field>

                <field id="sales_office_code" translate="label" type="text" sortOrder="70" showInWebsite="1">
                    <label>Sales Office Code</label>
                </field>

                <field id="partner_id" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1">
                    <label>Partner ID</label>
                </field>

                <field id="online_user_favorite_store" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1">
                    <label>Online User Favorite Store</label>
                </field>

                <field id="ssl_verification" translate="label comment" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" >
                    <label>SSL Verification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="debug" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" >
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
