<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: arslan
 * Date: 17/6/20
 * Time: 08:00 PM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Eguana_Faq::manage_faq" title="FAQ" translate="title" module="Eguana_Faq" sortOrder="10" parent="Eguana_Base::base" resource="Eguana_Faq::manage_faq" action="eguana_faq/faq/grid"/>
    </menu>
</config>
