<div class="shipping-address-item" css="'selected-item' : isSelected() , 'not-selected-item':!isSelected()" data-bind="visible: !checkIsVnWebsite()">
    <strong><text args="address().prefix"></text> <text args="address().lastname"></text>
        <text args="address().firstname"></text> <text args="address().telephone"></text>
    </strong><br/>
    <text args="address().postcode"></text>
    <span data-bind="text: $t(address().region)"></span>
    <!--
    <span translate="'Hong Kong'"></span>
    <span translate="'China'"></span>
    <span translate="'Macau'"></span>
    <span translate="'Macau'"></span>
    <span translate="'Kowloon'"></span>
    <span translate="'Hong Kong Island'"></span>
    <span translate="'New Territories'"></span>
    <span translate="'Macao'"></span>
    -->
    <text args="translate(address().city )"></text>
    <text args="_.values(address().street).join(', ')"></text><br/>

    <button visible="address().isEditable()" type="button"
            class="action edit-address-link"
            click="editAddress">
        <span translate="'Edit'"></span>
    </button>
    <!-- ko if: (!isSelected() && address().region != 'China' && allowSelectMacauAddress(address)) -->
        <!-- ko if: isPickupMethod() -->
            <button type="button" click="selectAddress" class="action action-select-shipping-item" disabled>
                <span translate="'Ship Here'"></span>
            </button>
        <!-- /ko -->
        <!-- ko if: !isPickupMethod() -->
            <button type="button" click="selectAddress" class="action action-select-shipping-item">
                <span translate="'Ship Here'"></span>
            </button>
        <!-- /ko -->
    <!-- /ko -->
</div>
