// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________


//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    #redeem-points-pager {
        text-align: center;

        .pages-items {
            text-align: center;
            .points-integration-pager {
                cursor: pointer;
            }
        }
    }
    #points-history-pager {
        text-align: center;

        .pages-items {
            text-align: center;
            .points-integration-pager {
                cursor: pointer;
            }
        }
    }
}
