// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________


//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    #redeem-points-pager {
        .pages-items {
            text-align: center;
            .redeem-pager {
                cursor: pointer;
                color:red;
            }
        }
    }
}
