<?xml version="1.0"?>
<!--
/*
 *  @author Eguana Commerce Brian
 *  @copyright Copyright 2020 (c) Eguana Commerce
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amore\Sap\Api\SapOrderManagementInterface" type="Amore\Sap\Model\SapOrder\SapOrderManagement"/>
    <preference for="Amore\Sap\Api\Data\SapOrderStatusInterface" type="Amore\Sap\Model\SapOrder\SapOrderStatus"/>
    <preference for="Amore\Sap\Api\SapProductManagementInterface" type="Amore\Sap\Model\SapProduct\SapProductManagement"/>
    <preference for="Amore\Sap\Api\Data\SapOrderConfirmInterface" type="Amore\Sap\Model\SapOrder\SapOrderConfirm"/>
    <preference for="Amore\Sap\Api\Data\SapInventoryStockInterface" type="Amore\Sap\Model\SapProduct\SapInventoryStock"/>
    <preference for="Amore\Sap\Api\Data\SapProductsDetailInterface" type="Amore\Sap\Model\SapProduct\SapProductsDetail"/>
    <preference for="Amore\Sap\Api\Data\SapProductsPriceInterface" type="Amore\Sap\Model\SapProduct\SapProductsPrice"/>
    <preference for="Amore\Sap\Api\Data\SyncStockResponseInterface" type="Amore\Sap\Model\SapProduct\SyncStockResponse"/>
    <preference for="Amore\Sap\Api\Data\SyncStockResponseStockDataInterface" type="Amore\Sap\Model\SapProduct\SyncStockResponseStockData"/>

    <preference for="Magento\Sales\Block\Adminhtml\Order\Creditmemo\View" type="Amore\Sap\Block\Adminhtml\Order\Creditmemo\CreditmemoSapResend"/>

    <type name="Amore\Sap\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Amore\Sap\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">sapLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Amore\Sap\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Order\CreditmemoRepository">
        <plugin sortOrder="1" name="amoreSapCreditmemoRepository" type="Amore\Sap\Plugin\Model\Order\CreditmemoRepositoryPlugin"/>
    </type>
    <type name="Magento\Rma\Model\Rma">
        <plugin sortOrder="2" name="amoreSapRma" type="Amore\Sap\Plugin\Model\RmaPlugin"/>
    </type>
    <preference for="Magento\Rma\Model\Rma\Create" type="Amore\Sap\Model\Rma\Create" />
    <preference for="Magento\Sales\Model\ResourceModel\Order\Handler\State"
                type="Amore\Sap\Model\ResourceModel\Order\Handler\CustomState" />
    <preference for="Magento\InventoryShipping\Observer\SourceDeductionProcessor"
                type="Amore\Sap\Observer\SourceDeductionProcessor" />
</config>
