<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <line_shopping>
            <general>
                <enable>0</enable>
                <enable_utm>0</enable_utm>
                <trial_period>30</trial_period>
                <cookie_lifetime>24</cookie_lifetime>
            </general>
            <cron>
                <export_full_product>0 6 * * *</export_full_product>
                <export_partial_product>0 * * * *</export_partial_product>
                <export_full_category>0 6 * * *</export_full_category>
                <order_post_back>*/5 * * * *</order_post_back>
                <fee_post_back>*/5 * * * *</fee_post_back>
            </cron>
            <customer_integration>
                <welcome_text>Welcome to the Brand, please click the URL to rest the Magento PW so you could activate your membership account.</welcome_text>
            </customer_integration>
        </line_shopping>
    </default>
</config>
