<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="line_shopping_order_data" instance="CJ\LineShopping\Observer\SaveLineShoppingDataToOrder" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="push_data_to_line" instance="CJ\LineShopping\Observer\PushDataToLine" />
    </event>
</config>
