<!--@vars {
"var customer":"Customer Name",
"var storeEvent":"Store and Event Title",
"var confirmLink":"Reservation Confirm Link",
"var cancelLink":"Reservation Cancel Link"
} @-->
{{trans "Dear"}} {{trans " %name," name=$customer}}
{{trans "Thank you for making an appointment to attend %store Healthy Fun Play Proposal!" store=$storeEvent}}
{{trans "We have received your purchase appointment. The counter staff of your chosen counter will contact you by phone within 3 days, so please pay attention to the mobile phone information!"}}
{{trans "Confrim: %confirm" confirm=$confirmLink}}
{{trans "Cancel: %cancel" cancel=$cancelLink}}
