<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Satp_GeoTarget::unique_identifier"
            title="Satp GeoTarget"
            translate="true"
            module="Satp_GeoTarget"
            sortOrder="100"
            parent="Magento_Backend::marketing_seo"
            action="satp_geotarget/index/index"
            resource="Magento_Config::config"
            dependsOnModule="Magento_Backend"/>
    </menu>
</config>
