& when (@media-common = true) {
    .wishlisticon:before {
        color: #cd7e3e !important;
        content: "\e915" !important;
    }
    .products-list .product-item .actions-secondary {
        display: inline-block !important;
    }

}
