@media(min-width: 768px) {
    .page-layout-1column {
        .product.media {
            margin: 0 auto;
        }
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .catalog-product-view {
        .fotorama__stage {
            left: 21% !important;
            top: -10px !important
        }
    }
}
@media(min-width: 1025px) {
    .page-layout-1column {
        .product.media {
            margin: 0 auto;
        }
    }

    .catalog-product-view {
        .fotorama__stage {
            left: 70px !important;
            top: -10px !important
        }
    }
}

.catalog-product-view {
    .product-info-wrapper{
        visibility:hidden;
    }
    .product-info-media {
        .fotorama__nav__frame {
            padding-right: 0 !important;
        }
    }
}