<?xml version="1.0"?>
<!--
/*
 *  @author Eguana Commerce Brian
 *  @copyright Copyright 2021 (c) Eguana Commerce
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="inventory_compensation" frontName="inventory_compensation">
            <module name="Eguana_InventoryCompensation"  before="Magento_Backend" />
        </route>
    </router>
</config>
