<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amcoupons">
            <group id="general">
                <field id="enable_multi_coupons" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1"
                       showInStore="0" canRestore="1">
                    <label>Enable Multi Coupons</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
