/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
*/

& when (@media-common = true) {
    .contact-index-index {
        .actions-toolbar {
            .action {
                &.primary {
                    &:extend(.abs-button-l all);
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .contact-index-index {
        .actions-toolbar {
            .action {
                &.primary {
                    width: 380px;
                }
            }
        }
    }
}

//  Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .contact-index-index {
        .column.main {
            padding-bottom: 0;
        }

        .actions-toolbar {
            margin-top: 100px;
            margin-left: -20px;
            margin-right: -20px;
        }
    }
}

