<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cj_custom_catalog>
            <custom_catalog>
                <limit>30</limit>
            </custom_catalog>
        </cj_custom_catalog>
        <catalog>
            <remove_special_character>
                <enabled>0</enabled>
            </remove_special_character>
        </catalog>
    </default>
</config>
