<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ipay88\Payment\Controller\Checkout\Redirect"
                type="CJ\CustomIpay88\Controller\Overridden\Checkout\Redirect"/>
</config>
