& when (@media-common = true) {
    .table-wrapper {
        tr[class=totals] {
            .title {
                &:after {
                    content: '' !important;
                }
            }
        }
    }
    .totals.discount {
        .title {
            &:after {
                content: '' !important;
            }
        }
    }
   .checkout-cart-index .sws-coupons-modal .modal-popup .modal-content {
       padding: unset;
   }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar-additional {
        padding-left: 2.5%;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .checkout-cart-index {
        .couponContainer {
            .actions-toolbar {
                min-height: 40px;
            }
        }
    }
}
