// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 8;

@checkout-step-title__border: @border-width__base solid @color-gray80;
@checkout-step-title__font-size: 26px;
@checkout-step-title__font-weight: @font-weight__light;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-block-title all);
        }

        .step-content {
            margin: 0 0 @indent__xl;

            .payment-method-content,
            .methods-shipping {
                > .actions-toolbar {
                    margin-top: @indent__l;
                }
            }
        }
    }
    #shipping-new-address-form {
        div[name="shippingAddress.firstname"],
        div[name="shippingAddress.lastname"],
        div[name="shippingAddress.company"] {
            display: none;
        }
        div[name="shippingAddress.street.1"] {
            display: block;
        }
    }
    .amcheckout-step-container {
        #shipping-new-address-form {
            div[name="shippingAddress.firstname"],
            div[name="shippingAddress.lastname"] {
                display: block;
            }
        }
    }

    .checkout-index-index {
        .field {
            .control._with-tooltip {
                input {
                    width: 100%;
                }
                .field-tooltip {
                    display: none;
                }
            }
        }

        &,
        [class^='multishipping-']:not(.multishipping-checkout-login):not(.multishipping-checkout-success) {
            .logo {
                z-index: 1;
            }
        }
        .modal-popup.confirm .modal-inner-wrap {
            max-width: 480px !important;
            text-align: center;
            .modal-title {
                border: 0;
                font-size: 18px;
                text-transform: capitalize;
                margin: 0;
                padding: 0;
            }
            .modal-footer {
                display: none;
            }
            .modal-content {
                padding: 0 20px 30px;
                font-size: 16px;
                color: #767676;
            }
        }
    }

    .checkout-onepage-success {
        .page-wrapper {
            overflow-x: hidden;
        }
        &:extend(.abs-add-clearfix all);

        .print {
            display: none;
        }

        .page-title-wrapper {
            text-align: center;
        }

        .checkout-success {
            text-align: center;

            .order-number {
                .lib-link(
                    @_link-color: @active__color,
                    @_link-text-decoration: none,
                    @_link-color-visited: @active__color,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @theme__color__primary-alt,
                    @_link-text-decoration-hover: underline,
                    @_link-color-active: @theme__color__primary-alt,
                    @_link-text-decoration-active: underline
                );
            }

            &,
            & + #registration {
                max-width: @account-form-width;
                margin: auto;
                padding: 15px 0 @indent__xl;

                form,
                .actions-toolbar {
                    margin-top: @indent__l;
                    .lib-actions-toolbar-clear-floats();
                }

                .primary {
                    &.action,
                    .action {
                        &:extend(.abs-button-l all);
                        width: 100%;
                        margin: @indent__l 0 0;
                    }
                }
            }

            & + #registration {
                border-top: 1px solid @border-color__base;
                text-align: center;
            }
        }
    }

    .checkout-onepage-success {
        .page-title-wrapper {
            margin: 120px 0 0;
            .page-title {
                margin-bottom: 32px;
            }
        }
        .checkout-success {
            padding: 0;
            max-width: 920px;
            .actions-toolbar {
                margin: 48px 0 0;
                .action {
                    display: inline-block;
                    vertical-align: middle;
                    height: 40px;
                    line-height: 40px;
                    font-size: 16px;
                    max-width: 160px;
                    padding: 0;
                    margin: 0 5px;
                }
            }
        }
        .page-main {
            padding-bottom: 0;
        }
        .column.main {
            padding: 0;
        }
    }
    .customer_favories .block-product-recommendations {
        border: 0;
        padding: 0;
        .block-title {
            margin: 0;
        }
        .progress {
            display: none;
        }
    }
    .checkout-success {
        h3 {
            font-size: 16px;
            line-height: 27px;
            font-weight: 700;
            border-bottom: 1px solid @light__gray__color;
            padding-bottom: 21px;
        }
        .order-info {
            display: block;
            border-bottom: 1px solid @light__gray__color;
            padding: 40px 0;
            li {
                display: flex;
                align-items: center;
                margin: 0 0 16px;
                &:last-child {
                    margin: 0;
                }
                &.shipping-method {
                    span.label {
                        position: relative;
                        top: -27px;
                    }
                    span.address {
                        strong {
                            font-weight: 500;
                        }
                    }
                }
                &.payment-method {
                    span.label {
                        position: relative;
                        top: -15px;
                    }
                }
                .label {
                    width: 50%;
                    text-align: left;
                    color: @black__color;
                    font-size: 16px;
                    line-height: 27px;
                    padding-left: 163px;
                    font-weight: 500;
                }
                .value {
                    width: 50%;
                    text-align: left;
                    padding-left: 40px;
                    font-size: 16px;
                    line-height: 27px;
                    color: @black__color;
                    font-weight: 500;
                    .price {
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .checkout-onepage-failure {
        .page-title-wrapper {
            text-align: center;
            margin: 120px 0 0;
            .page-title {
                margin-bottom: 16px;
            }
        }
        .text_info {
            max-width: 240px;
            text-align: center;
            font-size: 16px;
            line-height: 24px;
            margin: 0 auto;
            font-weight: 500;
        }
        .action.try_again {
            text-align: center;
            margin: 32px 0 0;
        }
        .page-main {
            padding-bottom: 0;
            .column.main {
                padding-bottom: 0;
            }
        }
    }
    .service_center {
        margin: 50px auto 0;
        max-width: 920px;
        text-align: center;
        padding: 40px;
        border-top: 1px solid @light__gray__color;
        border-bottom: 1px solid @light__gray__color;
        .title {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 24px;
            margin: 0 0 16px;
        }
        > p {
            text-transform: uppercase;
            font-size: 16px;
            line-height: 21px;
            margin: 8px 0 0;
            font-weight: 500;
            .btn_inquiry {
                color: #2196f3;
                text-decoration: underline;
                font-weight: 500;
            }
        }
    }
    .checkout-message {
        border: 1px solid #eee;
        padding: 30px;
        [data-content-type="row"][data-appearance="contained"] {
            padding: 0;
        }
        .checkout_warning_msg p {
            text-align: left;
        }
        .checkout_warning_msg {
            padding-bottom: 0 !important;
        }
    }
    #home-delivery-co-shipping-form .field.street .field.additional {
        display: block;
    }
    .select-address-menu {
        margin-top: 10px;
        .rdo-set {
            display: inline-block;
            margin-right: 25px;
        }
    }
    .amcheckout-step-container .checkout-payment-method .amcheckout-payment-methods #cashondelivery-payment.payment-method._active .payment-method-content > * > * {
        margin: 0;
    }

}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .checkout-onepage-success, .checkout-index-index, .checkout-onepage-failure {
        .breadcrumbs {
            display: none;
        }
    }

    .checkout-onepage-success {
        .page-title-wrapper {
            margin: 34px 0 0;

            .page-title {
                margin-bottom: 42px;
                font-size: 21px;
                line-height: 20px;
                font-weight: 700;
                text-transform: capitalize;
            }
        }

        .checkout-success {
            > h4 {
                font-size: 13px;
                line-height: 19.5px;
                font-weight: 700;
                margin-bottom: 16px;
            }

            .order-info {
                padding: 14px 0;
                border-top: 1px solid #ddd;

                li {
                    align-items: flex-start;

                    .label {
                        width: 35%;
                        padding-left: 0;
                        font-size: 13px;
                        color: #666;
                        line-height: 19.5px;
                    }

                    .value {
                        width: 65%;
                        padding-left: 14px;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 19px;
                        color: #000;

                        .price {
                            font-size: 13px;
                            line-height: 19px;
                        }
                    }

                    &.shipping-method span.label {
                        top: 0;
                    }

                    &.payment-method span.label {
                        top: 0;
                    }
                }
            }

            .actions-toolbar {
                margin: 40px 0 0;

                .primary {
                    display: flex;
                    justify-content: space-between;

                    .action {
                        max-width: unset;
                        margin: 0;
                        width: ~'calc(50% - 6px)';
                        border: 1px solid #ddd;

                        &.continue {
                            border: 1px solid #333;
                        }
                    }
                }
            }
        }

        .customer_favories {
            margin-top: 70px;
            padding: 26px 0;
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        padding-right: @indent__l;

        .step-content {
            .payment-method-content,
            .methods-shipping {
                > .actions-toolbar {
                    max-width: 300px;
                    margin-left: auto;

                    > .primary {
                        width: 100%;

                        .action {
                            &.primary {
                                width: 100%;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }


    .checkout-onepage-success {
        .print {
            display: block;
            float: right;
            margin: 22px 0 0;
        }
    }
}
