<div id="cvs-pickup-address"
     class="cvs-pickup-address"
     data-role="cvs-pickup-address"
     aria-hidden="true">
    <div class="fieldset"
         data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
        <div class="actions">
            <div class="secondary">
                <a class="action action-open-fami-map" data-bind="click: openFamiMap">
                    <span data-bind="i18n: 'Family Mart'"></span>
                </a>
                <a class="action" data-bind="click: openUnimartMap">
                    <span data-bind="i18n: '7 Eleven'"></span>
                </a>
            </div>
        </div>
        <div class="field required">
            <label class="label" for="CVSStoreName">
                <span data-bind="i18n: 'CVS Store Name'"></span>
            </label>
            <div class="control">
                <input readonly type="text"
                       name="CVSStoreName"
                       id="CVSStoreName"
                       class="input-text required"
                       data-validate="{required:true}"
                       data-bind="value: selectedLocation().CVSStoreName, attr: {placeholder: $t('CVS Store Name')}" />
            </div>
        </div>
        <div class="field required">
            <label class="label" for="CVSAddress">
                <span data-bind="i18n: 'CVS Store Address'"></span>
            </label>
            <div class="control">
                <input readonly type="text"
                       name="CVSAddress"
                       id="CVSAddress"
                       class="input-text required"
                       data-validate="{required:true}"
                       data-bind="value: selectedLocation().CVSAddress, attr: {placeholder: $t('CVS Store Address')}" />
            </div>
        </div>
        <div class="field required">
            <label for="lastname" class="label">
                <span data-bind="i18n: 'Last Name'"></span>
            </label>
            <div class="control">
                <input type="text"
                       id="lastname"
                       name="lastname"
                       class="input-text required"
                       data-validate="{required:true, 'validate-cvs-address-lastname':true}"
                       data-bind="value: lastname, attr: {placeholder: $t('Please enter it.')}" />
            </div>
        </div>
        <div class="field required">
            <label for="firstname" class="label">
                <span data-bind="i18n: 'First Name'"></span>
            </label>
            <div class="control">
                <input type="text"
                       id="firstname"
                       name="firstname"
                       class="input-text required"
                       data-validate="{required:true, 'validate-cvs-address-firstname':true}"
                       data-bind="value: firstname, attr: {placeholder: $t('Please enter it.')}" />
            </div>
        </div>
        <div class="field required">
            <label for="mobile-number" class="label">
                <span data-bind="i18n: 'Mobile Number'"></span>
            </label>
            <div class="control">
                <input type="text"
                       id="mobile-number"
                       name="mobile_number"
                       class="input-text"
                       value=""
                       data-validate="{required:true, 'validate-cvs-address-mobile-number':true}"
                       data-bind="value: mobileNumber, attr: {placeholder: $t('Mobile Number')}" />
            </div>
        </div>
    </div>
</div>




