<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cj_cookie_popup>
            <general>
                <active>0</active>
                <cookie_lifetime>24</cookie_lifetime>
            </general>
        </cj_cookie_popup>
    </default>
</config>
