// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Product -- Full Width
//  _____________________________________________

& when (@media-common = true) {
    .product-full-width-section {
        padding: .5em 0;

        .block.review-add {
            margin-top: 2.7rem;
        }
    }

    .page-main-details .product-section-title {
        border-bottom: 1px solid @color-gray-middle2;
        margin-bottom: 15px;
        padding-bottom: 12px;
    }

    .additional-attributes-wrapper .additional-attributes {
        border: none;
        width: auto;

        > tbody > tr {
            > th {
                border: none;
                padding: 5.5px 30px 10px 0;
            }
            > td {
                border: none;
                padding: 5.5px 5px 10px;
            }
        }
    }
    .product-item-info:hover .product-hover-image {
        opacity: 1;
    }

    .cms-index-index.page-layout-cms-full-width .nav-sections {
        margin-bottom: 0;
    }

    .half-background-image {
        background-position: 50% 0 !important;
        background-size: 100% 50% !important;
    }

    .main-category-banner,
    .main-promotion-banner {
        .pagebuilder-column-group {
            flex-wrap: nowrap;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .main-category-banner,
    .main-promotion-banner {
        margin-bottom: 0 !important;
    }

    .main-promotion-banner {
        p {
            &:first-child {
                min-height: 48px;
            }
        }
    }
}
