<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\AttributeMerger">
        <plugin name="eguana_customcheckout_custom_sortorder"
                type="Eguana\CustomCheckout\Plugin\CustomAddressSortOrder" sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Block\Cart">
        <plugin name="Eguana_CustomCheckout::Checkout_Cart" type="Eguana\CustomCheckout\Plugin\Checkout\Block\Cart" />
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="Eguana_CustomCheckout::Checkout_Summary" type="\Eguana\CustomCheckout\Plugin\Model\DefaultConfigProvider" />
    </type>
    <preference for="\Magento\Checkout\CustomerData\DefaultItem" type="\Eguana\CustomCheckout\Rewrite\Checkout\CustomerData\DefaultItem" />
</config>
