<?xml version="1.0" encoding="utf-8" ?>
<!--/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2021 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: arslan
 * Date: 5/11/21
 * Time: 2:58 PM
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_add_product_complete">
        <observer name="eguana_go_to_checkout" instance="Eguana\CustomCheckout\Observer\GoToCheckout" />
    </event>
</config>
