<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <label>Catalog</label>
            <tab>catalog</tab>
            <resource>Magento_Catalog::config_catalog</resource>
            <group id="best_seller_products" translate="label" type="text" sortOrder="355" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Catalog Product Custom Config</label>
                <field id="limit_products" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Limit Products</label>
                    <validate>required-entry validate-number validate-zero-or-greater</validate>
                </field>
                <field id="use_product_sale" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Use Product Sale</label>
                    <source_model>CJ\CatalogProduct\Model\Source\Config\ProductSalesSource</source_model>
                </field>
                <field id="allow_stores" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Allow Stores</label>
                    <source_model>CJ\CatalogProduct\Model\Source\Config\Stores</source_model>
                    <comment>Choose store to update product ranking</comment>
                </field>
                <field id="enable_sort_best_sellers" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Sort Best Bellers PLP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_filter_on_sale" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Filter Product On Sale</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="bundle_product" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Bundle Product Configuration</label>
                <field id="allow_quick_buy_bundle_product" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow Quick Buy Bundle Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
