// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________
@store__list__gray-color: #787878;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .stw-stores-locator {
    .mobile {
      display: none;
    }

    .store-badge {
      .lib-font-size(12);
      color: @color-white;
      display: none;
      padding: 1px 14px;
      margin-right: 2px;
      text-align: center;
      vertical-align: middle;

      &.store-badge-FS {
        background-color: #4477be;
      }

      &.store-badge-RS {
        background-color: #D63B60;
      }
    }

    form {
      .store-search {
        margin-bottom: 0;
        width: 100%;
        position: relative;
        .label {
          &:extend(.abs-visually-hidden all);
        }

        .control {
          display: inline-block;
          width: 100%!important;
          float: none !important;
          max-width: 350px;

          input {
            height: @indent__xl !important;
            padding: 0 50px 0 0;
            width: 100%;
            max-width: 350px;
            border: none;
            border-bottom: 2px solid #000;
            &::-moz-placeholder {
              color: #666;
            }
            &::-webkit-input-placeholder {
              color: #666;
            }
            &:-ms-input-placeholder {
              color: #666;
            }
            &:focus {
              border: none;
              border-bottom: 2px solid #000;
            }
          }
        }
      }

      .store-fields {
        margin-bottom: 20px;
      }

      .stores-result {
        display: none;
      }
    }

    .fieldset {
      .field {
        &.store-type {
          display: none;
        }

        &.note {
          display: none;
        }
      }

      .actions {
        display: inline-block;
        vertical-align: top;
      }
    }

    .fieldset {
      .field {
        .actions {
          &.search-btn-action {
            display: inline-block;
          }

          .button {
            position: absolute;
            right: 30px;
            top: 7px;
            width: 24px;
            height: 24px;
            background-color: #fff;
            border: none;
            span {
              display: none;
            }
            &:before {
              content: "\e80f";
              font-size: 20px;
              color: #222;
              margin-top: 0;
              font-family: fontello;
              font-style: normal;
              font-weight: 400;
              width: 24px;
              height: 24px;
              text-align: center;
              line-height: 1em;
              position: absolute;
              top: 3px;
              right: -1px;
            }
          }
        }

        &.store-type {
          box-sizing: border-box;
          width: 24%;
        }
      }
    }

    .stores-result {
      h3 {
        .lib-font-size(16);
        line-height: 36px;
        margin: 0;
        color: @store__list__gray-color;

        &.mobile {
          display: none;
        }

        strong {
          color: @theme__color__primary-alt;
        }
      }
    }

    .stores-content {
      .stores-map {
        box-sizing: border-box;
        position: relative;
      }

      &.active {
        bottom: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;

        .store-map-viewer {
          height: 100%;
        }
      }
    }

    .store-map-viewer {
      box-sizing: border-box;
      width: 100%;
      height: 900px;

      .gm-style .gm-style-iw-c {
        border-radius: 0;
        padding: 0;
      }

      .gm-ui-hover-effect {
        height: auto !important;
        right: 0!important;
        top: 0 !important;
        width: auto !important;

        img {
          height: @indent__m !important;
          width: @indent__m !important;
        }
      }
    }

    .description {
      padding: @indent__m @indent__l @indent__xs;

      h3 {
        .lib-font-size(16);
        margin: 0 0 @indent__s 0;
      }

      h3, p {
        color: #5f5f5f;
      }

      strong {
        display: block;
        font-size: 16px;
        margin-top: @indent__xs;
      }
    }

    .stores-list {
      > p {
        color: @store__list__gray-color;
        padding-top: 16px;
      }

      .stores-listing-ul {
        padding-right: 0!important;
        width: 100%;
        max-width: 380px;
        margin-left: 0!important;
        max-height: 588px;
        li.store-list {
          max-width: 350px;
          border-bottom: 1px solid #ddd;

          .store-title {
            .lib-font-size(16);
            color: @color-black;
            display: inline-block;
            line-height: 24px;
            letter-spacing: 0.4px;
            padding-bottom: 2px;
          }

          .store-primary-info > p,
          .store-secondary-info > p {
            .lib-font-size(16);
            color: @secondary__color;
            margin-bottom: @indent__xs;
          }

          .store-primary-info > p {
            margin-bottom: @indent__xs;
          }

          .store-secondary-info > p {
            margin-bottom: 0;
          }

          .store-info {
            padding: 16px 0;

            .store-info-top {
              margin-bottom: 8px;

              .accordion-icon {
                display: none;
              }

              .store-sequence-number {
                .lib-font-size(12);
                background-color: @theme__color__primary;
                color: @color-white;
                display: inline-block;
                margin: 0 @indent__xs 0 0;
                padding: 3.5px 0;
                text-align: center;
                width: 24px;
              }
            }
          }
        }
      }
    }

    .store-list {
      border: none;
      cursor: pointer;
      margin-bottom: 0;

      .inner-store {
        display: none;
      }
    }

    .store-locator-bottom-block {
      display: block;
      width: 100%;

      .store-locator-cms-block {
        background: #f7f7f7;
        display: inline-block;
        padding: 30px 0px;
        width: 100%;

        .inner-cms-block {
          width: 100%;

          ul.cms-link-list {
            margin: 0 0;
            padding: 0 0;

            li {
              list-style: none;
              display: inline-block;
              font-size: 18px;
              height: 40px;
              max-width: 18%;
              padding: 0px 40px 0px 25px;
              width: 100%;
              position: relative;
              margin: 0;
              vertical-align: middle;

              .txtwrap {
                position: relative;
                line-height: 34px;

                a {
                  display: inline-block;
                  width: 100%;
                  vertical-align: middle;

                  .txttable {
                    display: inline-block;
                    vertical-align: middle;
                    text-transform: uppercase;

                    p {
                      font-size: 14px;
                    }

                  }

                  img {
                    vertical-align: middle;
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: 0;
                  }
                }
              }
            }

            li:after {
              content: "/";
              color: #999999;
              display: inline-block;
              position: absolute;
              top: -12px;
              right: 0;
              font-size: 40px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}

//
//  Mobile
//  _____________________________________________

@media (max-width: 991px) {
  .stw-stores-locator {
    margin-left: -@layout__width-xs-indent;
    margin-right: -@layout__width-xs-indent;

    .page-title-wrapper {
      text-align: center;
    }

    .store_list_left {
      > *:not(.stores-list) {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
      }

      .search-btn-action .search-btn {
        &:before {
          line-height: 38px;
        }
      }

      .stores-list {
        h3.mobile {
          display: none;
        }

        > p {
          padding-left: @layout__width-xs-indent;
          padding-right: @layout__width-xs-indent;
        }

        .stores-listing-ul {
          &.items {
            height: 100% !important;
            margin-bottom: 40px;
            max-height: 100%;
          }

          li.store-list {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;

            &.current-li {
              border-bottom-color: @primary__color__darker;

              .store-info {
                .lib-icon-font-symbol(
                  @_icon-font-content: @icon-up,
                  @_icon-font-position: after
                );
              }

              .inner-store {
                display: block;
              }
            }

            &:not(.selected-store) .inner-store {
              display: none !important;
            }

            .store-info {
              position: relative;

              .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 18px,
                @_icon-font-line-height: 24px,
                @_icon-font-color: @primary__color__lighter,
                @_icon-font-position: after,
                @_icon-font-display: block
              );

              &:after {
                position: absolute;
                right: 0;
                top: 16px;
              }

              .accordion-icon {
                display: block;
                position: absolute;
                top: 14px;
                right: 13px;
                font-size: 24px;
                opacity: 0;
                color: #000;
              }
            }

            .inner-store {
              .stores-content {
                &.store_map_right {
                  width: 100%;
                  max-height: 100%;
                  margin: 0 auto;

                  .store-map-viewer {
                    height: 108.333vw;
                    max-height: 600px;
                    width: 100%;
                  }
                }
              }

              .stores-map {
                margin-bottom: @indent__base;
              }
            }
          }
        }
      }
    }

    .stores-result {
      h3 {
        .pc {
          display: none;
        }

        .mobile {
          margin-bottom: 5px;
        }

      }
    }

    .desktop-map_container {
      //display: none;
      visibility: hidden;
      .stores-content {
        &.store_map_right {
          width: 100%;
          max-height: 100%;
          margin: 0 auto;

          .store-map-viewer {
            height: 100%;
            max-height: none;
            width: 100%;
          }
        }
      }
    }

    .store-locator-bottom-block {
      display: block;
      width: 100%;

      .store-locator-cms-block {
        background: #f7f7f7;
        display: inline-block;
        padding: 20px 0px;
        width: 100%;

        .inner-cms-block {
          width: 100%;

          ul.cms-link-list {
            margin: 0 0;
            padding: 0 30px;

            li {
              font-size: 14px;
              height: 30px;
              max-width: 40%;
              padding: 0px 25px 0px 0px;

              &:first-child, &:nth-child(2) {
                margin-bottom: 5px;
              }

              .txtwrap {
                position: relative;
                line-height: 30px;

                a {
                  display: inline-block;
                  width: 100%;
                  vertical-align: middle;

                  .txttable {
                    display: inline-block;
                    vertical-align: middle;
                    text-transform: uppercase;

                    p {
                      font-size: 12px;
                    }

                  }

                  img {
                    max-width: 20px;
                  }
                }
              }
            }

            li:after {
              top: -6px;
              right: 5px;
              font-size: 26px;
            }
          }
        }
      }
    }

  }
}

//
//  Desktop
//  _____________________________________________

@media (min-width: 992px) {
  .main-store-block {
    .lib-vendor-prefix-display(flex);
  }

  .stw-stores-locator {
    &.mian-content {
      display: inline-block;
      width: 100%;
    }

    .mobile {
      display: none;
    }

    .store_list_left {
      box-sizing: border-box;
      padding-right: @indent__base;
      width: 34%;
      .store-list {
        width: 100%;
        overflow: initial;
        height: auto;
        padding-right: 0;
      }
    }

    .desktop-map_container {
      width: 64%;
    }

    form {
      .store-form-inner-div {
        padding-right: 40px;
        width: 100%;
      }

    }

    .fieldset {
      .field {
        &.store-type {
          display: none;
        }

        &.note {
          display: none;
        }
      }

      .actions {
        display: inline-block;
        vertical-align: top;
      }
    }

    .fieldset {
      .field {
        &.store-type {
          box-sizing: border-box;
          width: 24%;
        }
      }
    }

    .stores-result {
      h3 {
        &.mobile {
          display: none;
        }
      }
    }

    .stores-content {
      .stores-map {
        box-sizing: border-box;
        position: relative;
      }

      &.active {
        bottom: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;

        .store-map-viewer {
          height: 100%;
        }
      }
    }

    .store-map-viewer {
      box-sizing: border-box;
      width: 100%;
      height: 900px;
      max-height: 700px;
    }

    .description {
      strong {
        display: block;
        font-size: 16px;
        margin-top: @indent__xs;
      }
    }

    .stores-list {
      .stores-listing-ul {
        height: 772px !important;

        li.store-list {
          border-bottom: 1px solid #ddd;

          .store-info {
            position: relative;

            .store-info-top {
              .accordion-icon {
                display: none;
              }
            }

            .store-secondary-info {
              display: none;
            }
          }

          &:focus,
          &:hover,
          &.selected-store {
            border-bottom-color: @primary__color__darker;
          }

          .inner-store {
            display: none !important;
          }
        }
      }
    }

    .store-list {
      border: none;
      cursor: pointer;
      margin-bottom: 0;
    }

    .store-locator-bottom-block {
      display: block;
      width: 100%;

      .store-locator-cms-block {
        background: #f7f7f7;
        display: inline-block;
        padding: 30px 0;
        width: 100%;

        .inner-cms-block {
          width: 100%;

          ul.cms-link-list {
            margin: 0;
            padding: 0;

            li {
              list-style: none;
              display: inline-block;
              font-size: 18px;
              height: 40px;
              max-width: 18%;
              padding: 0px 32px 0px 22px;
              width: 100%;
              position: relative;
              margin: 0;
              vertical-align: middle;

              .txtwrap {
                position: relative;
                line-height: 34px;

                a {
                  display: inline-block;
                  width: 100%;
                  vertical-align: middle;

                  .txttable {
                    display: inline-block;
                    vertical-align: middle;
                    text-transform: uppercase;

                    p {
                      font-size: 14px;
                    }

                  }

                  img {
                    vertical-align: middle;
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: 0;
                  }
                }
              }
            }

            li:after {
              content: "/";
              color: #999999;
              display: inline-block;
              position: absolute;
              top: -12px;
              right: 0;
              font-size: 40px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}


.stores {
  .main-store-block {
    .store_list_left {
      width: 28%;
      max-width: 380px;
      padding-right: 0px;
      .stores-list {
        padding-top: 33px;
        padding-right: 5px;
        .stores-listing-ul {
          padding-right: 21px;
          li.store-list {
            margin-bottom: 24px;
            .store-title {
              font-size: 18px;
              color: #959595;
              font-weight: 500;
            }
            p {
              font-size: 16px;
              color: #959595;
            }
          }
          li.store-list.selected-store {
            .store-title {
              font-size: 18px;
              font-weight: 500;
              color: #222;
            }
            p {
              font-size: 16px;
              color: #222;
            }
          }
          .store-info {
            padding-bottom: 24px;
            padding-top: 0px;
          }
          &::-webkit-scrollbar {
            width: 4px;
          }
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }
          &::-webkit-scrollbar-thumb {
            background: #959595;
            &:hover {
              background: rgb(110, 110, 110);
            }
          }
        }
      }
    }
    .desktop-map_container {
      width: 72%;
      padding-left: 20px;
      max-width: 980px;
      max-height: 700px;
    }
  }
}
