<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\Coupons\Observer\UpdateCouponUsage" type="CJ\Coupons\Observer\UpdateCouponUsage"/>
    <type name="Magento\Quote\Api\CouponManagementInterface">
        <plugin name="Amasty_Coupons::CouponManagement" disabled="true" />
        <plugin name="CJ_Coupons::CouponManagement" type="CJ\Coupons\Plugin\CustomCouponManagement"/>
    </type>
    <type name="Amasty\Coupons\Model\CouponRenderer">
        <plugin name="CJ_Coupon::couponRenderer" type="CJ\Coupons\Plugin\CustomCouponRenderer"/>
    </type>
    <type name="Magento\SalesRule\Model\Rule\Condition\Address">
        <plugin name="addGrandTotalType" type="CJ\Coupons\Plugin\CustomCondition\AddGrandTotal"/>
    </type>
    <type name="Magento\AdvancedSalesRule\Model\Rule\Condition\Address">
        <plugin name="customSubtotalWithDiscount" type="CJ\Coupons\Plugin\SalesRule\CustomValidateSubtotalWithDiscount"/>
    </type>
    <type name="CJ\Coupons\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="CJ\Coupons\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">couponLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">CJ\Coupons\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
