<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="salesrule_validator_process">
        <observer name="Amasty_Coupons::CouponObserver" disabled="true" />
        <observer name="CJ_Coupons::CouponObserver" instance="CJ\Coupons\Observer\CouponObserver" />
    </event>
    <event name="sales_quote_address_collect_totals_before">
        <observer name="Amasty_Coupons::FlushCouponObserver" instance="Amasty\Coupons\Observer\FlushCouponObserver" />
    </event>
</config>
