@charset "UTF-8";.slick-slider{position:relative;display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:0}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}
.slick-track:after,.slick-track:before{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir=rtl] .slick-slide{float:right}
.slick-initialized .slick-slide,.slick-slide img,.visible--mob{display:block}
.slick-arrow.slick-hidden,.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.sulwhainside{font-family:Theinhardt,"Microsoft jhengHei","Microsoft YaHei New","Microsoft Yahei",Arial,Helvetica,sans-serif;-webkit-text-size-adjust:none;font-size:75%;line-height:1;color:#222;font-weight:400;word-break:break-all;word-break:break-word;word-wrap:break-word;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;overflow:hidden;word-break:keep-all}
@media all and (min-width:360px){
    .sulwhainside{font-size:12px}
}
@media all and (min-width:412px){
    .sulwhainside{font-size:13px}
}
.visible--pc{display:none}
.slick-slide .visible--mob{display:block}
.slick-slide .visible--pc{display:none}
.slick-default__wrapper{position:relative;overflow:hidden}
.slick-default__wrapper>.slick-default__list{margin-bottom:0}
.slick-default__list>.slick-list{-webkit-transform:none!important;-ms-transform:none!important;transform:none!important}
.slick-default__arrows{position:absolute;display:none;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);width:68px;height:68px;background-color:rgba(255,255,255,.2);z-index:1;font-size:0}
.slick-default__arrows::before{content:"";display:inline-block;width:0;height:100%;vertical-align:middle}
.slick-default__arrows-img{vertical-align:middle;width:9px}
.slick-default__arrows--prev{left:0}
.slick-default__arrows--next{right:0}
.slick-default__dots{position:absolute;width:100%;left:0;bottom:0;font-size:0;text-align:center}
.slick-default__dots>li{display:inline-block;width:17px;margin:0;height:2px;border-bottom:1px solid #ddd}
.slick-default__dots>li.slick-active{border-color:#222;border-width:2px}
.sulwhainside-banner__wrapper{min-width:320px;position:relative;max-width:768px;margin:0 auto;padding-bottom:1px}
.sulwhainside-banner__item{padding:19.6666666667px 12.3333333333px 34px}
@media all and (min-width:1024px){
    .visible--mob{display:none}
    .visible--pc{display:block}
    .slick-slide .visible--mob{display:none}
    .slick-slide .visible--pc{display:block}
    .slick-default__dots>li{width:143px;height:4px;border-width:2px}
    .slick-default__dots>li.slick-active{border-width:4px}
    .sulwhainside-banner__wrapper{max-width:1600px;padding-bottom:0}
    .sulwhainside-banner__item{max-width:1037px;margin:0 auto;padding:28px 21px 112px;text-align:center}
}
.sulwhainside-banner__item--ginsenomics{padding:20px 11.3333333333px 52.6666666667px 12.3333333333px}
.sulwhainside-banner__title{font-family:Theinhardt,"Microsoft jhengHei","Microsoft YaHei New","Microsoft Yahei",Arial,Helvetica,sans-serif;font-weight:500;font-size:2rem;font-size:2em;color:#222;letter-spacing:.132em}
@media all and (min-width:1024px){
    .sulwhainside-banner__item--ginsenomics{padding:30px 31px 111px;max-width:none;text-align:left}
    .sulwhainside-banner__title{font-size:40px;letter-spacing:.12em}
}
.sulwhainside-banner__title--ginsenomics{font-size:1.3rem;font-size:1.3em;letter-spacing:0}
.sulwhainside-banner__content{font-size:1.1rem;font-size:1.1em;color:#888;margin-top:13px;line-height:1.46;padding-right:0}
@media all and (min-width:1024px){
    .sulwhainside-banner__title--ginsenomics{font-size:30px;letter-spacing:.02em}
    .sulwhainside-banner__content{font-size:20px;margin-top:23px;padding-right:0;line-height:1.55}
}
.sulwhainside-banner__content--ginsenomics{word-break:keep-all;margin-top:5px}
@media all and (min-width:1024px){
    .sulwhainside-banner__content--ginsenomics{margin-top:4px;margin-left:0;padding-right:0;line-height:1.6}
    .sulwhainside-banner__content--second{margin-top:25px}
}
.sulwhainside-banner__content--second{padding:0;margin-top:8.6666666667px}
.sulwhainside-banner__content--none{display:none}
.sulwhainside-banner__btn{font-size:0;margin-top:7px}
.sulwhainside-banner__btn-img{display:inline-block;vertical-align:middle;width:20px}
.sulwhainside-banner__btn-text{display:inline-block;vertical-align:middle;font-size:1.2rem;font-size:1.2em;color:#222;font-weight:500;margin-left:6px}
.sulwhainside-banner__btn--none{display:none}
.sulwhainside__img{padding-bottom:49px}
.science-bottom__wrapper,.story-ginseng,.sulwhainside__img-wrapper{min-width:320px;position:relative;max-width:768px;margin:0 auto;padding-left:15px;padding-right:15px}
@media all and (min-width:1024px){
    .sulwhainside-banner__content--second{margin:23px 0 0}
    .sulwhainside-banner__content--none{display:block}
    .sulwhainside__img-wrapper{max-width:1600px;padding-left:36px;max-width:768px;margin:0 auto;padding-left:31px;padding-right:17px}
    .sulwhainside__img-pc{max-width:1037px;margin:0 auto;padding-bottom:69px}
}
.science-top__wrapper{min-width:320px;position:relative;max-width:768px;margin:0 auto;padding-left:15px;padding-right:15px;padding-bottom:42px}
@media all and (min-width:1024px){
    .science-top__wrapper{max-width:1600px;padding-left:36px;max-width:768px;margin:0 auto;padding-left:31px;padding-right:17px;padding-bottom:109px}
    .science-top__contents{max-width:1036px;width:100%;margin:0 auto}
}
.science-top__head{font-size:2rem;font-size:2em;color:#222;padding-bottom:14px;padding-left:12.3333333333px;letter-spacing:.13em;font-family:Theinhardt,"Microsoft jhengHei","Microsoft YaHei New","Microsoft Yahei",Arial,Helvetica,sans-serif;font-weight:500}
.science-top__title{padding-left:12.3333333333px;font-size:1.3rem;font-size:1.3em;color:#222;padding-top:19px;font-family:Theinhardt,"Microsoft jhengHei","Microsoft YaHei New","Microsoft Yahei",Arial,Helvetica,sans-serif;font-weight:500}
.science-top__content{padding-left:12.3333333333px;padding-right:12.3333333333px;font-size:1.1rem;font-size:1.1em;color:#888;line-height:1.455;letter-spacing:-.015em}
.science-middle__wrapper{min-width:320px;position:relative;max-width:768px;margin:0 auto;padding-left:15px;padding-right:15px;padding-bottom:50px}
@media all and (min-width:1024px){
    .science-top__head{font-size:40px;padding-left:20px;padding-bottom:30px;text-align:center}
    .science-top__title{font-size:30px;padding-left:20px;padding-top:31px;letter-spacing:.023em;padding-bottom:2px}
    .science-top__content{font-size:20px;padding-left:20px;line-height:1.6}
    .science-top__content br{display:none}
    .science-middle__wrapper{max-width:1600px;padding-left:36px;max-width:768px;margin:0 auto;padding-left:31px;padding-right:17px;padding-bottom:113px}
}
.science-middle__items{position:relative}
.science-middle__imgs{position:relative;padding-bottom:15px}
.science-middle__imgs::after{content:"";visibility:hidden;display:block;height:0;clear:both}
.science-middle__item--first{position:absolute;width:48.08%;right:50%;-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0);font-size:0;text-align:right}
@media all and (min-width:1024px){
    .science-middle__imgs{max-width:1037px;margin:0 auto;padding-bottom:32px}
    .science-middle__item--first{width:50.92%;-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}
}
.science-middle__item--second{margin-left:50%;width:51.91%;-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0);font-size:0;text-align:left}
.science-middle__img--first{width:100%;display:inline-block}
.science-middle__img--second{width:100%;display:inline-block;margin-top:9.6666666667px}
@media all and (min-width:1024px){
    .science-middle__item--second{width:48.78%;-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}
    .science-middle__img--first{width:100%}
    .science-middle__img--second{width:100%;margin-top:86px}
}
.science-middle__img--third{margin-top:4.3333333333px;width:84.87%;margin-right:6.3333333333px;display:inline-block}
@media all and (min-width:1024px){
    .science-middle__img--third{width:71.83%;margin-top:-39px;margin-right:20px}
}
.science-middle__img--four{margin-top:2px;display:inline-block;width:78.62%}
.science-middle__img--pc{display:none}
.science-middle__text{font-size:1.1rem;font-size:1.1em;color:#888;line-height:1.5;padding:0 12px}
@media all and (min-width:1024px){
    .science-middle__img--four{width:75.2%;margin-top:40px}
    .science-middle__img--mob{display:none}
    .science-middle__img--pc{display:inline-block}
    .science-middle__text{font-size:20px;line-height:1.6;max-width:1037px;width:100%;margin:0 auto;padding:0}
}
.science-middle__text--second{margin-top:7px}
@media all and (min-width:1024px){
    .science-middle__text--second{margin-top:21px}
    .science-bottom__wrapper{max-width:1600px;padding-left:36px;padding-bottom:36px;max-width:768px;margin:0 auto;padding-left:31px;padding-right:17px}
    .science-bottom__banner{max-width:1036px;margin:0 auto}
}
.science-bottom__container{position:relative;padding-top:31.3333333333px;padding-bottom:51px;overflow:hidden}
.science-bottom__list>.slick-list,.sulwhainside-heritage__list>.slick-list,.sulwhainside-ingredients__list>.slick-list{margin-left:-7px}
.science-bottom__list>.slick-default__dots{width:95%;bottom:-18px}
.science-bottom__item{outline:0;margin-left:7px}
.science-bottom__text-wrapper{padding:19px 12.3333333333px 0}
.science-bottom__title{font-size:1.3rem;font-size:1.3em;margin-bottom:10px;color:#222;line-height:1.1;min-height:36px}
.science-bottom__content{font-size:1.1rem;font-size:1.1em;color:#888;line-height:1.46}
.sulwhainside-ingredients__wrapper{min-width:320px;position:relative;max-width:768px;margin:0 auto;padding-left:15px;padding-right:15px;padding-bottom:34px}
@media all and (min-width:1024px){
    .science-bottom__container{max-width:1036px;margin:0 auto;padding-bottom:0;padding-top:60px}
    .science-bottom__list{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;-js-display:flex;display:flex;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap;margin-left:-21px}
    .science-bottom__list>.slick-list{margin-left:-20px}
    .science-bottom__list>.slick-default__dots{width:100%;bottom:-32px}
    .science-bottom__item{width:calc(~"(50% - 21px)");margin-left:21px}
    .science-bottom__text-wrapper{padding:28px 20px 54px}
    .science-bottom__title{margin-bottom:8px;font-size:30px;font-weight:500;line-height:1.2}
    .science-bottom__content{font-size:20px;line-height:1.55}
    .sulwhainside-ingredients__wrapper{max-width:1600px;padding-left:36px;max-width:768px;margin:0 auto;padding-left:31px;padding-right:17px;padding-bottom:118px}
}
.sulwhainside-ingredients__head{font-size:2rem;font-size:2em;color:#222;font-family:Theinhardt,"Microsoft jhengHei","Microsoft YaHei New","Microsoft Yahei",Arial,Helvetica,sans-serif;font-weight:500;padding-left:12px;letter-spacing:.13em;padding-bottom:14px}
.sulwhainside-ingredients__container{position:relative;padding-bottom:7px;overflow:hidden}
.sulwhainside-ingredients__list>.slick-default__dots{width:95%;bottom:8px}
.sulwhainside-heritage__item,.sulwhainside-ingredients__item{margin-left:7px}
.sulwhainside-ingredients__text-wrapper{padding:11px 12.3333333333px 20px}
.sulwhainside-ingredients__title{font-size:1.3rem;font-size:1.3em;margin-bottom:8px;color:#222;line-height:1.1;font-weight:500}
.sulwhainside-ingredients__content{font-size:1.1rem;font-size:1.1em;color:#888;line-height:1.48;padding-right:13px;padding-left:13px}
.sulwhainside-ingredients__next-slide,.sulwhainside-ingredients__prev-slide{top:calc(51.25% - ((709px - 100%)/ 7.09));background-color:#fff}
@media all and (min-width:1024px){
    .sulwhainside-ingredients__head{max-width:1173px;margin:0 auto;font-size:40px;padding-left:88px}
    .sulwhainside-ingredients__container{max-width:1173px;margin:0 auto;padding:0 68px;padding-bottom:0;padding-top:18px;overflow:hidden}
    .sulwhainside-ingredients__list{margin-left:0;overflow:hidden}
    .sulwhainside-ingredients__list>.slick-list{margin-left:-30px}
    .sulwhainside-ingredients__list>.slick-default__dots{width:100%;bottom:-32px}
    .sulwhainside-ingredients__item{margin-left:30px;outline:0}
    .sulwhainside-ingredients__text-wrapper{padding:24px 11px 0 22px}
    .sulwhainside-ingredients__title{margin-bottom:8px;font-size:30px;font-weight:500;line-height:1.2;letter-spacing:.012em}
    .sulwhainside-ingredients__content{max-width:1173px;margin:0 auto;font-size:20px;line-height:1.55;padding-left:89px;padding-right:115px}
    .story-ginseng{max-width:1600px;padding-left:36px;max-width:768px;margin:0 auto;padding-left:31px;padding-right:17px}
}
.story-ginseng__contents{padding-bottom:50.3333333333px}
.story-ginseng__top-img,.story-ginseng__top-img-wrap,.sulwhainside__img-wrapper img{width:100%}
.story-ginseng__top-info{width:100%;padding:22.3333333333px 12.3333333333px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.story-ginseng__title,.story-ginseng__top-title{font-family:Theinhardt,"Microsoft jhengHei","Microsoft YaHei New","Microsoft Yahei",Arial,Helvetica,sans-serif;font-weight:500;padding-left:.6666666667px;font-size:1.3rem;font-size:1.3em;line-height:1;letter-spacing:-.01em}
.story-ginseng__top-description{margin-top:6.3333333333px;font-size:1.1rem;font-size:1.1em;line-height:1.4545454545;color:#888;word-break:keep-all}
.story-ginseng__bottom{margin-top:6.6666666667px}
.story-ginseng__bottom-banner{margin-bottom:15px;width:100%}
.story-ginseng__bottom-info{padding:0 12.3333333333px}
.story-ginseng__bottom-description{font-size:1.1rem;font-size:1.1em;line-height:1.4545454545;color:#888;word-break:keep-all}
.story-ginseng__bottom-description~.story-ginseng__bottom-description{margin-top:9px}
.sulwhainside-heritage__wrapper{min-width:320px;position:relative;max-width:768px;margin:0 auto;padding-left:15px;padding-right:15px;padding-bottom:10px}
@media all and (min-width:1024px){
    .story-ginseng__contents{max-width:1037px;margin:0 auto;padding-bottom:115px}
    .story-ginseng__top-info{padding:30px 18px 72px}
    .story-ginseng__top-title{font-size:30px;font-weight:500;letter-spacing:normal}
    .story-ginseng__top-description{margin-top:6px;font-size:20px;line-height:1.6}
    .story-ginseng__bottom{margin:0;padding:0}
    .story-ginseng__bottom-banner{margin-bottom:44px}
    .story-ginseng__bottom-info{padding:0 18px 0 20px}
    .story-ginseng__bottom-description{font-size:20px;line-height:1.6}
    .story-ginseng__bottom-description~.story-ginseng__bottom-description{margin-top:6px}
    .story-ginseng__bottom-description--first,.story-ginseng__bottom-description--second{padding:0}
    .sulwhainside-heritage__wrapper{max-width:1600px;padding-left:36px;max-width:768px;margin:0 auto;padding-left:31px;padding-right:17px;padding-bottom:69px}
}
@media all and (min-width:1024px) and (min-width:1024px){
    .science-bottom__wrapper,.science-middle__wrapper,.science-top__wrapper,.story-ginseng,.sulwhainside-heritage__wrapper,.sulwhainside-ingredients__wrapper,.sulwhainside__img-wrapper{max-width:1600px;padding-left:30px;padding-right:30px}
}
.sulwhainside-heritage__head{font-size:2rem;font-size:2em;color:#222;font-family:Theinhardt,"Microsoft jhengHei","Microsoft YaHei New","Microsoft Yahei",Arial,Helvetica,sans-serif;font-weight:500;padding-left:12px;letter-spacing:.12em;padding-bottom:14px}
.sulwhainside-heritage__container{position:relative;padding-bottom:21.3333333333px;overflow:hidden}
.sulwhainside-heritage__list>.slick-default__dots{width:95%;bottom:-21.3333333333px}
.sulwhainside-heritage__text-wrap{padding:19.3333333333px 12.3333333333px}
.sulwhainside-heritage__title{font-family:Theinhardt,"Microsoft jhengHei","Microsoft YaHei New","Microsoft Yahei",Arial,Helvetica,sans-serif;font-weight:500;font-size:1.3rem;font-size:1.3em;margin-bottom:8px;color:#222;line-height:1.1}
.sulwhainside-heritage__content{font-size:1.1rem;font-size:1.1em;color:#888;line-height:1.48;word-break:keep-all}
@media all and (min-width:1024px){
    .sulwhainside-heritage__head{max-width:1036px;margin:0 auto;font-size:40px;padding-left:20px}
    .sulwhainside-heritage__container{max-width:1036px;margin:0 auto;padding-bottom:0;padding-top:18px}
    .sulwhainside-heritage__list{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;-js-display:flex;display:flex;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap;margin-left:-20px}
    .sulwhainside-heritage__list>.slick-list{margin-left:-20px}
    .sulwhainside-heritage__list>.slick-default__dots{width:100%;bottom:-32px}
    .sulwhainside-heritage__item{width:calc(~"(50% - 20px)");margin-left:20px;outline:0}
    .sulwhainside-heritage__text-wrap{max-width:1036px;width:100%;padding:29px 21px;margin:0 auto}
    .sulwhainside-heritage__title{margin-bottom:0;font-size:30px;line-height:1.2;padding-right:10px;letter-spacing:.03em}
    .sulwhainside-heritage__content{font-size:20px;line-height:1.55}
}
/*! ì¶”ê°€ìˆ˜ì • */
.sulwhainside-banner__item{text-align:center;padding:24px 15px 36px}
.cont-plus-wrap .more-content,.sulwhainside-banner__item br{display:none}
.cont-plus-wrap.open .more-content,.science-top__content br{display:block}
.science-top__head{padding-left:0;padding-right:0;text-align:center}
.science-top__title{padding-left:0;padding-right:0;padding-bottom:5px}
.science-bottom__text-wrapper,.science-middle__text,.science-top__content,.story-ginseng__top-info,.sulwhainside-heritage__text-wrap{padding-left:0;padding-right:0}
.science-middle__imgs,.science-middle__wrapper{padding-bottom:25px}
.science-bottom__container{padding-top:10px}
.science-bottom__item,.sulwhainside-heritage__item,.sulwhainside-ingredients__item{margin-left:10px}
.science-bottom__list>.slick-list,.sulwhainside-heritage__list>.slick-list,.sulwhainside-ingredients__list>.slick-list{margin-left:-10px}
.sulwhainside-banner__wrapper--ginsenomics{padding-left:15px;padding-right:15px}
.sulwhainside-banner__item--ginsenomics{text-align:left;padding-left:0;padding-right:0}
.sulwhainside-banner__item--ginsenomics .sulwhainside-banner__btn{margin-top:15px}
.sulwhainside-ingredients__item img{width:100%}
.sulwhainside-heritage__head,.sulwhainside-ingredients__head{padding-left:0;text-align:center}
.sulwhainside-ingredients__container{max-width:1037px}
.sulwhainside-ingredients__content{max-width:1037px;padding:0}
.sulwhainside-ingredients__text-wrapper{padding-left:0}
.story-ginseng__bottom-info{padding:0}
.sulwhainside-heritage__container{padding-bottom:0}
/*! ì»¨í…ì¸  ë”ë³´ê¸° ì¶”ê°€ */
.cont-plus-wrap .btn-more-content{
    display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;-js-display:flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;padding:0;margin-top:5px;font-size:12px;font-family:Theinhardt,"Microsoft jhengHei","Microsoft YaHei New","Microsoft Yahei",Arial,Helvetica,sans-serif;
    background: 0;
    border: 0;
    color: #333;
    outline: 0 !important;
}
.cont-plus-wrap .btn-more-content:before{content:'';width:20px;height:20px;margin-right:5px;display:inline-block;background:url(../images/ic_sulwhainside_plus.svg) 50% 50% no-repeat;background-size:100% 100%;vertical-align:top}
.cont-plus-wrap.open .btn-more-content:before{background-image:url(../images/ic_sulwhainside_minus.svg)}
@media all and (min-width:1024px){
    .sulwhainside-banner__wrapper>img{margin:0 auto}
    .sulwhainside-banner__content{margin-top:28px}
    .sulwhainside-banner__item{padding-top:88px;padding-bottom:44px}
    .sulwhainside-banner__item br{display:block}
    .science-top__wrapper{padding-bottom:72px}
    .science-middle__wrapper{padding-bottom:70px}
    .science-middle__imgs{padding-bottom:66px}
    .science-bottom__title{min-height:72px}
    .science-bottom__container{padding-top:40px}
    .science-bottom__list{margin-left:-20px}
    .science-bottom__item{width:calc(~"(50% - 20px)");margin-left:20px}
    .science-bottom__text-wrapper{padding-bottom:38px}
    .science-bottom__wrapper{padding-bottom:55px}
    .sulwhainside-banner__wrapper--ginsenomics{max-width:1037px;padding-left:30px;padding-right:30px}
    .sulwhainside-banner__content--ginsenomics{margin-top:14px}
    .sulwhainside-banner__item--ginsenomics{margin:0 auto;padding-left:0;padding-right:0;padding-top:20px}
    .sulwhainside-ingredients__wrapper{padding-bottom:64px}
    .sulwhainside-ingredients__content{padding-top:10px}
    .story-ginseng__contents{padding-bottom:80px}
    .story-ginseng__title{font-size:30px;font-weight:500;letter-spacing:normal}
    .cont-plus-wrap .btn-more-content{font-size:18px}
    .cont-plus-wrap .btn-more-content:before{width:22px;height:22px}
}
.blind {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
