@charset "utf-8";


@media only all and (min-width: 1280px) {
    .spa-section {
        padding-left: 7.27272727%;
        padding-right: 7.27272727%;
    }
    .spa-guide-cell {
        padding-left: 5.85106383%;
        padding-top: 2.6%;
        vertical-align: top;
    }
}

.spa-intro {
    position: relative;
}
.spa-intro .h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 65%;
    margin: auto;
    white-space: nowrap;
}
.spa-intro .h1:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.spa-intro .h1 img {
    margin-top: 1em;
    vertical-align: middle;
    white-space: normal;
}
.spa-section-guide {
    padding: 1.5em 7.27272727% 3.5em;
    border-bottom: 1px solid #dddddd;
}
.spa-section {
    padding: 0 5.45454545%;
    font-size: 1.5em;
}
.spa-section-guide .h {
    margin: 1em 0;
    font-size: 2em;
    text-align: center;
}
.spa-section .p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.6;
}
.spa-guide {
    display: table;
    table-layout: fixed;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    border-bottom: 1px solid #dddddd;
}
.spa-guide-thumb {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}
.spa-guide-cell {
    display: table-cell;
    width: 50%;
    padding-left: 4.25531915%;
    vertical-align: middle;
}
.spa-section .h {
    font-size: 1.6em;
    margin-bottom: 0.8em;
    color: #191919;
    font-weight: 400;
    font-family: Theinhardt, 'Microsoft jhengHei', 'Microsoft YaHei New', 'Microsoft Yahei', Arial, Helvetica, sans-serif;
    letter-spacing: -.03em;
    outline: 0 none;
    line-height: initial;
}
.spa-guide .h {
    color: #555;
    font-size: 1.33em;
}
.spa-guide .h span {
    display: block;
    color: #191919;
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: 200;
}
.spa-guide .p {
    font-size: 14px;
}
.spa-section .p {
    margin-top: 1.2em;
    margin-bottom: 0;
    line-height: 1.6;
}


@media only all and (max-width: 1023px) {
    .spa-section {
        padding: 0 3.125%;
        font-size: 1.4em;
    }
    .spa-section-guide {
        padding-left: 5.45454545%;
        padding-right: 5.45454545%;
    }
    .spa-section-guide .h {
        margin: 0.5em 0;
    }
    .spa-guide-cell {
        padding-left: 3.125%;
        vertical-align: top;
    }
}

@media only all and (max-width: 767px) {
    .spa-section-guide {
        padding-top: 1em;
        padding-bottom: 2em;
    }
    .spa-section-guide .h {
        font-size: 1.5em;
    }
    .spa-guide {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .spa-guide-thumb {
        width: 40%;
    }
    .spa-guide-cell {
        width: 60%;
    }
    .spa-guide-cell .h {
        font-size: 1em;
    }


}

@media only all and (max-width: 599px) {
    .spa-intro .h1 {
        width: 75%;
    }
    .spa-section {
        padding-left: 0;
        padding-right: 0;
    }
    .spa-section-guide {
        padding-left: 0;
        padding-right: 0;
    }
    .spa-guide {
        display: block;
    }
    .spa-guide-thumb {
        display: block;
        width: auto;
        text-align: center;
    }
    .spa-guide-thumb img {
        width: 100%;
    }
    .spa-guide-cell {
        display: block;
        width: auto;
        padding-left: 0;
    }
    .spa-guide-cell .h {
        margin-top: 1em;
        font-size: 1.1em;
    }
    .spa-guide-cell .h span {
        font-size: 1.4em;
    }
}







