
.spa-intro {
    position: relative;
}

.spa-intro .h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 65%;
    margin: auto;
    white-space: nowrap;
}

.spa-intro .h1.alt {
    width: 81%;
}

.spa-intro .h1 img {
    margin-top: 1em;
    vertical-align: middle;
    white-space: normal;
}

.spa-intro .h1:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.spa-intro .func {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    font-size: 1.5em;
}

.spa-section {
    padding: 0 5.45454545%;
    font-size: 1.5em;
}

.spa-section-guide {
    padding: 1.5em 7.27272727% 3.5em;
}

.spa-section-guide .h {
    margin: 1em 0;
    font-size: 2em;
    text-align: center;
}

.spa-section-item {
    padding: 3.19148936% 0 3.72340426%;
}

.spa-section .h {
    font-size: 1.6em;
    margin-bottom: 0.8em;
    color: #191919;
    font-weight: 400;
    font-family: Theinhardt, "Microsoft jhengHei", "Microsoft YaHei New", "Microsoft Yahei", Arial, Helvetica, sans-serif;
    letter-spacing: -0.03em;
    outline: 0 none;
}

.spa-section .p {
    margin-top: 1.2em;
    margin-bottom: 0;
    line-height: 1.6;
}

.spa-guide {
    display: table;
    table-layout: fixed;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    border-bottom: 1px solid #ddd;
}

.spa-guide-thumb {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.spa-guide-cell {
    display: table-cell;
    width: 50%;
    padding-left: 4.25531915%;
    vertical-align: middle;
}

.spa-guide .h {
    color: #555;
    font-size: 1.33em;
}

.spa-guide .h span {
    display: block;
    color: #191919;
    font-size: 1.5em;
    line-height: 1.2;
}

.spa-guide .p {
    font-size: 14px;
}

.spa-programs .spa-section {
    border-bottom: 1px solid #ddd;
}

.spa-programs .h2 {
    position: relative;
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 2.6em;
    font-family: Theinhardt, "Microsoft jhengHei", "Microsoft YaHei New", "Microsoft Yahei", Arial, Helvetica, sans-serif;
    text-align: center;
}

.spa-programs .h2 span {
    position: relative;
    padding: 0 3.63636364%;
    z-index: 10;
    background-color: #fff;
    color:#767676;
}

.spa-programs .h2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    margin: auto;
    background-color: #ddd;
    z-index: 1;
}

.spa-programs .p {
    margin: 0;
    color: #999;
}

.spa-programs .flag {
    display: inline-block;
    height: 16px;
    padding: 2px 8px;
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0;
    background-color: #ccc;
    color: #fff;
    text-align: center;
}

.spa-programs .flag.alt {
    color: #aaa;
    background-color: #fff;
    border: 1px solid #ccc;
}

.spa-programs .price {
    display: block;
    margin-top: 2em;
    font-size: 0.93333333em;
    color: #aaa;
}

.spa-programs .price i {
    position: relative;
    margin-right: 6px;
    padding-right: 8px;
}

.spa-programs .price i:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1px;
    height: 12px;
    background-color: #ccc;
}

@media only all and (max-width: 1023px) {
    .spa-section {
        padding: 0 3.125%;
        font-size: 1.4em;
    }
    .spa-section-guide {
        padding-left: 5.45454545%;
        padding-right: 5.45454545%;
    }
    .spa-section-guide .h {
        margin: 0.5em 0;
    }
    .spa-guide-cell {
        padding-left: 3.125%;
        vertical-align: top;
    }
}

@media only all and (max-width: 767px) {
    .spa-section-guide {
        padding-top: 1em;
        padding-bottom: 2em;
    }
    .spa-section-guide .h {
        font-size: 1.5em;
    }
    .spa-guide {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .spa-guide-thumb {
        width: 40%;
    }
    .spa-guide-cell {
        width: 60%;
    }
    .spa-guide-cell .h {
        font-size: 1em;
    }
}

@media only all and (max-width: 599px) {
    .spa-intro .h1 {
        width: 75%;
    }
    .spa-section {
        padding-left: 0;
        padding-right: 0;
    }
    .spa-section-guide {
        padding-left: 0;
        padding-right: 0;
    }
    .spa-guide {
        display: block;
    }
    .spa-guide-thumb {
        display: block;
        width: auto;
        text-align: center;
    }
    .spa-guide-thumb img {
        width: 100%;
    }
    .spa-guide-cell {
        display: block;
        width: auto;
        padding-left: 0;
    }
    .spa-guide-cell .h {
        margin-top: 1em;
        font-size: 1.1em;
    }
    .spa-guide-cell .h span {
        font-size: 1.4em;
    }
}

@media only all and (min-width: 1280px) {
    .spa-section {
        padding-left: 7.27272727%;
        padding-right: 7.27272727%;
    }
    .spa-guide-cell {
        padding-left: 5.85106383%;
        padding-top: 2.6%;
        vertical-align: top;
    }
}

.programs {
    overflow: hidden;
    position: relative;
}

.programs-section {
    position: relative;
}

.programs-section + .programs-section,
.programs-section.gift {
    margin-top: 1.81818182%;
}

.programs-section .more {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    font-size: 1.3em;
}

.programs-section .icon-more:after,
.programs-section .icon-more:before {
    background: #fff;
}

.programs-desc {
    position: absolute;
    top: 21.875%;
    left: 5.36363636%;
    width: 100%;
}

.programs-desc .h {
    font-size: 3em;
    color: #fff;
    font-weight: 400;
    font-family: Theinhardt, "Microsoft jhengHei", "Microsoft YaHei New", "Microsoft Yahei", Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

.programs-desc .p {
    color: #fff;
    font-size: 1.6em;
    font-family: Theinhardt, "Microsoft jhengHei", "Microsoft YaHei New", "Microsoft Yahei", Arial, Helvetica, sans-serif;
    width: 40%;
}

.programs-thumb .thumb-m {
    display: none;
}

.programs-reserve {
    position: relative;
}

.programs-reserve:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    margin: auto;
}

.programs-item {
    position: relative;
    padding: 35px 3.63636364% 35px 31.81818182%;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.programs-item:hover {
    border-color: #333;
}

.programs-item .h {
    position: absolute;
    top: 35px;
    left: 5.45454545%;
    width: 21.81818182%;
    color: #333;
    font-weight: 400;
    font-size: 2em;
    font-family: Theinhardt, "Microsoft jhengHei", "Microsoft YaHei New", "Microsoft Yahei", Arial, Helvetica, sans-serif;
}

.programs-item .desc {
    color: #555;
    font-size: 1.6em;
}

.programs-item .desc .price {
    display: block;
    margin-top: 17px;
    color: #767676;
}

.programs-item .desc i {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    margin-right: 5px;
}

.programs-item .desc i:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1px;
    height: 50%;
    background: #ccc;
}

.programs-item .func {
    position: absolute;
    bottom: 25px;
    right: 8.18181818%;
    margin-top: 0;
    font-size: 1.5em;
}

.programs-item .func .btn {
    padding: 0.6em 2em;
}

@media only all and (max-width: 1023px) {
    .programs-desc .h {
        font-size: 2.7em;
    }
    .programs-desc .p {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
    .programs-item {
        padding: 35px 31.25% 35px 28.125%;
    }
    .programs-item .h {
        font-size: 2em;
        left: 3.63636364%;
    }
    .programs-item .desc {
        font-size: 1.4em;
    }
    .programs-item .func {
        right: 5.45454545%;
    }
}

@media only all and (max-width: 767px) {
    .programs-desc .h {
        font-size: 2em;
    }
    .programs-desc .p {
        width: 75%;
        font-size: 1.1em;
    }
    .programs-item {
        padding: 3.63636364% 5.45454545%;
    }
    .programs-item.first {
        display: block;
        color: #999;
        font-size: 14px;
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .programs-item .h {
        position: static;
        width: auto;
        font-size: 1.8em;
    }
    .programs-item .h br {
        display: none;
    }
    .programs-item .desc {
        font-size: 1.3em;
    }
    .programs-item .func {
        position: static;
        margin-top: 2em;
        font-size: 1.2em;
        text-align: left;
    }
}

@media only all and (max-width: 599px) {
    .programs-desc {
        top: 22.66666667%;
        left: 5%;
        width: 85%;
    }
    .programs-desc .h {
        font-size: 2.5em;
    }
    .programs-thumb {
        overflow: hidden;
    }
    .programs-thumb .thumb-l {
        display: none;
    }
    .programs-thumb .thumb-m {
        display: block;
        margin: -10% 0 -5% 0;
    }
    .programs-list li {
        padding: 21px 7.8125%;
    }
    .programs-list .desc .price {
        margin-top: 15px;
        letter-spacing: 0;
    }
    .programs-list .func {
        margin-top: 1.6em;
    }
    .programs-list .func .btn {
        padding: 0.5em 2.8em;
    }
}

@media only all and (max-width: 384px) {
    .programs-section .more {
        right: 8px;
        bottom: 8px;
        width: 25px;
        height: 25px;
    }
    .programs-desc .h {
        font-size: 2em;
    }
    .programs-desc .p br {
        display: none;
    }
}



.spa-location {
    position: relative;
}

.spa-list > li {
    zoom: 1;
}

.spa-list > li:before {
    content: "";
    display: block;
}

.spa-list > li:after {
    content: "";
    display: table;
    clear: both;
}

.spa-list .more {
    position: absolute;
    bottom: -5px;
    right: 20px;
    width: 30px;
    height: 30px;
    color: #191919;
    font-size: 1.3em;
}

.spa-list .is-active .icon-more {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.spa-list .is-active .icon-more:after {
    opacity: 0;
}

.spa-list .flx {
    background-color: #ccc;
}

.spa-link {
    zoom: 1;
    position: relative;
    display: block;
    padding: 24px 0 25px 0;
    border-bottom: 1px solid #eee;
}

.spa-link:before {
    content: "";
    display: block;
}

.spa-link:after {
    content: "";
    display: table;
    clear: both;
}

.spa-link:focus,
.spa-link:hover {
    text-decoration: none;
    border-bottom-color: #191919;
}

.spa-link:focus .icon-more:after,
.spa-link:focus .icon-more:before,
.spa-link:hover .icon-more:after,
.spa-link:hover .icon-more:before {
    background: #333;
}

.is-active .spa-link {
    margin-bottom: 20px;
}

.is-active .spa-link:focus,
.is-active .spa-link:hover {
    border-bottom-color: #eee;
}

.spa-info {
    display: block;
    position: relative;
    color: #767676;
    font-size: 15px;
    padding-right: 40px;
    padding-left: 135px;
}

.spa-info .mark {
    position: absolute;
    left: 0;
    top: 8px;
}

.spa-info .mark mark {
    display: block;
    width: 108px;
    height: 16px;
    padding-top: 1px;
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0;
    font-family: NotoSans, sans-serif;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #ccc;
    color: #aaa;
    background-color: #fff;
}

.spa-info .mark mark.mark-global {
    color: #fff;
    background-color: #ccc;
}

.spa-info span {
    display: inline-block;
    color: #999;
    margin-right: 2.3em;
}

.spa-info i {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -5px;
}

.spa-info i.icon-arr-down-big {
    display: block;
}

.is-active .spa-info {
    color: #191919;
}

.spa-title {
    display: block;
    color: #333;
    font-family: Theinhardt, "Microsoft jhengHei", "Microsoft YaHei New", "Microsoft Yahei", Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 0.3em;
}

.spa-map {
    visibility: hidden;
    overflow: hidden;
    position: relative;
    height: 0;
    -webkit-transition: height 0.5s ease-out;
    -moz-transition: height 0.5s ease-out;
    -o-transition: height 0.5s ease-out;
    transition: height 0.5s ease-out;
}

.spa-map .map-container {
    height: 380px;
}

.is-active .spa-map {
    visibility: visible;
    height: 380px;
}

@media only all and (max-width: 1023px) {
    .spa-list .more {
        width: 25px;
        height: 25px;
    }
    .spa-list .icon-more {
        width: 25px;
    }
    .spa-list .icon-more:after {
        height: 25px;
    }
    .spa-title {
        font-size: 23px;
    }
}

@media only all and (max-width: 767px) {
    .spa-list .more {
        width: 20px;
        height: 20px;
        right: 15px;
    }
    .spa-list .icon-more {
        width: 20px;
    }
    .spa-list .icon-more:after {
        height: 20px;
    }
    .spa-link {
        padding: 17px 0 16px 0;
    }
    .spa-info {
        padding-left: 0;
    }
    .spa-info .mark {
        position: static;
        top: auto;
        margin-bottom: 7px;
    }
    .spa-info .mark mark {
        display: inline-block;
        margin-bottom: 0;
    }
    .spa-info span {
        margin-right: 2.2em;
    }
    .spa-info span.address {
        display: block;
        margin: 0;
    }
    .spa-title {
        font-size: 15px;
        margin-bottom: 0;
    }
    .spa-map .map-container {
        height: 300px;
    }
    .is-active .spa-map {
        height: 300px;
    }
}

@media only all and (max-width: 599px) {
    .spa-list .more {
        width: 15px;
        height: 15px;
    }
    .spa-list .icon-more {
        width: 15px;
    }
    .spa-list .icon-more:after {
        height: 15px;
    }
    .spa-info {
        font-size: 13px;
    }
    .spa-info span {
        margin-right: 1.5em;
    }
    .spa-title {
        font-size: 15px;
    }
    .spa-map .map-container {
        height: 220px;
    }
    .is-active .spa-map {
        height: 220px;
    }
}

.store-location {
    position: relative;
}

.store-location::-webkit-scrollbar {
    width: 10px;
}

.store-location::-webkit-scrollbar-thumb {
    background: #ccc;
}

.store-search {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    position: relative;
}

.store-search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-right: 65px;
    border: 1px solid #ccc;
    color: #555;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.store-search input.text:focus,
.store-search input[type="password"]:focus,
.store-search input[type="text"]:focus {
    outline: 1px solid #efefef;
    border-color: #555;
}

.store-search .search {
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    width: 60px;
    padding: 0;
    background-color: #999;
    color: #fff;
    font-size: 14px;
}

.store-list {
    overflow-y: scroll;
    width: 25.45454545%;
    height: 523px;
    padding-right: 1.81818182%;
    scrollbar-face-color: #ccc;
    scrollbar-shadow-color: #ccc;
    scrollbar-arrow-color: #fff;
}

.store-list > li {
    zoom: 1;
    border-bottom: 1px solid #eee;
}

.store-list > li:before {
    content: "";
    display: block;
}

.store-list > li:after {
    content: "";
    display: table;
    clear: both;
}

.store-list > li.is-active {
    border-bottom-color: #191919;
}

.store-list > li:hover {
    border-color: #191919;
}

.store-link {
    zoom: 1;
    position: relative;
    display: block;
    padding: 7.5% 0;
}

.store-link:before {
    content: "";
    display: block;
}

.store-link:after {
    content: "";
    display: table;
    clear: both;
}

.store-link:focus,
.store-link:hover {
    text-decoration: none;
}

.store-info {
    display: block;
    padding-right: 20px;
    color: #767676;
    font-size: 13px;
}

.store-info .address {
    display: block;
    word-break: keep-all;
    word-wrap: break-word;
}

.store-info .tel {
    display: block;
    letter-spacing: 1px;
    margin: 0;
}

.store-info i {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -5px;
}

.is-active .store-info {
    color: #191919;
}

.store-title {
    display: block;
    margin-bottom: 0.25em;
    color: #333;
    font: normal 17px/1.3 Theinhardt, "Microsoft jhengHei", "Microsoft YaHei New", "Microsoft Yahei", Arial, Helvetica, sans-serif;
    word-break: keep-all;
    word-wrap: break-word;
}

.is-active .store-title {
    color: #000;
}

.store-map {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 72.72727273%;
    background: #eee;
}

.is-active .store-map {
    visibility: visible;
    z-index: 10;
}

@media only all and (max-width: 1023px) {
    .store-search {
        width: auto;
    }
    .store-list {
        overflow-y: auto;
        width: auto;
        height: auto;
        padding-right: 0;
    }
    .store-list > li {
        zoom: 1;
        border-bottom: 1px solid #eee;
    }
    .store-list > li:before {
        content: "";
        display: block;
    }
    .store-list > li:after {
        content: "";
        display: table;
        clear: both;
    }
    .store-list .is-active .icon-arr-down-big {
        display: none;
    }
    .store-list .is-active .icon-arr-up-big {
        display: block;
    }
    .store-link {
        padding: 20px 0;
    }
    .store-info {
        float: none;
        display: block;
    }
    .store-info .icon-arr-down-big {
        display: block;
    }
    .store-map {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        width: auto;
        height: 0;
        -webkit-transition: height 0.5s ease-out;
        -moz-transition: height 0.5s ease-out;
        -o-transition: height 0.5s ease-out;
        transition: height 0.5s ease-out;
    }
    .store-map .map-container {
        height: 280px;
    }
    .is-active .store-map {
        height: 280px;
    }
}

@media only all and (max-width: 1023px) and (max-height: 480px) {
    .is-active .store-map,
    .store-map .map-container {
        height: 180px;
    }
}

@media only all and (max-width: 1023px) and (min-height: 481px) {
    .is-active .store-map,
    .store-map .map-container {
        height: 250px;
    }
}

@media only all and (max-width: 1023px) and (min-height: 640px) {
    .is-active .store-map,
    .store-map .map-container {
        height: 280px;
    }
}

@media only all and (max-width: 1023px) and (min-height: 680px) {
    .is-active .store-map,
    .store-map .map-container {
        height: 320px;
    }
}
