/* Mobile Privacy Policy, T&C, Membership T&C, FAQ, Shipping Info */
@media only all and (max-width:767px) {
    .cms-privacy-policy, .cms-terms-and-conditions, .cms-membership-terms-and-conditions, .cms-shipping-info, .faq-index-index {
        .page-wrapper > .breadcrumbs {
            display: none;
        }
    }
    .cms-2columns-left-container {
        margin: 0;
        .cms-2columns-sidebar {
            h2 {
                font-size: 14px;
                line-height: 18.5px;
                text-transform: uppercase;
                padding: 16px 20px;
                margin-bottom: 16px;
                margin-left: -20px;
                margin-right: -20px;
                border-bottom: 1px solid #eee;
                position: relative;
                &:after {
                    content: '';
                    width: 12px;
                    height: 12px;
                    display: block;
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8ZyBkYXRhLW5hbWU9IjEycHhfY2FydF9kcm9wZG93bl9DbG9zZSIgdHJhbnNmb3JtPSJtYXRyaXgoLTEsIDAsIDAsIC0xLCAxMiwgMTIpIj4KICAgIDxwYXRoIGRhdGEtbmFtZT0iUmVjdGFuZ2xlIDM0OTM3NiIgc3R5bGU9ImZpbGw6dHJhbnNwYXJlbnQiIGQ9Ik0wIDBoMTJ2MTJIMHoiIHRyYW5zZm9ybT0icm90YXRlKDE4MCA2IDYpIi8+CiAgICA8cGF0aCBkPSJtMTIxLjczMSAyMi4wMTYgNSA1IDUtNSIgdHJhbnNmb3JtPSJyb3RhdGUoMTgwIDY2LjM2NSAxNS4yNTgpIiBzdHlsZT0iZmlsbDpub25lO3N0cm9rZTojMjIyO3N0cm9rZS13aWR0aDoycHgiLz4KICA8L2c+Cjwvc3ZnPg==);
                }
            }

            &._active h2:after {
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj4KICAgIDxnIGRhdGEtbmFtZT0iMTJweF9jYXJ0X2Ryb3Bkb3duX0Nsb3NlIj4KICAgICAgICA8cGF0aCBkYXRhLW5hbWU9IlJlY3RhbmdsZSAzNDkzNzYiIHN0eWxlPSJmaWxsOnRyYW5zcGFyZW50IiBkPSJNMCAwaDEydjEySDB6IiB0cmFuc2Zvcm09InJvdGF0ZSgxODAgNiA2KSIvPgogICAgICAgIDxwYXRoIGQ9Im0xMjEuNzMxIDIyLjAxNiA1IDUgNS01IiB0cmFuc2Zvcm09InJvdGF0ZSgxODAgNjYuMzY1IDE1LjI1OCkiIHN0eWxlPSJmaWxsOm5vbmU7c3Ryb2tlOiMyMjI7c3Ryb2tlLXdpZHRoOjJweCIvPgogICAgPC9nPgo8L3N2Zz4K)
            }

            ul li {
                span, a, a:hover {
                    font-size: 14px;
                }
            }
        }

        &> .page-row > .cms-2columns-sidebar {
            width: 100%;
            padding-top: 0;
            padding-right: 0;
        }

        h1 {
            font-size: 21px;
            line-height: 31.5px;
            margin-top: 5px;
            margin-bottom: 24px;
        }

        h5 {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 8px;
        }

        .cms-content-box {
            font-size: 12px;
            line-height: 18px;

            table tbody tr {
                th {
                    font-size: 12px;
                    color: #222222;
                    font-weight: 500;
                    min-width: 90px;
                }
                td {
                    font-size: 12px;
                    line-height: 18px;
                    &:last-child {
                        text-align: center !important;
                        min-width: 98px;
                    }
                }
                th, td {
                    padding: 12px;
                    border-top: 1px solid #dddddd;
                }
            } 
        }
    }
}
