//
//  Common
//  _____________________________________________

@checkout-source-selector-popup-location_border: @border-width__base solid
@color-gray80;
@checkout-delivery-method-selector-action__background: @color-white;

@checkout-pickup-location-name_font-size: @font-size__l;
@checkout-pickup-location-name_font-weight: @font-weight__bold;

@checkout-pickup-location-name-popup_font-size: @font-size__l;

@checkout-pickup-location-popup-search_padding: 0 0 @indent__s;
@checkout-pickup-location-popup-search_margin: 0 0 @indent__base;
@checkout-pickup-location-popup-search_border: @modal-title__border;

@checkout-pickup-location-popup-note_margin: 0 0 @indent__base;

@checkout-tab-disable-color: #dddddd;

& when (@media-common = true) {
    /**
     * @codingStandardsIgnoreStart
     */
    #cvs-pickup {
        &.selected-shipping {
            ~ #cvs-selector {
                display: none;
            }
        }

        &.selected-cvs-pickup {
            ~ #shipping,
            ~ #opc-shipping_method {
                visibility: hidden;
                height: 0;
                overflow: hidden;
            }

            .form-continue .actions-toolbar {
                margin-top: @indent__l;
            }
        }

        .shipping-message {
            padding: 0 0 @indent__base 0;
        }
    }

    .table-checkout-shipping-method {
        tbody {
            tr:not([id=blackcat]):not(.row-error) {
                &:extend(.abs-visually-hidden all);

                td > * {
                    &:extend(.abs-visually-hidden all);
                }
            }

            td:not(.col-radio):not(.col-note) {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    #delivery-method-selector {
        //  @codingStandardsIgnoreEnd
        .lib-vendor-prefix-display(flex);

        .action {
            .lib-button-l();
            width: 50%;

            &:not(.selected) {
                .lib-button-revert-secondary-color(
                    @_button-color: @primary__color__light,
                    @_button-background: @checkout-tab-disable-color,
                    @_button-border: 1px solid @checkout-tab-disable-color,
                    @_button-color-hover: @primary__color__light,
                    @_button-background-hover: @checkout-tab-disable-color,
                    @_button-border-hover: 1px solid @checkout-tab-disable-color,
                    @_button-color-active: @primary__color__light,
                    @_button-background-active: @checkout-tab-disable-color,
                    @_button-border-active: 1px solid @checkout-tab-disable-color
                );
            }

            &.selected {
                font-weight: @font-weight__bold;

                .lib-button-revert-secondary-color(
                    @_button-color: @primary__color,
                    @_button-background: @color-white,
                    @_button-border: 1px solid @primary__color,
                    @_button-color-hover: @primary__color,
                    @_button-background-hover: @color-white,
                    @_button-border-hover: 1px solid @primary__color,
                    @_button-color-active: @primary__color,
                    @_button-background-active: @color-white,
                    @_button-border-active: 1px solid @primary__color
                );
            }
        }
    }

    .cvs-pickup-address {
        .cvs-map {
            margin-bottom: @indent__s;
        }

        .fieldset {
            margin-bottom: 0;
        }

        .actions {
            padding: 0 0 @indent__base 0;
        }

        .actions .action {
            .lib-button(
                @_button-padding: 11px 0
            );
            .lib-link-as-button();
            width: 135px;
            font-size: @font-size__base;
            font-weight: @font-weight__regular;
            line-height: 1;
            text-align: center;

            &:before {
                content: '';
                background-image: url('../Eguana_GWLogistics/images/7-eleven.svg');
                background-size: 16px;
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: top;
            }

            &.action-open-fami-map {
                &:before {
                    background-image: url('../Eguana_GWLogistics/images/familymart.svg');
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        .selected-cvs-pickup {
            .form-continue .actions-toolbar {
                max-width: 300px;
                margin-left: auto;
            }
        }
    }
}

