// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @product-name-link__text-decoration;
@product-name-link__text-decoration__hover: @product-name-link__text-decoration;
@product-name-link__text-decoration__visited: @product-name-link__text-decoration;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists

    .banner_category {
        position: relative;
        height: 340px;
        @media(max-width: 767px){
            height: 180px;
        }
        img {
            max-height: 100%;
            width: 100%;
            object-fit: cover;
            @media(max-width: 992px){
                height: 100%;
            }
        }
        .banner-cont-wrap {
            position: absolute;
            left: 15%;
            top: 50%;
            transform: translateY(-50%);
            max-width: 500px;
            @media(max-width: 767px){
                left: 30px;
                max-width: 175px;
            }
            .tit {
                font-size: 40px;
                font-family: Theinhardt;
                color: #222;
                font-weight: 700;
                margin-bottom: 10px;
                display: block;
                @media(max-width: 767px){
                    font-size: 18px;
                }
            }
            .desc {
                font-size: 18px;
                color: #222;
                font-family: Theinhardt;
                margin-bottom: 40px;
                line-height: 26px;
                font-weight: 500;
                @media(max-width: 767px){
                    font-size: 14px;
                    display: none;
                }
            }
            .btn-link {
                border: 1px solid #222;
                text-transform: uppercase;
                font-size: 16px;
                font-family: Theinhardt;
                display: inline-block;
                padding: 0 38px;
                line-height: 40px;
                color: #222;
                font-weight: 700;
                text-decoration: none;
                @media(max-width: 767px){
                    font-size: 12px;
                    padding: 0 15px;
                    line-height: 32px;
                }
                &:hover {
                    background: #222;
                    color: #ffffff;
                }
            }
        }
    }

    .products {
        margin: 0;
    }

    .product_tags {
        color: #cd7e3e;
        font-size: 14px;
        margin: 12px 0 0px;
        min-height: 22px;
        font-weight: 500;
    }

    .product_labels {
        span {
            padding: 3px 10px 2px;
            display: inline-block;
            background: #eee1c9;
            text-transform: uppercase;
            color: #222;
            font-size: 12px;
            vertical-align: middle;
            line-height: 1.33;
        }
        .exculusive {
            background: #998253;
            color: #ffffff;
            margin: 0 0 0 -1px;
        }
    }

    .product-item {
        .product_labels {
            position: absolute;
            left: 10px;
            top: 10px;
            z-index: 10;
        }
        .product-image-container {
            background: #FFF;
            width: 100% !important;
        }
    }

    .products-grid {
        .product-item {
            .product-item-name {
                margin: 4px 0 0;
                a {
                    color: #222;
                    height: 44px;
                    font-size: 16px;
                    line-height: 22px;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    word-wrap: break-word;
                    -webkit-box-orient: vertical;
                    word-break: keep-all;
                    hyphens: auto;
                    font-weight: 500;
                    display: block;
                    display: -webkit-box;
                }
            }
            .product-item-details {
                position: relative;
            }
        }
    }
    .product {
        &-items {
            font-size: 0;
            &:extend(.abs-reset-list all);
        }

        &-item {
            font-size: 1.4rem;
            vertical-align: top;
            text-align: center;

            .products-grid & {
                display: inline-block;
                padding: 0;
                width: (100% / 2);

                .product-item-details {
                    .actions-primary {
                        .tocart {
                            &:extend(.abs-action-button-as-link all);
                            &:extend(.abs-actions-addto-gridlist all);
                        }
                    }
                }
            }

            &:nth-child(2n + 1) {
                margin-left: 0;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                .lib-font-size(16);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
                font-family: 'Theinhardt', @font-family__sans-serif;
            }

            &-info {
                position: relative;
                max-width: 100%;

                .page-products & {
                    width: auto;
                }
            }

            &-details {
                .addto {
                    margin: @indent__s 0;
                }

                .actions-primary {
                    display: block;
                }

                .actions-secondary {
                    margin: 0;
                    display: inline-block;
                    vertical-align: middle;
                    white-space: nowrap;
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            &-short-description {
                .lib-font-size(18);
                line-height: 28px;
                color: @primary__color__lighter;
                word-break: keep-all;
                word-wrap: break-word;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                    line-height: 0px;
                }

                .reviews-actions {
                    display: none;
                    font-size: @font-size__s;
                    margin-top: 5px;
                    text-transform: lowercase;
                }
            }

            .price-box {
                margin: 8px 0 6px;

                .configurable-price-title {
                    display: none;
                }

                .price {
                    white-space: nowrap;
                    font-size: 18px;
                    font-weight: 700;
                    color: #222;
                }

                .price-label {
                    .lib-font-size(16);

                    &:after {
                        content: ':';
                    }
                }
            }

            .special-price,
            .minimal-price {
                .price {
                    .lib-font-size(16);
                }

                .price-wrapper {
                    display: inline-block;
                }

                .price-including-tax + .price-excluding-tax {
                    display: block;
                }
            }

            .old-price {
                .price {
                    font-weight: @font-weight__regular;
                    color: #767676;
                    .lib-font-size(12);
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-label {
                    display: inline-block;
                }
                .price-container {
                    display: inline-block;
                }
            }

            .minimal-price-link {
                margin-top: 5px;

                .price-label {
                    .lib-css(color, @link__color);
                    .lib-font-size(16);
                }

                .price {
                    font-weight: @font-weight__regular;
                }
            }

            .normal-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price-link,
            .price-excluding-tax,
            .price-including-tax {
                white-space: nowrap;
            }


            .price-from,
            .price-to {
                margin: 0;
                display: inline-block;
            }

            .todetail {
                background: @color-white;
                border: 1px solid @primary__color;
                color: @primary__color;
                text-align: center;
                text-transform: uppercase;
            }

            .tocart {
                white-space: nowrap;
                text-transform: uppercase;
                font-weight: 700 !important;
            }

            .products-grid:not(.wishlist) &,
            .products-list & ,
            .table-comparison & {
                .tocart:hover {
                    background: #CD7E3E;
                    border: 1px solid #CD7E3E;
                    color: #FFFFFF;
                }
            }
        }
    }

    .price-container {
        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(16);
        }

        .weee {
            &:before {
                content: '('attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .list-contents {
            cursor: default !important;
            position: relative;
            z-index: 10;
        }

        .cover {
            background: #f7f7f7;
            content: '';
            height: 100%;
            left: 100%;
            position: absolute;
            top: 100%;
            width: 100%;
            z-index: 1;
        }

        .product {
            &-items {
                overflow: hidden;
                position: relative;
            }

            &-item {
                overflow: hidden;
                width: 100%;

                &-first {
                    .lib-font-size(14);

                    .product-item-photo {
                        display: none;
                    }

                    .price-box {
                        margin: @indent__s 0;
                    }

                    .todetail {
                        background: @color-white;
                        border: 1px solid @primary__color;
                        color: @primary__color;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    .product-item-details {
                        width: 100% !important;

                        .actions-secondary {
                            display: none;
                        }
                    }
                }

                .product-item-container {
                    padding: 30px 24px 20px;
                    position: relative;
                }

                &:last-child {
                    border-bottom: 1px solid #e2e2e2;
                }

                &:before {
                    content: '';
                    display: inline-block;
                    left: 0;
                    right: 0;
                    height: 1px;
                    background: #e2e2e2;
                    position: absolute;
                    margin-top: -1px;
                    z-index: 11;
                }

                &-contents-wrapper {
                    display: inline-block;
                    position: relative;
                    width: 100%;
                }

                &-photo {
                    display: block;
                    pointer-events: none;
                }

                &-actions {
                    .actions-primary {
                        margin-top: @indent__s;
                    }
                }

                &-details {
                    position: relative;

                    .addto,
                    .product-item-name {
                        display: none;
                    }
                }

                &-name {
                    .text-ellipsis(2,auto);
                    .lib-font-size(18);
                    line-height: 1.1;
                    color: @primary__color__dark;
                    margin: 0 0 @indent__xs;
                }

                &-name-en {
                    font-family: 'Theinhardt', @font-family__sans-serif;
                    font-size: 16px;
                }

                &-short-description {
                    .lib-font-size(12);
                    color: @secondary__color;
                    line-height: 1.4;
                    margin-top: @indent__xs;

                    ul {
                        padding-left: @indent__base;
                        list-style-type: square;

                        li {
                            margin-bottom: 0;
                        }
                    }
                }

                .actions-secondary {
                    display: none;
                }

                form {
                    display: inline-block;
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }

    .products-list li {
        &:hover,
        &:focus {
            .todetail {
                background-color: @primary__color;
                border-color: @primary__color;
                color: @color-white;
            }

            .tocart {
                background-color: @theme__color__primary-alt;
                border-color: @theme__color__primary-alt;

                &:hover,
                &:focus {
                    background-color: @theme__color__primary-alt;
                    border-color: @theme__color__primary-alt;
                    color: @color-white;
                }
            }
        }
    }

    .catalog-category-view, .search.results {
        .products-grid .product-items {
            .product-item {
                .product-item-details {
                    text-align: left;
                    .action.tocart {
                        width: 100%;
                        position: absolute;
                        top: -40px;
                        margin: 0;
                        z-index: 111;
                        visibility: hidden;
                        background: #222;
                        color: #fff;
                        left: 0;
                        height: 40px;
                        line-height: 40px;
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }
                &:hover .product-item-details .action.tocart {
                    visibility: visible;
                }
            }
        }
    }

    .products-grid .product-items {
        .product_box_photo {
            overflow: hidden;
            position: relative;
            .action.tocart {
                width: 100%;
                position: absolute;
                bottom: -40px;
                margin: 0;
                visibility: hidden;
                left: 0;
                right: 0;
                z-index: 9;
                transition: all 0.3s;
            }
        }
        li:hover .product_box_photo .action.tocart {
            visibility: visible;
            bottom: 0;
        }
    }
    @media(max-width: 767px){
        .product-item-name {
            font-size: 13px;
            line-height: 19px;
            margin: 0 0 2px;
        }
        .product_tags {
            font-size: 12px;
            margin: 3px 0 1px;
            min-height: 18px;
            -webkit-line-clamp: 1;
            overflow: hidden;
            -webkit-box-orient: vertical;
            text-overflow: clip;
            display: -webkit-box;
        }
        .products-grid .product-item {
            .product-item-name {
                margin: 0;
                a {
                    height: 40px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        .product-item {
            .old-price .price {
                font-weight: 400;
                color: #767676;
                font-size: 12px;
            }
            .special-price .price, .minimal-price .price {
                font-size: 14px;
            }
            .price-box {
                .price {
                    font-size: 14px;
                }
                .price-box {
                    margin: 0;
                }
                .price-label {
                    font-size: 12px;
                }
            }
        }
        .products-grid .product-item .product-item-details {
            .product-item-inner {
                margin: 5px 0 0;
            }
            .actions-primary .tocart {
                background: #222;
                padding: 10px 29.5px;
                margin: 18px 0 0;
                span {
                    height: auto;
                    width: auto;
                    margin: 0;
                    clip: initial;
                    overflow: initial;
                    position: static;
                    color: #fff;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}




//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;
        }
    }

    .search.results  {
        .products-grid {
            .product-items {
                .product-item {
                    .product-item-details {
                        .actions-primary {
                            display: block;
                        }
                        .action.tocart {
                            position: static;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    .catalog-category-view {
        .breadcrumbs {
            display: none;
        }
        .toolbar-products {
            text-align: right;
        }
        .products-grid {
            .product-items {
                margin: 0 -10px;
                .product-item-details .action.tocompare {
                    display: inline-block;
                    margin: 0;
                    position: static;
                }
                .product-item {
                    padding: 0 10px;
                    margin-bottom: 30px;
                    .product-item-details {
                        .actions-primary {
                            display: block;
                        }
                        .action.tocart {
                            position: static;
                            visibility: visible;
                        }
                    }
                }
            }
        }
        .category-filter-items {
            top: 25px;
        }
    }

    .block.filter {
        margin-bottom: 20px;
        display: inline-block;
        float: left;
        width: 110px;
        text-align: center;
        .filter-title {
            display: block;
            margin-bottom: 0;
            strong {
                font-size: 14px;
                text-transform: uppercase;
                display: inline-block;
                border: 1px solid #222;
                height: 40px;
                width: 100%;
                padding: 0px 20px 0 40px;
                cursor: pointer;
                background: url(../images/icon_filter.svg) 15px center no-repeat;
                background-size: 24px;
                box-sizing: border-box;
                line-height: 40px;
                margin-top:12px;
            }
        }
        .filter-content {
            display: none;
        }
        .filter-options {
            .filter-options-title {
                padding: 16px 0 14px;
            }
            .filter-option {
                margin-bottom: 0;
            }
        }
        .amshopby-fromto-wrap.am-filter-items-price  {
            width: 100%;
        }
        .block-actions.filter-actions {
            text-align: left;
        }
        .amshopby-filter-current {
            .amshopby-items {
                padding: 0;
            }
            .amshopby-filter-value {
                text-align: left;
            }
        }
        &.active {
            position: fixed;
            z-index: 99;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: auto;
            background: #fff;
            padding-top: 49px;
            width: 100%;
            margin-bottom: 0;
            .filter-content {
                display: block;
                padding: 0 20px;
            }
            .block-title.filter-title {
                position: fixed;
                right: 20px;
                top: 15px;
                strong {
                    border: 0;
                    padding: 0;
                    text-indent: -999em;
                    width: 25px;
                    height: 25px;
                    position: relative;
                    z-index: 19;
                    background: none;
                }
                &::after {
                    content: "\e616";
                    font-family: 'icons';
                    position: absolute;
                    left: 4px;
                    top: 2px;
                    font-size: 16px;
                    z-index: 8;
                }
            }
        }
    }
    .filter-active {
        overflow: hidden;
        .page-header, .taskbar {
            z-index: 1;
        }
    }
    .block.filter + .block.block-compare {
        display: inline-block;
        margin: 0 0 0 10px;
        width: calc(~"100% - 120px");
        .block-title {
            margin: 0;
            padding: 0;
            #block-compare-heading {
                border: 1px solid #ddd;
                display: block;
                line-height: 40px;
                text-align: center;
                font-size: 14px;
                text-transform: uppercase;
                margin-top:12px;
            }
        }
        .block-content, #compare-clear-all, .empty {
            display: none;
        }
    }
    .product-item .product_labels {
        left: 6px;
        top: 6px;
    }


}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product {
        &-item {
            .products-grid & {
                margin-bottom: 0;
            }

            &-actions {
                .actions-primary + .actions-secondary {
                    > * {
                        white-space: normal;
                    }
                }
            }
        }
    }

    .products-grid .product-item {
        width: 100%/3;
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                padding: 0;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .product {
        &-items {
            .tocompare {
                display: none;
            }
        }

        &-item {
            .products-grid & {
                .product-item-details {
                    .actions-primary {
                        .tocart {
                            .lib-icon-font-symbol(
                                    @icon-cart
                            );
                            min-width: auto;
                            margin-top: 0;

                            &:before {
                                content: "";
                                font-size: 22px;
                                line-height: 24px;
                                font-weight: @font-weight__bold;
                            }
                        }
                    }
                }
            }

            &-details {
                .actions-primary {
                    display: inline-block;
                    margin: 0;
                }
            }
        }
    }

    .products-list {
        margin-left: -@layout__width-xs-indent;
        margin-right: -@layout__width-xs-indent;

        .product {
            &-item {
                height: auto !important;
                text-align: center;

                &-first {
                    margin-bottom: @indent__base;
                    padding: @indent__l 24px 50px;
                    position: relative;

                    .list-contents {
                        transform: none !important;
                        text-align: center;
                    }

                    .list-contents,
                    .product-item-contents-wrapper,
                    .product-item-info,
                    .product-item-details {
                        position: static;
                    }

                    .product-item-inner {
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        right: 0;
                        width: 100%;
                    }

                    .product-item-actions {
                        padding: 0 24px;

                        .actions-primary {
                            width: 100%;

                            > * {
                                display: inline-block;
                                float: left;
                                width: calc(~'50% - @{indent__xs}');
                            }

                            .todetail {
                                margin-right: @indent__xs;
                            }

                            > form {
                                margin-left: @indent__xs;
                            }

                            .tocart {
                                width: 100%;
                            }
                        }
                    }
                }

                &-contents-wrapper {
                    display: inline-block;
                    position: relative;
                    width: 100%;
                }

                &-photo {
                    margin: auto;
                }

                .todetail,
                .tocart {
                    line-height: 34px;
                }

                .todetail {
                    width: calc(~'50% - 5px');
                    float: left;
                    margin-right: 5px;
                }

                .tocart {
                    width: 100%;
                }

                .actions-primary {
                    display: flex;

                    .todetail{
                        &:last-child {
                            width: 100%;
                            margin: 0;
                        }
                    }

                    > form {
                        width: calc(~'50% - 5px');
                        float: left;
                        margin-left: 5px;
                        box-sizing: border-box;
                    }

                    &:after {
                        display: block;
                        content: '';
                        clear: both;
                    }
                }

                .cover {
                    display: none;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                margin-left: 2%;
                padding: 0;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }

    .product {
        &-item {
            .product-image-container {
                vertical-align: middle;
            }
            .products-grid & {
                .product-item-details {
                    position: relative;
                    .actions-primary {
                        .tocart {
                            .lib-link-as-button();
                            .lib-button-primary(
                                @_button-padding: 0
                            );
                            padding: 0 30px;
                            font-family: Theinhardt;
                            font-weight: 700;
                            width: auto;
                            font-size: 16px;
                            margin-top: 18px;

                            &:before {
                                display: none;
                            }

                            span {
                                .lib-visually-hidden-reset();
                            }
                        }
                    }

                    .actions-secondary {
                        display: block;

                        .towishlist {

                        }
                    }
                }
            }

            .products-grid:not(.wishlist) &,
            .table-comparison & {
                &-inner {

                }
            }

            &-info {
                margin-bottom: @indent__s;

                .products-grid:not(.wishlist) &,
                .table-comparison & {
                    &:hover {

                        .product-image-container {
                            position: relative;

                            &:before {
                                background: rgba(242,242,242,0.5);
                                content: '';
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                z-index: 2;
                            }
                        }
                    }
                }
            }

            &-name {
                .lib-font-size(16);
            }
        }

        &-items {
            .tocompare {
                margin-left: 30px;

                &:before {
                    font-size: 22px !important;
                }
            }

            .requisition-list-action {
                > .action.toggle {
                    margin-left: @indent__m;
                }
            }
        }
    }

    .products-list {
        .product {
            &-items {
                &:after {
                    display: block;
                    content: '';
                    clear: both;
                }
            }

            &-item {
                width: 50%;
                float: left;
                padding: 0;
                text-align: left;

                &-first {
                    border: 1px solid #e2e2e2;
                    overflow: hidden;

                    .product-item-container {
                        overflow: hidden;
                        padding: @indent__xl;
                        position: relative;
                    }

                    .list-contents {
                        display: inline-block;
                        float: left;
                        position: relative;
                        width: 55%;
                        z-index: 10;

                        & + div {
                            display: inline-block;
                            float: left;
                            position: relative;
                            width: 45%;
                            z-index: 10;
                        }
                    }

                    .product-item-actions {
                        .actions-primary {
                            width: 55%;

                            > * {
                                display: inline-block;
                            }

                            .tocart {
                                width: 100%;
                            }
                        }
                    }
                }

                .product-item-container {
                    box-sizing: border-box;
                    height: 100%;
                    padding: 40px;
                }

                &-contents-wrapper {
                    display: inline-block;
                    position: relative;
                    width: 100%;
                }

                &-photo {
                    width: 50%;
                    right: -35px;
                    display: inline-block;
                    position: absolute;
                    margin: 0;
                    top: 0;
                }

                &-details {
                    display: inline-block;
                    width: 55%;
                }

                &-name {
                    .lib-font-size(23);
                }

                &-name-en {
                    .lib-font-size(18);
                }

                &-short-description {
                    .lib-font-size(14);
                    line-height: 1.6;

                    ul {
                        margin-top: 50px;
                    }
                }

                &:nth-child(even) {
                    border-left: 1px solid #e2e2e2;
                    border-right: 1px solid #e2e2e2;
                    clear: left;

                    .product-item-container {
                        padding-left: 39px;
                    }
                }

                &:nth-child(odd) {
                    border-right: 1px solid #e2e2e2;

                    &:after {
                        left: -1px;
                    }
                }

                &:nth-last-child(2):nth-last-child(even) {
                    &:after {
                        content: '';
                        display: inline-block;
                        left: 0;
                        right: 0;
                        height: 1px;
                        background: #e2e2e2;
                        position: absolute;
                        margin-top: -1px;
                        z-index: 11;
                    }
                }

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    .product-item-container {
                        padding-bottom: 39px;
                    }
                }
            }
        }

        li {
            .todetail,
            form {
                width: 48%;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .products-grid {
        .product-item {
            width: 100%/5;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {
                margin-bottom: 40px;
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/4;
                    margin-bottom: @indent__l;

                    &:nth-last-child(1),
                    &:nth-last-child(2),
                    &:nth-last-child(4),
                    &:nth-last-child(4) {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

