<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: mobeen
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="eguanacustomrma" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Eguana CustomRMA</label>
            <tab>eguana_extensions_tab</tab>
            <resource>Eguana_CustomRMA::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="active" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="resolution" translate="label comment" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select resolution</label>
                    <comment>Item resolution for rma</comment>
                    <validate>required-entry</validate>
                    <source_model>Eguana\CustomRMA\Model\Config\Source\Resolution</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="condition" translate="label comment" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select condition</label>
                    <comment>Item condition for rma</comment>
                    <validate>required-entry</validate>
                    <source_model>Eguana\CustomRMA\Model\Config\Source\Condition</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="reason" translate="label comment" type="select" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select reason</label>
                    <comment>Item reason for rma</comment>
                    <validate>required-entry</validate>
                    <source_model>Eguana\CustomRMA\Model\Config\Source\Reason</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="reason_other" translate="label comment" type="text" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reason comment</label>
                    <comment>Item reason other comment</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/reason">other</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
