// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@account-nav-background: @sidebar__background-color;
@account-nav-color: false;

@account-nav-current-border: 3px solid transparent;
@account-nav-current-border-color: @active__color;
@account-nav-current-color: false;
@account-nav-current-font-weight: @font-weight__semibold;

@account-nav-delimiter__border-color: @color-gray82;

@account-nav-item-hover: @color-gray91;

@_password-default: @secondary__color;
@_password-weak: #ffafae;
@_password-medium: #ffd6b3;
@_password-strong: #c5eeac;
@_password-very-strong: #81b562;
@_password-strength-meter: #55acee;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-dashboard-info {
        .box-actions .action {
            .lib-button();
            .lib-link-as-button();
            text-align: center;
        }
    }

    .block-addresses-default,
    .block-dashboard-addresses {
        .box {
            border-bottom: 1px solid @border-color__base;
        }

        .block-content {
            .action.edit {
                .lib-icon-font(
                        @icon-settings,
                    @_icon-font: @icon-font,
                    @_icon-font-size: 34px,
                    @_icon-font-line-height: 36px,
                    @_icon-font-color: #ccc,
                    @_icon-font-color-hover: @primary__color__dark,
                    @_icon-font-color-active: @primary__color__dark,
                    @_icon-font-margin: 0,
                    @_icon-font-text-hide: true,
                    @_icon-font-vertical-align: middle,
                    @_icon-font-position: before
                );
            }
        }

        .box-content {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);
            -ms-flex-item-align: center;
            -webkit-align-self: center;
            align-self: center;
        }

        .box-actions {
            text-align: right;
        }

        address {
            &:extend(.abs-address-blocks all);
        }
    }

    .block-dashboard-orders {
        .block-content {
            padding-top: 0 !important;
        }
    }

    .login-container {
        .block {
            &-new-customer {
                .actions-toolbar {
                    margin-top: 25px;
                }
            }

            .block-title {
                &:extend(.abs-login-block-title all);
                .lib-font-size(18);
            }
        }

        .field.choice {
            margin-bottom: 12px !important;
        }
    }

    .block-addresses-list {
        .items.addresses {
            > .item {
                margin-bottom: @indent__base;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .form-address-edit {
        .region_id {
            display: none;
        }

        .actions-toolbar .action.primary {
            &:extend(.abs-button-l all);
        }
    }

    .form-edit-account {
        .fieldset.password {
            display: none;
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-information,
    .box-newsletter {
        .box-content {
            line-height: 26px;
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            &.field {
                > .label {
                    &:extend(.abs-visually-hidden all);

                    + .control {
                        width: 100%;
                    }
                }
            }

            .field {
                &:extend(.abs-add-clearfix all);
            }
        }
    }

    //
    //  My account
    //  ---------------------------------------------

    .account {
        .column.main {
            h2 {
                margin-top: 0;
            }

            .toolbar {
                text-align: center;
                .limiter-options {
                    width: auto;
                }
            }

            .limiter {
                >.label {
                    &:extend(.abs-visually-hidden all);
                }
            }

            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
                margin-bottom: 100px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .action.back {
                display: none;
            }
        }

        .sidebar-additional {
            margin-top: 40px;
        }

        .table-wrapper {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .table-return-items {
            .qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                }
            }
        }
    }

    //  Checkout address (create shipping address)
    .field.street {
        .field {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Account navigation
    //  ---------------------------------------------

    .account-nav {
        &:extend(.abs-nav-blocks all);
    }

    //
    //  Blocks & Widgets
    //  ---------------------------------------------

    .block {
        &:extend(.abs-margin-for-blocks-and-widgets all);
        .column.main & {
            &:last-child {
                margin-bottom: 0;
            }
        }

        p:last-child {
            margin: 0;
        }
    }

    //
    //  Password Strength Meter
    //  ---------------------------------------------
    div[data-role=password-strength-meter] {
        margin-top: @indent__base;

        &.password-weak {
            span.password-weak {
                background-color: @_password-strength-meter;
            }
        }

        &.password-medium {
            span.password-weak,
            span.password-medium {
                background-color: @_password-strength-meter;
            }
        }

        &.password-strong {
            span.password-weak,
            span.password-medium,
            span.password-strong {
                background-color: @_password-strength-meter;
            }
        }

        &.password-very-strong {
            span.password-weak,
            span.password-medium,
            span.password-strong,
            span.password-very-strong {
                background-color: @_password-strength-meter;
            }
        }

        .password-strength-meter {
            color: @primary__color__darker;
        }
    }

    .password-strength-meter-status {
        .lib-vendor-prefix-display(flex);
        margin-top: 8px;
        -webkit-justify-content: space-between;
        justify-content: space-between;

        span {
            background-color: @_password-default;
            height: 4px;
            margin: 0 4px 0 0;
            width: 25%;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .control.captcha-image {
        .lib-css(margin-top, @indent__s);

        .captcha-img {
            vertical-align: middle;
        }
    }

    .form-login {
        input:not(.checkbox) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    .form-login,
    .form.minisearch {
        input:not(.checkbox) {
            .lib-font-size(18) !important;
            border-left: none !important;
            border-right: none !important;
            border-top: none !important;
            height: 55px !important;
            .lib-input-placeholder(#a0a0a0);

            &:focus {
                background: transparent !important;
            }
        }
    }

    .form-login {
        .field:not(.choice) {
            label {
                &:extend(.abs-visually-hidden all);
            }
        }

        .actions-toolbar .action.login {
            .lib-button-l();
        }

        .field.email {
            margin-bottom: @indent__m !important;
        }

        .actions-toolbar {
            .primary {
                margin: 12px 0 24px 0;
            }

            .secondary {
                width: 100%;

                a {
                    .lib-font-size(15);

                    & + a {
                        &:before {
                            content: '|';
                            display: inline-block;
                            padding: 0 @indent__base;
                            position: relative;
                            top: -1px;
                        }
                    }
                }
            }
        }

        .fieldset {
            margin-bottom: 0 !important;
        }
    }

    .customer-account-login {
        .page-title-wrapper {
            .page-title {
                text-transform: uppercase;
            }
        }

        main.page-main {
            max-width: 100% !important;
        }

        .columns {
            background-color: @color-white;
        }

        .column.main {
            padding-bottom: 0 !important;
        }
    }

    .customer-account-create {
        .page-title-wrapper {
            overflow: hidden;
        }

        .form-create-account {
            border-top: 2px solid @primary__color__dark;

            .actions-toolbar {
                .secondary {
                    display: none;
                }

                button {
                    text-transform: uppercase;
                }
            }

            button.action {
                &:extend(.abs-button-l all);
            }
        }

        .fieldset.create {
            input[title=Female] {
                margin-left: 35px;
            }
        }
    }

    .customer-account-forgotpassword,
    .customer-account-createpassword {
        .page-title {
            line-height: 36px;
            margin-bottom: @indent__s;
        }

        form {
            .email {
                border-top: 2px solid @primary__color__dark;
                margin-bottom: 36px;
                padding-top: 24px;
            }

            .action {
                &.submit {
                    &:extend(.abs-button-xl all);
                    margin: 0;
                }

                &.back {
                    display: none !important;
                }
            }

            .note {
                text-align: center;
            }

            &.reset {
                .field.password {
                    border-top: 2px solid @primary__color__dark;
                    padding-top: 24px;
                }
            }
        }
    }

    .account {
        .column.main {
            .empty {
                .lib-font-size(16);
                color: #787878;
                line-height: 24px;

                &.message {
                    background: none;
                    padding: 0;
                    text-align: center;

                    span {
                        .lib-icon-font(
                                @icon-information,
                            @_icon-font: @icon-font,
                            @_icon-font-size: 40px,
                            @_icon-font-line-height: @indent__xl,
                            @_icon-font-color: @primary__color__lighter,
                            @_icon-font-color-hover: @primary__color__lighter,
                            @_icon-font-color-active: @primary__color__lighter,
                            @_icon-font-margin: 0,
                            @_icon-font-vertical-align: middle,
                            @_icon-font-position: before
                        );

                        &:before {
                            background-color: transparent;
                            display: block;
                            margin: 0 0 @indent__s 0 !important;
                            height: @indent__xl;
                            position: relative;
                            top: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .customer-account-login {
        .page-title-wrapper {
            .page-title {
                margin-bottom: @indent__base !important;
            }
        }

        main.page-main {
            background: url('../images/login-bg-mb.png') no-repeat 100% 50%;
            background-size: cover;
        }

        .columns {
            margin-bottom: 24px !important;
            padding: 24px @layout__width-xs-indent;
        }
    }

    .login-container {
        .fieldset {
            &:after {
                text-align: center;
            }
        }
    }

    .field.persistent {
        padding-top: 17px;
        padding-left: 8px;
    }

    .account {
        .messages {
            margin-bottom: 0;
        }

        .toolbar {
            &:extend(.abs-pager-toolbar-mobile all);
        }

        .message.empty {
            margin: 65px 0 0 0;
        }
    }

    .control.captcha-image {
        .captcha-img {
            .lib-css(margin-bottom, @indent__s);
            display: block;
        }
    }

    .customer-account-index {
        .page-title-wrapper {
            position: relative;
        }
    }

    .form.search.advanced {
        .field.price {
            .with-addon {
                .input-text {
                    flex-basis: auto;
                    width: 100%;
                }
            }
        }
    }

    .customer-account-forgotpassword,
    .customer-account-createpassword {
        .page-title {
            .lib-font-size(26) !important;
        }

        .column.main {
            .note {
                margin-bottom: @indent__base;
            }

            .actions-toolbar {
                bottom: 0;
                left: -@layout__width-xs-indent;
                position: fixed;
                right: -@layout__width-xs-indent;
            }
        }
    }

    .customer-account-login,
    .customer-account-forgotpassword,
    .customer-account-createpassword,
    .customer-account-create {
        .page-title-wrapper {
            .page-title {
                margin-bottom: 15px !important;
            }
        }

        .columns {
            margin-top: 7px;
        }
    }

    .customer-account-create {
        .form-create-account {
            margin-bottom: @indent__xl;

            .actions-toolbar {
                bottom: 0;
                left: 0;
                position: fixed;
                right: 0;

                button {
                    &:extend(.abs-button-l-mobile all);
                }
            }

            fieldset.create.account {
                border-bottom: 2px solid @primary__color__dark;
                padding-bottom: 22px;
            }

            .field-name-firstname {
                padding-top: @indent__base;
            }
        }
    }

    .block-dashboard-info {
        .box-information .box-content {
            padding: 8px 0 24px 0;
        }

        .box-actions {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);
            margin-left: -@indent__s;

            .action {
                margin-left: @indent__s;
                padding: 8px 0;
                width: 50%;
            }
        }
    }

    .block-addresses-default,
    .block-dashboard-addresses {
        .box {
            padding-bottom: 24px;
            overflow: hidden;

            &.box-address-shipping,
            &.box-shipping-address {
                padding-top: 24px;
            }
        }

        address {
            width: 74.375%;
        }

        .box-actions {
            padding-right: @indent__xs;
            width: 25.625%;
        }
    }

    .account {
        .column.main {
            .block:not(.widget) {
                margin-bottom: 64px;
            }
        }
    }

    .block-addresses-list {
        .empty {
            margin-bottom: 48px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-dashboard-info {
        .box-actions .action {
            min-width: 180px;
        }

        .box-information {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);

            > div {
                width: 50%;

                &.box-actions {
                    padding: 24px 0;
                    text-align: right;

                    .change-password {
                        margin-left: @indent__base;
                    }
                }
            }
        }
    }

    .block-addresses-default,
    .block-dashboard-addresses {
        .block-content .box {
            .lib-vendor-prefix-display(flex);
            padding-bottom: 16px;

            &.box-address-shipping,
            &.box-shipping-address {
                padding-top: 16px;
            }

            .box-title {
                padding-right: @indent__base;
                width: 22.72%;
            }

            .box-content {
                width: 77.28%;
            }

            address {
                width: 70.58%;
            }

            .box-actions {
                width: 29.42%;
            }
        }
    }

    .customer-account-index {
        .sidebar-main {
            padding-top: 33px;
        }
    }

    .customer-account-login,
    .customer-account-forgotpassword,
    .customer-account-createpassword,
    .customer-account-create {
        .page-title-wrapper {
            overflow: hidden;

            .page-title {
                margin-bottom: 35px !important;
            }
        }

        main.page-main > .page.messages {
            margin: 0 auto !important;
            width: 780px;
        }

        .columns {
            margin-top: 15px !important;
        }
    }

    .customer-account-create {
        .form-create-account {
            margin-bottom: 120px;

            .actions-toolbar {
                margin-top: 80px;
                width: 100%;

                button {
                    width: 380px;
                };
            }

            .field-name-firstname {
                padding-top: 16px;
            }
        }

        .page-title-wrapper,
        .columns {
            margin: 0 auto;
            width: 580px;
        }
    }

    .customer-account-forgotpassword,
    .customer-account-createpassword {
        .page-title {
            .lib-font-size(28) !important;
        }

        .column.main {
            margin-bottom: 150px;

            form {
                margin: 0 auto;
                max-width: 580px;

                .fieldset {
                    margin-bottom: 100px;
                }
            }

            .note {
                margin-bottom: 24px;
            }

            .action {
                width: 380px;
            }
        }
    }

    .customer-account-login {
        main.page-main {
            background: url('../images/login-bg.png') no-repeat 100% 50%;
            background-size: cover;
            padding: 0 !important;

            > div {
                margin: 0 auto;
                width: 580px;
            }
        }

        .columns {
            margin-bottom: 85px !important;
            padding: 48px 64px;
        }
    }

    .login-container {
        &:extend(.abs-add-clearfix-desktop all);

        .actions-toolbar {
            .primary {
                width: 100%;
            }

            .action.login {
                margin-right: 0 !important;
                width: 100% !important;
            }
        }
    }

    .block-addresses-list {
        .block-content {
            position: relative;

            .empty {
                margin-bottom: 0;
                padding-top: 32px;
                padding-right: 180px;

                & + .actions-toolbar {
                    display: inline-block;
                    position: absolute;
                    top: 48px;
                    right: 0;
                }
            }

            .actions-toolbar .secondary {
                display: none;
            }
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            .field {
                .label {
                    .lib-css(margin, @form-field-type-label-inline__margin);
                    .lib-css(padding, @form-field-type-label-inline__padding);
                    .lib-css(text-align, @form-field-type-label-inline__align);
                    .lib-css(width, @form-field-type-label-inline__width);
                    box-sizing: border-box;
                    float: left;
                }

                .control {
                    .lib-css(width, @form-field-type-control-inline__width);
                    float: left;
                }
            }
        }
    }

    //
    //  My account
    //  ---------------------------------------------

    .account {
        .column.main {
            .block:not(.widget) {
                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);
                }
            }

            .message.empty {
                margin: 100px 0 165px 0;
            }

            .table-wrapper {
                .actions {
                    width: 12%;
                }
            }
        }

        .page-title-wrapper {
            overflow: hidden;

            .page-title {
                .lib-font-size(42) !important;
                float: right;
                margin: 0 0 35px 0!important;
                width: 75%;
            }
        }

        .toolbar {
            &:extend(.abs-pager-toolbar all);
        }
    }

    .block-addresses-list {
        .items.addresses {
            &:extend(.abs-add-clearfix-desktop all);
            font-size: 0;

            > .item {
                display: inline-block;
                font-size: @font-size__base;
                margin-bottom: @indent__base;
                vertical-align: top;
                width: 48.8%;

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }

                &:nth-child(even) {
                    margin-left: 2.4%;
                }
            }
        }
    }

    .account-nav {
        .title {
            &:extend(.abs-visually-hidden-desktop all);
        }

        .content {
            display: block !important;
        }
    }

    //
    //  Welcome block
    //  ---------------------------------------------

    .dashboard-welcome-toggler {
        &:extend(.abs-visually-hidden-desktop all);
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }
}
