<?xml version="1.0"?>
<!--
/**
* @author Eguana Team
* @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
* Created by PhpStorm
* User: umer
* Date: 29/6/20
* Time: 1:34 PM
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="mobile_login_config_provider" xsi:type="object">Eguana\MobileLogin\Model\LoginConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="customer_login_authentication_validate_customer" type="Eguana\MobileLogin\Plugin\ValidateCustomer" sortOrder="1" disabled="false"  />
    </type>
</config>
